<template>
  <button
    type="button"
    class="btn btn-sm bg-transparent d-flex flex-column align-items-center p-0 w-100 f-btn"
    role="button"
    @click="showService()"
  >
    <span class="f-icon service-btn" />
    <span>{{ getLang('在線客服') }}</span>
  </button>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
export default {
  props: ['showService'],
  computed: {
    ...mapFields(['userInfo', 'collapseSwitch'])
  }
};
</script>
