<template>
  <button v-if="!userInfo" class="btn btn-sm bg-transparent d-flex flex-column align-items-center p-0 w-100 f-btn">
    <nuxt-link :to="`/register`" style="position:absolute;width:100%;height:100%;top:0;left:0;" />
    <span class="f-icon register-btn new-msg" />
    <span>{{ getLang('註冊') }}</span>
  </button>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
export default {
  props: ['showService'],
  computed: {
    ...mapFields(['userInfo', 'collapseSwitch'])
  }
};
</script>
