<template>
  <button
    v-if="!userInfo"
    type="button"
    class="btn btn-sm bg-transparent d-flex flex-column align-items-center p-0 w-100 f-btn"
    role="button"
    data-toggle="offcanvas"
    @click="collapseSwitch=!collapseSwitch"
  >
    <span class="f-icon login-btn" />
    <span>{{ getLang('登入') }}</span>
  </button>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
export default {
  props: ['showService'],
  computed: {
    ...mapFields(['userInfo', 'collapseSwitch'])
  }
};
</script>
