@charset "UTF-8";
/* CSS Document */
body{
    padding-top: 0px;
    background: #000003 url("~static/images/index-bg.jpg") no-repeat top center;
}
.navbar{
    min-height: 147px;
    width: 1280px;
/*    min-width: 1106px;*/
}
/*
@media (max-width: 1024px){
    .navbar{
        width: 100%;
        z-index: 1030;
    }
}
*/
@media (max-width: 991.98px){
    body{
/*        position: absolute;*/
        padding-top: 66px;
        padding-bottom: 90px;
/*        bottom: 90px!important;*/
        background-position: center 115px;
        background-size: cover;
    }
    .navbar{
        min-height: 66px;
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1031;
        background: url("~static/images/footerBar-bg.png") no-repeat;
        background-size: 100% ;
        /*box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.35);*/
    }
}
/*
.navbar-brand{
    position: absolute;
}
*/
.nav-brand{
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
    margin-top: 25px;
}
.nav-brand img{
}
@media (max-width: 991.98px){
    .nav-brand{
        margin-top: 6px;
    }
    .nav-brand img{
        width: 164px;
        height: auto;		
    }
    .logged-left{
        -ms-flex-direction: column !important;
        flex-direction: column !important;
    }
    .side-menu .dropdown-menu{
/*        background-color: rgba(255,255,255,0.3);*/
        background-color: #000;
    }
    .side-menu .dropdown-item{
        color: #FBB03B;
    }
    .side-menu a:hover{
        color: #FFF;
        text-decoration: none;
    }
}
.navbar-dark .navbar-toggler-icon{
    background-image: url("~static/images/ic_dehaze_24px.svg")
}
.navbar-toggler-icon.close{
    position: absolute;
    top:10px;
    right: 10px;
    background-image: url("~static/images/ic_clear_48px.svg");
}


@media (max-width: 991.98px){
    .offcanvas-collapse{
        top:0px;
        background-color: rgba(0,0,0,0.85);
    }
}
.code-btn{
    padding: 0;
    border: 1px solid #FBB03B;
    background: #CCC;
    height: 30px;
}
.nav-input{
    background-color: transparent;
    border: 1px solid #FBB03B;
}
.nav-btn{
    color: #000;
    padding: 3px;
    border: none;
    background: #914a09; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #914a09 0%, #f4a31e 60%, #F8C571 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  #914a09 0%,#f4a31e 60%,#F8C571 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  #914a09 0%,#f4a31e 60%,#F8C571 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#914a09', endColorstr='#F8C571',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.nav-btn span{
    display: block;
    width: 100%;
    padding: 3px 25px;
    border-radius: 0.25rem;
    background: #F8C571; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #F8C571 0%, #f4a31e 53%, #914a09 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  #F8C571 0%,#f4a31e 53%,#914a09 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  #F8C571 0%,#f4a31e 53%,#914a09 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F8C571', endColorstr='#914a09',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.nav-btn:active, .nav-btn:hover{
    opacity: 0.8;
}
.navbar-dark .navbar-nav .nav-link{
    color: #FBB03B;
}


.lang-sm{
    width: 35px;
    
    padding: 3px;
    border-radius: 50%;
    border: none;
    background: #914a09; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #914a09 0%, #f4a31e 47%, #fffefe 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  #914a09 0%,#f4a31e 47%,#fffefe 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  #914a09 0%,#f4a31e 47%,#fffefe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#914a09', endColorstr='#fffefe',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
/*
@media (max-width: 1024px){
    .navbar .form-inline{
        width: 30%;
        text-align: left;
    }
}
*/
@media (max-width: 991.98px){
    .nav-btn{
        width: 100%;
    }
    .lang-sm{
        margin-bottom: 5px;
    }
    .phone-lang{
     /*width: 80px;*/
    margin-top: -3px;
    margin-bottom: -3px;
    }
}
.text-gold{
    color: #FBB03B;
}
.nav-border{
    border-bottom: 1px solid rgba(255,255,255,0.3)
}
.close{
    opacity: 0.8;
}


/* ============================== marque ============================== */
.modal-content{
    border-radius: 6px;
}
.marquee-block{
    /*margin-top: 170px;*/
    margin-top: -16px;
    padding-left: 70px;
    width: 1280px;
    height: 70px;
    background: url("~static/images/marquee-icon.png") no-repeat;
    background-size: 80px 70px;
}
.marquee{
    background: -moz-linear-gradient(45deg,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.marquee-block .marquee li a{
    color: #000;
}
.modal-header,
.news-popup .modal-footer{
background: #c37714; /* Old browsers */
background: -moz-linear-gradient(left,  #c37714 0%, #f4a31e 56%, #f8c571 100%)!important; /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #c37714 0%,#f4a31e 56%,#f8c571 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #c37714 0%,#f4a31e 56%,#f8c571 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c37714', endColorstr='#f8c571',GradientType=1 ); /* IE6-9 */
}
.modal-header{
    padding: 5px auto!important;
}
.modal-title{
    color: #FFF;
}
@media (max-width: 991.98px){
    .marquee-block{
        /*margin-top: 90px;*/
				margin-top: 0;
        padding-left: 0;
        width: 100%;
        height: 25px;
        background-image: none;
        background-color: rgba(255,255,255,0.7);
    }
    .marquee{
        background: none;
    }
}



/* ============================== footer navbar ============================== */
nav.footer-menu{
	height: 90px;
	background: url(~static/images/footerBar-bg.png) no-repeat 0 100%;
    background-size: 100% 90px;
	padding: 4px 0 0;
    box-shadow: 0px -4px 3px 0px rgba(0, 0, 0, 0.35);
}
nav.footer-menu span{
	display: block;
	font-size: 14px;
    color: rgba(255,255,255,0.8);
}
@media (min-width: 320px){
	nav.footer-menu span{
		font-size: 12px;
	}
}
@media (min-width: 360px){
	nav.footer-menu span{
		font-size: 13px;
	}
}
@media (min-width: 768px){
    nav.footer-menu{
/*        background: url(~static/images/menu-bg-pad.svg) no-repeat 0 100%;*/
/*        background-size: contain;*/
    }
	nav.footer-menu a.flex-column{
		flex-direction: row!important;
		
	}
	nav.footer-menu .dropdown-menu > div > a{
		justify-content: center;
		font-size: 18px;
		padding-top: 5px;
	}
	nav.footer-menu .dropdown-menu > div > a i{
		margin-right: 10px;
	}
    nav.footer-menu span{
        margin-top: -2px;
    }
}

/* btn line*/
nav.footer-menu .f-btn::before{
/*
	position: absolute;
	top:0;
	left: 0px;
	content: "";
	height: 100%;
	width: 100%;
	background: url(~static/images/footer-line-2.svg) no-repeat 0 0;
*/
}

nav.footer-menu .f-icon {
	width: 60px;
	height: 60px;
	color: #FFF;
	background-size: 60px;
	background-repeat: no-repeat;
}
nav.footer-menu button:active{
	-webkit-filter:brightness(1.5);
	filter: brightness(1.5);
}
nav.footer-menu button, nav.footer-menu a{
	position: relative;
	text-align: center;
}

nav.footer-menu .home-btn{
	background-image: url(~static/images/btn-home.png);
}
nav.footer-menu .payment-btn{
	background-image: url(~static/images/btn-payment.png);
}
nav.footer-menu .register-btn{
	background-image: url(~static/images/btn-register.png);
}
nav.footer-menu .service-btn{
	background-image: url(~static/images/btn-services.png);
}
nav.footer-menu .login-btn{
	background-image: url(~static/images/btn-login.png);
}
nav.footer-menu .transfer-btn{
	background-image: url(~static/images/btn-transfer.png);
}

/* footer dropdown*/
/*
nav.footer-menu .finance-drop{
	padding: 0;
}
nav.footer-menu .finance-drop a{
	display: inline-block;
	text-decoration: none;
	padding-top: 14px;
	height: 100%;
	height: 66px;
}
nav.footer-menu .finance-drop i{
	font-size: 24px;
}
nav.footer-menu .finance-drop a:active{
	opacity: 0.8;
}
nav.footer-menu .btn-group.finance-drop, nav.footer-menu .dropdown.finance-drop {
	position:static;
}
nav.footer-menu .finance-drop .dropdown-menu{
	position: absolute;
	padding: 0;
	width: 100%;
	height: 100%;
	border-radius: 0;
	bordor: none;
	-webkit-transform: translate3d(0px, -88px, 0px)!important;
	-ms-transform: translate3d(0px, -88px, 0px)!important;
	-o-transform: translate3d(0px, -88px, 0px)!important;
	transform: translate3d(0px, -88px, 0px)!important;
}
.finance-drop .dropdown-toggle::after{
    display: none;
}

@media (min-width: 320px){
	nav.footer-menu .finance-drop a{
		font-size: 12px;
	}
	nav.footer-menu .finance-drop a i{
		font-size: 24px;
	}
}

@media (min-width: 375px){
	nav.footer-menu .finance-drop a{
		font-size: 14px;
	}
	nav.footer-menu .finance-drop a i{
		font-size: 24px;
	}
}*/
@media (min-width: 320px){
    nav.footer-menu .f-icon {
        width: 50px;
        height: 50px;
        background-size: contain;
    }
}
@media (min-width: 375px){
    nav.footer-menu .f-icon {
        width: 60px;
        height: 60px;
    }
}


/* ============================== main ============================== */
#carouselExampleIndicators{
    width: 817px;
    height: 800px;
    position: relative;
    overflow: hidden;
    margin-top: -45px;
}

#carouselExampleIndicators .overlay{
    background: url("~static/images/Index-mask-outline.png") no-repeat 0 0;
    background-size: 817px 752px;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 817px;
    height: 752px;
}
    
/*修正banner位置 mask*/
.carousel-inner{
    width: 650px;
    margin-top: 16px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;;
    /*fix safari*/
    -webkit-clip-path: ellipse(50% 50%);
    clip-path: ellipse(50% 50%);
}


.ellipse {
    border-radius: 50%;
  /*-webkit-clip-path: ellipse(50% 50%);
  clip-path: ellipse(50% 50%);*/
}





/* ============================== Menu ============================== */

.menu {
  display: inline-block;
  position: absolute;
  top: -66px;/*fix*/
  left: 0;
  width: 817px;
  height:817px;
  
}

.menu > ul {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
  /*border: 1px solid red;*/
  border-radius: 50%;
  box-sizing: border-box;
}

.menu > ul > li {
  display: inline-block;
  text-align: center;
  width: 25%;
  padding-bottom: 25%;
  font-size: 0;
  /*border: 1px solid gray;*/
  border-radius: 50%;
  position: absolute;
  left: -12.5%;
  top: 50%;
  transform: translate(0%, -50%);
  transform-origin: 250% 50%;
  box-sizing: border-box;
  z-index: 3;
}

.menu > ul > li > a {
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 79%;
  /*width: 130px;*/
  height: 79%;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  transform-origin: center;
  /*border: 1px solid #F24;*/
  border-radius: 50%;
}


/* ============================== botton Rotate ============================== */
.menu > ul > li:nth-child(1) {
  transform: translate(0, -50%) rotateZ(0deg);
}

.menu > ul > li:nth-child(2) {
  transform: translate(0, -50%) rotateZ(30deg);
}

.menu > ul > li:nth-child(3) {
  transform: translate(0, -50%) rotateZ(60deg);
    
  pointer-events: none;
}

.menu > ul > li:nth-child(4) {
  transform: translate(0, -50%) rotateZ(90deg);
    
  pointer-events: none;
}

.menu > ul > li:nth-child(5) {
  transform: translate(0, -50%) rotateZ(120deg);
    
  pointer-events: none;
}

.menu > ul > li:nth-child(6) {
  transform: translate(0, -50%) rotateZ(150deg);
}

.menu > ul > li:nth-child(7) {
  transform: translate(0, -50%) rotateZ(180deg);
}

.menu > ul > li:nth-child(8) {
  transform: translate(0, -50%) rotateZ(210deg);
}

.menu > ul > li:nth-child(9) {
  transform: translate(0, -50%) rotateZ(240deg);
}

.menu > ul > li:nth-child(10) {
  transform: translate(0, -50%) rotateZ(270deg);
}

.menu > ul > li:nth-child(11) {
  transform: translate(0, -50%) rotateZ(300deg);
}

.menu > ul > li:nth-child(12) {
  transform: translate(0, -50%) rotateZ(330deg);
}

/* a 中的文字旋转，修正 */
.menu > ul > li:nth-child(1) > a {
  transform: translate(-50%, -50%) rotateZ(0deg);
}

.menu > ul > li:nth-child(2) > a {
  transform: translate(-50%, -50%) rotateZ(-30deg);
}

.menu > ul > li:nth-child(3) > a {
  transform: translate(-50%, -50%) rotateZ(-60deg);
}

.menu > ul > li:nth-child(4) > a {
  transform: translate(-50%, -50%) rotateZ(-90deg);
}

.menu > ul > li:nth-child(5) > a {
  transform: translate(-50%, -50%) rotateZ(-120deg);
}

.menu > ul > li:nth-child(6) > a {
  transform: translate(-50%, -50%) rotateZ(-150deg);
}

.menu > ul > li:nth-child(7) > a {
  transform: translate(-50%, -50%) rotateZ(-180deg);
}

.menu > ul > li:nth-child(8) > a {
  transform: translate(-50%, -50%) rotateZ(-210deg);
}
.menu > ul > li:nth-child(9) > a {
  transform: translate(-50%, -50%) rotateZ(-240deg);
}
.menu > ul > li:nth-child(10) > a {
  transform: translate(-50%, -50%) rotateZ(-270deg);
}
.menu > ul > li:nth-child(11) > a {
  transform: translate(-50%, -50%) rotateZ(-300deg);
}
.menu > ul > li:nth-child(12) > a {
  transform: translate(-50%, -50%) rotateZ(-330deg);
}

/* ============================== menu button ============================== */
.btn-menu{
    position: relative;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("../images/btn-menu-bg.png");
}
/*
.btn-menu em{
    font-style: normal;
}
.btn-casino{
    background-image: url("../images/button-casino@2x.png") 
}
.btn-fishing{
    background-image: url("../images/button-fishing@2x.png") 
}
.btn-card{
    background-image: url("../images/button-card@2x.png") 
}
.btn-promotions{
    background-image: url("../images/botton-promotions@2x.png") 
}
.btn-sport{
    background-image: url("../images/button-sport@2x.png") 
}
.btn-slot{
    background-image: url("../images/button-slot@2x.png") 
}
.btn-lottery{
    background-image: url("../images/button-lottery@2x.png") 
}
.btn-esport{
    background-image: url("../images/button-esport@2x.png") 
}
.btn-horse{
    background-image: url("../images/button-horse@2x.png") 
}
*/

/* Show the game picture */
.btn-menu:hover::after, .btn-menu:active::after,
.btn-menu.active::after
{
    position: absolute;
    top: 0%;
    left: 0%;
    content: "";
    background-size: 100%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.btn-casino:hover::after, .btn-casino:active::after,
.btn-casino.active::after{
    background-image: url("../images/button-casino@2x.png") 
}
.btn-fishing:hover::after, .btn-fishing:active::after,
.btn-fishing.active::after{
    background-image: url("../images/button-fishing@2x.png") 
}
.btn-card:hover::after, .btn-card:active::after,
.btn-card.active::after{
    background-image: url("../images/button-card@2x.png") 
}
.btn-promotions:hover::after, .btn-promotions:active::after,
.btn-promotions.active::after{
    background-image: url("../images/botton-promotions@2x.png") 
}
.btn-sport:hover::after, .btn-sport:active::after,
.btn-sport.active::after{
    background-image: url("../images/button-sport@2x.png") 
}
.btn-slot:hover::after, .btn-slot:active::after,
.btn-slot.active::after{
    background-image: url("../images/button-slot@2x.png") 
}
.btn-lottery:hover::after, .btn-lottery:active::after,
.btn-lottery.active::after{
    background-image: url("../images/button-lottery@2x.png") 
}
.btn-esport:hover::after, .btn-esport:active::after,
.btn-esport.active::after{
    background-image: url("../images/button-esport@2x.png") 
}
.btn-horse:hover::after, .btn-horse:active::after,
.btn-horse.active::after{
    background-image: url("../images/button-horse@2x.png") 
}




/*
.btn-menu:hover::after, .btn-menu:active::after,
.btn-menu.active::after
{
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: url("../images/btn-up.png") no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}
*/
/* Hover menu btn */
.menu a > span{
    position: absolute;
    left: 0;
    width: 100%;
    font-size: 2rem;
    padding: 20px;
    color: #333;
   /* font-weight: bold;*/
    line-height: 1.2em;
}
.menu a.btn-menu,
.menu a.btn-menu,
.menu a.btn-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*
.menu a.btn-menu:hover > span,
.menu a.btn-menu:active > span,
.menu a.btn-menu.active > span{
    font-size: 2rem;
    padding: 20px;
    bottom: inherit;
    font-weight: bold;
    line-height: 1.2em;
}
*/

.btn-other{
    display: inline-block;
    width: 130px;
    height: 130px;
    background-repeat: no-repeat;
    background-size: 100%;
}
.btn-hk{
   background-image: url("../images/button-hk888@2x.png"); 
}
.btn-music{
   background-image: url("../images/botton-music@2x.png"); 
}
.btn-av{
   background-image: url("../images/botton-av@2x.png"); 
}
.btn-tv{
   background-image: url("../images/botton-tv@2x.png"); 
}

.other{
    position: relative;
}
.btn-other:hover::after, .btn-other:active::after{
    position: absolute;
    top: 0;
    content: "";
    background: url("../images/btn-up.png") no-repeat;
    
    background-size: contain;
    width: 130px;
    height: 130px;
}


/* ============================== game button ============================== */
.game-main {
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 10%;
    right: 10%;
    width: 650px;
    height: 650px;
    border-radius: 50%;
    overflow: hidden;
    /*fix*/
    margin-left: 2px;
    margin-top: -1px;
    -webkit-clip-path:circle(50% at 50% 50%);
}
.game-menu{
    position: absolute;
    padding: 16%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}
.game-menu-inside{
    height: 100%;
    width: 100%;
}
.game-menu a{
    position: relative;
    padding: 16px 8px;
}
.game-menu a:active,
.game-menu a:hover{
    -webkit-filter:brightness(1.5);
}
/*system maintenance*/
.game-menu .cover{
    content: "";
    position: absolute;
    top: 16px;
    left: 8px;
    width: 195px;
    height: 48px;
    background: url(../images/maintenance.png) no-repeat;
    background-size: contain;
}
.game-menu .cover span{
    display: none;
}
  
.menu-sport{
    background-image: url("~static/images/bg-sport.png");
}
.menu-casino{
    background-image: url("~static/images/bg-casino.png");
}
.menu-fishing{
    background-image: url("~static/images/bg-fishing.png");
}
.menu-card{
    background-image: url("~static/images/bg-card.png");
}
.menu-slot{
    background-image: url("~static/images/bg-slot.png");
}
.menu-lottery{
    background-image: url("~static/images/bg-lottery.png");
}
.menu-esport{
    background-image: url("~static/images/bg-esport.png");
}
.menu-horse{
    background-image: url("~static/images/bg-horse.png");
}
@media (max-width: 768px){
    #carouselExampleIndicators{
        width: 700px;
        height: 740px;
        margin-top: -57px;
    }
    #carouselExampleIndicators .overlay{
        background-size: 700px 644px;
        width: 700px;
        height: 644px;
    }
    .carousel-inner{
        width: 556px;
        margin-top: 8.4px;
    }
    .carousel-inner img{
        width: 556px;
        height: 556px;
    }
    .menu{
        top: -27px;
        width: 700px;
        height: 644px;
    }
    .game-main{
        top: 36px;
        width: 556px;
        height: 556px;
    }
}

@media (max-width: 428px){
    #carouselExampleIndicators{
        width: 377px;
        height: 380px;
        margin-top: -15px;
    }
    
    #carouselExampleIndicators .overlay{
        background-size: 377px 347px;
        width: 377px;
        height: 347px;
    }
    .carousel-inner{
        width: 300px;
        margin-top: 8.4px;
    }
    .carousel-inner img{
        width: 300px;
        height: 300px;
    }
    .menu{
        top: -15px;
        width: 377px;
        height: 347px;
    }
    
     .btn-other:hover::after, .btn-other:active::after{
        width: 60px;
        height: 60px;
    }
    .menu a > span{
        font-size: 16px;
        padding: 6px;
        font-weight: bold;
    }
    .menu a.btn-menu:hover > span,
    .menu a.btn-menu:active > span,
    .menu a.btn-menu.active > span{
        font-size: 1rem;
        padding: 10px;
    }
    .game-main{
        top: 24px;
        width: 300px;
        height: 300px;
    }
    .game-menu{
        padding: 8% 5%;
    }
    .game-menu a{
        padding: 8px 2px;
    }
    .game-menu img,
    .game-menu .cover{
        width: 140px;
    }
    .game-menu .cover{
        top: 8px;
        left: 2px;
    }
    .btn-menu em{
        display: none;
    }
    .btn-other{
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 375px){
    #carouselExampleIndicators{
        width: 336px;
        height: 340px;
        margin-top: -5px;
    }
    #carouselExampleIndicators .overlay{
        background-size: 336px 309px;
        width: 336px;
        height: 309px;
    }
    .carousel-inner{
        width: 267px;
        margin-top: 6px;
    }
    .carousel-inner img{
        width: 267px;
        height: 267px;
    }
    .game-main{
        top: 36px;
        width: 267px;
        height: 267px;
    }
    .menu{
        top: -29px;
        width: 336px;
        height: 340px;
    }
    .menu a.btn-menu:hover > span,
    .menu a.btn-menu:active > span,
    .menu a.btn-menu.active > span{
        padding: 6px;
    }
}
@media (max-width: 320px){
    #carouselExampleIndicators{
        width: 300px;
        height: 320px;
        margin-top: -10px;
    }
    #carouselExampleIndicators .overlay{
        background-size: 300px 276px;
        width: 300px;
        height: 276px;
    }
    .carousel-inner{
        width: 239px;
        margin-top: 6px;
    }
    .carousel-inner img{
        width: 239px;
        height: 239px;
    }
    .game-main{
        top: 20px;
        width: 239px;
        height: 239px;
    }
    .menu{
        top: -13px;
        width: 300px;
        height: 276px;
    }
}



/* ============================== api ============================== */
.api{
    margin-bottom: 20px;
}
.api h4{
    font-size: 18px;
    text-align: center;
    color: #FFF;
}
.api-logo{
    padding: 20px;
    width: 100%;
    height: 150px;
    text-align: center;
    border-top: 1px solid #FBB03B;
    border-bottom: 1px solid #FBB03B;
}
@media (max-width: 428px){
    .api-logo{
        width: 100%;
        height: auto;
    }
}

.app a:hover,.app a:active{
    opacity: 0.8;
}
.app span{
    padding-left: 12px;
    padding-right: 12px;
}
@media (max-width: 360px){
    .app span{
        padding-left: 6px;
        padding-right: 6px;
    }
}
/**/
.about-nav{
    text-align: center;
}
.about-nav ul{
    padding: 0;
}
.about-nav li{
    list-style: none;
/*    border-right: 1px solid #FFF;*/
}
.about-nav li::after{
    content: "1";
    width: 0px;
    border-right: 1px solid #FFF;
    font-size: 10px;
}
.about-nav li:last-child::after{
    border-right: none;
}
.about-nav li a{
    padding: 0px 24px;
    color: #FFF;
}
@media (max-width: 428px){
    .about-nav li{
        font-size: 14px;
        padding-left: 6px;
    }
    .about-nav li a{
        padding: 0px 4px;
        color: #FFF;
    }
}


.services{
    position: fixed;
    top: 110px;
    right: 0px;
    z-index: 100;
}

/* ============================== phone's fast button tab ============================== */
 .min-menu.nav-pills .nav-link.active, .min-menu.nav-pills .show > .nav-link {
     color: #FBB03B;
     background-color: transparent; 
}
 .min-menu .nav-link{
    padding-left: 0;
     padding-right: 0;
}
.min-menu-card{
    padding: 5px;
    border-radius: 16px;
    background-color: rgba(255,255,255,0.3);
    text-align: center;
    color: #FFF;
}
.min-menu-card a{
    color: #FFF;
}
.min-menu-card img{
    border-radius: 13px;
}
.min-menu-card h5{
    margin-top: 15px;
}
.min-line{
    padding-left: 10px;
    padding-right: 10px;
}
@media (max-width: 768px){
    .min-menu{
        position: relative;
        /*margin-top: 10px;*/
        /*margin-bottom: -30px;*/
        height: 93px;
        padding: 0 30px;
        font-size: 18px;
        /*background: url("../images/phone-navbar-pad.png") no-repeat;
        background-size:  100% 93px;*/
        z-index: 100;
        color: #FFF;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2c308f+0,9b0359+100&0.9+0,0.9+100 */
        background: -moz-linear-gradient(-45deg,  rgba(44,48,143,0.9) 0%, rgba(155,3,89,0.9) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg,  rgba(44,48,143,0.9) 0%,rgba(155,3,89,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg,  rgba(44,48,143,0.9) 0%,rgba(155,3,89,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e62c308f', endColorstr='#e69b0359',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        border-radius: 0 0 26px 26px;
        border: 2px solid rgba(0,0,0,0.8);
        border-top: none;
    }
   
}
@media (max-width: 768px){
    .min-menu{
        height: auto;
        padding: 20px 20px;
        font-size: 22px;
    }
}
@media (max-width: 428px){
    .min-menu{
        padding: 10px 15px;
        font-size: 14px;
    }
}
@media (max-width: 375px){
    .min-menu{
        font-size: 14px;
    }
}
@media (max-width: 320px){
    .min-menu{
        font-size: 12px;
    }
}
 .min-menu li{
    position: relative;
    list-style: none;
}
.min-menu a{
    color: #FFF;
}
.min-menu a:hover, .min-menu a:active{
    color: #FBB03B;
    text-decoration: none;
}
@media (max-width: 375px){
    .min-menu{
       margin-bottom: -20px; 
    }
}


/* ============================== member ============================== */
.member-main{
	padding: 80px 100px;
	max-width: 900px;
	background-color: rgba(255,255,255,0.2);
	border-radius: 5px;
	color: #FFF;
}
.member-main .nav-tabs {
    border-bottom: 1px solid #0FF;
}
.member-main .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
	color: #000;
	background-color: #0FF;
	border-color: #0FF #0FF #0FF;
}
.member-main .nav-tabs .nav-link {
	border: 1px solid transparent;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	background-color: rgba(255,255,255,0.5);
	color: #000;
}
.nav-tabs .nav-link:hover{
	background-color: #FFF;
}
.member-form{
	/*padding: 30px 100px;*/
	padding: 30px 50px;
	border-top: none;
	border-radius: 0;
}
.form-border{
	border: 1px solid #0FF;
}
.member-form h5{
	text-align: center;
	margin-bottom: 15px;
}
.member-form .col-form-label{
	text-align: right;
}
.member-form .form-control{
	color: #FFF;
	background-color: rgba(0,0,0,0.5);
	border-color: transparent;
}
.btn-magenta {
	padding-left: 24px;
	padding-right: 24px;
	color: #fff;
	background-color: #D4145A;
	border-color: #D4145A;
	border-radius: 50px;
}
.btn-magenta:hover,
.btn-magenta:active{
    color: #fff;
    background-color: #A8033F;
    border-color: #A8033F;
}


.tips{
	color: #0FF;
}
.walletTable{
	border-color: #0FF;
}
.table thead th{
	
	border-color: #0FF;
}
.walletTable td, .walletTable th{
	text-align: center;
	border-color: #0FF;
	color: #FFF;
}
.walletTable .th{
	color: #000;
	background-color: #0FF;
}
.table.walletTable td{
	vertical-align: middle;
}
.blue-line{
	border: 1px solid #0FF;
}

@media (max-width: 428px){
    .walletTable{
        font-size: 15px;
    }
}
@media (max-width: 320px){
    .walletTable{
        font-size: 12px;
    }
}
/* ============================== about ============================== */
.aboud-main{
	padding: 50px 50px 80px;
	max-width: 900px;
	background-color: rgba(255,255,255,0.2);
	border-radius: 5px;
    color: #FFF;
    -webkit-backdrop-filter: blur(5px);	
    backdrop-filter: blur(5px);
}
.main-title{
	position: relative;
	text-align: center;
}
.main-title h5{
	margin: 0;
	padding: 4px 34px;
	display: inline-block;
	width: auto;
	background-color:  #0FF;
	color: #000;
	border-radius: 15px;
}
.main-title h5::before{
	position: absolute;
	top:50%;
	left: 0;
	content: "";
	width: 100%;
	height: 1px;
	background-color: #0FF;
	z-index: -1;
}
.aboud-main-content{
	margin-top: 32px;
	padding-left: 9.5%;
	padding-right:  9.5%;
	line-height: 2em;
}
.aboud-main h6{
	font-weight: bolder;
}
.aboud-main p{
	margin-bottom: 32px;
}

@media (max-width: 768px){
	.member-main{
		padding: 30px 20px;
	}
}
@media (max-width: 428px){
    .member-main{
			padding: 20px 20px;
			width: 100%;
		}
	.member-form .col-form-label{
		text-align: left;
	}
	.member-form{
		padding: 20px 20px;
	}
	.member-main .nav-tabs .nav-link{
		padding-left: 0;
		padding-right: 0;
	}
	.aboud-main{
		margin-top: 30px;
		margin-bottom: 30px;
		width: 90%;
	}
	.aboud-main-content{
		padding-right: 2%;
		padding-left: 2%;
	}
}
/* ============================== contact Online service ============================== */

.contact-title{
    display: block;
    font-size: 1.2em;
    margin-bottom: 10px;
}
.contact-banner{
    width: 310px;
    height: 310px;
    background: url("~static/images/contact-banner.png") no-repeat;
    background-size: contain;
}
.contact-data{
	margin-bottom: 40px;
}
.contact-data span{
	font-size: 12px;
}
.contact-icon{
	margin-right: 10px;
	padding-top: 50px;
	width: 50px;
	height: 50px;
	background-size: contain;
	background-repeat: no-repeat;
}
.contact-icon.wechat{
	background-image: url("~static/images/icon-wechat.png");
}
.contact-icon.whatsapp{
	background-image: url("~static/images/icon-whatsapp.png");
}
.contact-icon.telegram{
	background-image: url("~static/images/icon-telegram.png");
}
.contact-icon.skype{
	background-image: url("~static/images/icon-skype.png");
}
.content-name{
	width: 230px;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 50px;
	background-color: rgba(0,0,0,0.5);
	border-radius: 10px;
	font-size: 18px;
}
@media (max-width: 768px){
    .contact-banner{
        margin-bottom: 20px;
    }
}
@media (max-width: 375px){
    .contact-banner{
        width: 260px;
        height: 260px;
    }
}
/* ============================== rules ============================== */
.rules-main-content{
	margin-top: 32px;
	/*padding-left: 9.5%;
	padding-right:  9.5%;*/
	line-height: 2em;
}
.rules-main .card{
	background-color: transparent;
}
.rules-main .card-header{
    padding: 0 1.25rem;
    margin-bottom: 0;
    background-color: #D4145A;
   /* border-bottom: 1px solid rgba(255, 255, 255, 0.125);*/
}
.rules-main .card-header .btn-link{
	color: #FFF;
}
.rules-main .btn-link:hover {
    text-decoration: none;
}
.rules-main .btn-link:focus, .rules-main .btn-link.focus{
	text-decoration: none;
}
.rules-main .card-body{
	background-color: rgba(255,255,255,0.2);
}


/* ============================== discount page ============================== */
.discount-body {
    margin-top: 30px;
}
.discount-body .card{
    background-color: transparent;
    border: none;
    border-radius: 0.25rem;
    padding-bottom: 30px;
}
.discount-body .card-header {
    padding: 0;
    margin-bottom: 0;
    background-color: none;
    border-bottom:  none;
}
.discount-body .card-header .btn-link{
    color: #FFF;
}
.discount-body .card-header .btn{
    padding: 0;
}
.discount-body .card-body{
    background-color: rgba(255,255,255,0.3);
    border-radius: 0 0 0.25rem 0.25rem;
}
.btn-more{
    position: relative;
    margin-top: -54px;
    display: block;
    width: 100%;
    padding: 15px;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    border-radius: 0 0 0.25rem 0.25rem;
    z-index: 3;
}

/* ============================== APP ============================== */
.app-main{
    padding: 80px 10px;
}
.app-banner{
    width: 313px;
    height: 351px;
    background: url("~static/images/app-banner.png") no-repeat;
    background-size: contain;
}
.app-qrcode{
    max-width: 136px;
    height: auto;
}
.app-qrcode img{
    border-radius: 3px;
}
.app-safety{
    width: 196px;
    height: 241px;
    background: url("~static/images/app-Safety.png") no-repeat;
    background-size: contain;
}
@media (max-width: 768px){
	.app-main{
        padding: 50px 10px;
		text-align: center;
	}
}

.btn-more-movie{
    position: relative;
    margin-top: -3px;
    display: block;
    width: 100%;
    padding: 15px;
    text-align: center;
    background-color: rgba(0,0,0,0.7);
    border-radius: 0 0 0.25rem 0.25rem;
    z-index: 3;
}
.discount-body .card-body a{
    color: #FBB03B;
}




/* ============================== Slots Game button ============================== */
.slot-main{
    padding: 50px;
}
.slot-main .game-box {
/*	min-height: 780px;*/
}
.search-btn input{
	border: 1px solid #C59B6D;
	border-radius:8px 0 0 8px;
}
.search-btn .btn{
	color: #FFF;
	background-color: #C59B6D;
	border-radius: 0 8px 8px 0;
}

.slot-main .game-box .game {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	cursor: pointer;
	overflow: hidden;
	margin: 10px 5px;
	width: 90px;
	height: 76px;
	color: #FFF;
	text-align: center;
}
.game-box .game .cover {
	display: none;
}
.game-box .game.disabled .cover {
	display: block;
	width: 100%;
	z-index: 9;
	height: 50px;
	line-height: 50px;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, .6);
	text-align: center;
	color: #fff;
	font-weight: 700;
	font-size: 20px
}
.game-box .game .gameImg img {
	height: 56px;
	width: auto;
	opacity: .01;
	-webkit-transition: opacity 1s ease;
	transition: opacity 1s ease;
	z-index: -1;
}
.game-box .game .gameImg img.load {
	opacity: 1;
	-webkit-transition: opacity 1s ease;
	transition: opacity 1s ease;
}
.game-box .game .gameName {
	position: relative;
	padding-right: 17px;
	padding-left: 8px;
	width: 100%;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	font-weight: bold;
	/*text-align: left;*/
	color: #000;
	background-color: #00FFFF;
	overflow:hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
    border-radius: 0 0 3px 3px;
}
.favstart-on,.favstart-out{
	position: absolute;
	right: 3px;
	top: 3px;
	display: inline-block;
	width: 15px;
	height: 14px;
}
/* .favstart-on{
	background: url(~static/images/favstar-on.svg) no-repeat;
}
.favstart-out{
	background: url(~static/images/favstar-out.svg) no-repeat;
} */
@media (max-width: 428px){
     .slot-main{
        padding: 10px;
    }
}
@media (min-width: 320px){
   
	.slot-main .game-box .game{
	 	width: 90px;
		height: 75px;
 }
	.game-box .game .gameName {
		font-size: 12px;
	}
}
@media (min-width: 375px){
	.slot-main .game-box .game{
		width: 110px;
		height: 88px;
 }
	.game-box .game .gameImg img {
		height: 68px;
	}
	.game-box .game .gameName {
		font-size: 14px;
	}
}
@media (min-width: 414px){
	.slot-main .game-box .game{
		width: 118px;
		height: 92px;
 	}
	.game-box .game .gameImg img {
		height: 72px;
	}
}
@media (min-width: 768px){
    
	.slot-main .game-box .game{
		margin: 10px;
		width: 160px;
		height: 148px;
 	}
	.game-box .game .gameImg img {
		height: 112px;
	}
	.game-box .game .gameName {
		height: 36px;
		line-height: 36px;
		font-size: 16px;
	}
}
.slot-nav-bar{
	position: relative;
	padding: 0 10px;
}

.slot-nav-bar .slot-type-btn{
	background-color: transparent;
}
.slot-nav-bar > div{
	overflow-x: auto;
}
.slot-title h2{
  font-weight: bold;
}
.slot-main .nav-pills{
  margin-right: 70px;
  margin-left: 70px;
}
@media (max-width: 768px){
  .slot-main .nav-pills{
    margin-right: 35px;
    margin-left: 35px;
  }
}
@media (max-width: 428px){
  .slot-main .nav-pills{
    margin-right: 20px;
    margin-left: 20px;
  }
}
/*slot*/

.slot-nav {
    width: 100%;
    margin-bottom: 25px;
    border-bottom: 1px solid #09FFFF;
  }
  .slot-btn{
    color: #FFF;
    border: 1px solid #09FFFF;
    background-color: transparent;
    border-radius: 6px 6px 0 0;
  }
  .slot-btn.active, .slot-btn:active{
    color: #000;
    background-color: #09FFFF;
    border-radius: 6px 6px 0 0;
  }
  .slot-btn:hover{
    color: #09FFFF;
  }
  
  .slot-type-bar .btn{
    width: 100%;
  }
  
  /*test*/
  @media (min-width: 700px) {
    .slot-type-btn {
      display: none;
    }
    .slot-type {
      display: inline;
      background: transparent;
      box-shadow: none;
      border: none;
      position: relative;
      margin: 0;
    }
    .slot-type li {
      display: inline;
    }
    .slot-type li a {
      display: inline-block;
      padding: 6px 12px;
      margin-bottom: 0;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.42857143;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-image: none;
      background-color: #fff;
      border-radius: 3px;
      color: #000;
    }
    .search-bar{
      width: 92.5%;
    }
  }
  @media (max-width: 699px){
    .dropdown-menu.slot-type>li>a {
      display: block;
      padding: 3px 20px;
      clear: both;
      font-weight: 400;
      line-height: 1.42857143;
      color: #333;
      white-space: nowrap;
    }
  }

/* ============================== pagination ============================== */
.pagination-outer{ text-align: center; }
.pagination{
    font-family: 'Oxygen', sans-serif;
    display: inline-flex;
    position: relative;
}
.pagination li a.page-link{
    color: #D4145A;
    background-color: transparent;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 26px;
    height: 40px;
    margin: 0 15px 0 0;
    border: 1px solid #D4145A;
    border-radius: 0;
    position: relative;
    z-index: 1;
    transition: all 0.4s ease 0s;
}
.pagination li.active a.page-link,
.pagination li a.page-link:hover,
.pagination li.active a.page-link:hover{
    color: #fff ;
    background-color: #D4145A;
    border-color: #D4145A;
}
.pagination li a.page-link:before,
.pagination li a.page-link:after{
    content: '';
    background-color: #D4145A;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    transform: scale(0) rotateX(360deg);
    position: absolute;
    left:0 ;
    top: 0;
    z-index: -1;
    transition: all 0.3s;
}
.pagination li a.page-link:after{
    background-color: transparent;
    border-radius: 0;
    transform: scale(0.7);
    transition-delay: 0.1s;
}
.pagination li a.page-link:hover:before{
    border-radius: 0;
    transform: scale(1) rotateX(0);
}
.pagination li a.page-link:hover:after{
    background-color: #D4145A;
    opacity: 0;
    transform: scale(1.5);
}
@media only screen and (max-width: 480px){
    .pagination{
        display: block;
        border-radius: 20px;
    }
    .pagination li{
        margin: 5px 2px;
        display: inline-block;
    }
    .pagination li a.page-link{ margin: 0; }
}

@media only screen and (max-width: 480px){
    .noen-sm{
        display: none;
    }
}
input::placeholder{
  font-size: 0.8em;
}



/*Language*/
:lang(en) .menu a > span{
    font-size: 18px;
    padding: 4px;
}

:lang(ja) .menu a > span{
    font-size: 22px;
}
:lang(ja) .nav-btn span{
    padding-right: 12px;
    padding-left: 12px;
}

:lang(th) .menu a > span{
    font-size: 22px;
}
:lang(th) .nav-btn span{
    padding-right: 12px;
    padding-left: 12px;
}

@media (max-width: 428px){
    :lang(en) .menu a > span{
        font-size: 14px;
        padding: 4px;
        font-weight: bold;
        word-wrap: break-word;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }
    :lang(ja) .menu a > span{
        font-size: 14px;
        padding: 4px;
        font-weight: bold;
    }
    :lang(ja) .menu a.btn-menu:hover > span, :lang(ja) .menu a.btn-menu:active > span, :lang(ja) .menu a.btn-menu.active > span{
        font-size: 14px;
        padding: 4px;
    }
    :lang(th) .menu a > span{
        font-size: 14px;
        padding: 4px;
        font-weight: bold;
    }
}
@media (max-width: 320px){
    :lang(en) .menu a > span{
        font-size: 11px;
        padding: 0px;
    }
    :lang(ja) .menu a > span{
        font-size: 11px;
    }
    :lang(th) .menu a > span{
        font-size: 12px;
    }
}
.inbox-main{
    padding: 10px 16px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 3px;
}