.marquee-block {
  /*position: absolute;*/
  position: relative;
  width: 100%;
/*  max-width: 1280px;*/
/*  height: 2em;*/
/*  top: .25em;*/
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 21;
  display: flex;
  align-items: center;
  padding: .2em 1em .2em .5em;
  
  height: 56px;
/*  background: #0088FE;*/
}

.marquee-block .news-title {
  color: #fff; 
  width: 2em;
}

.marquee-block .news-title:after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  /* background: url(~static/images/news-icon.svg) center center no-repeat; */


}
.marquee-block .marquee {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 1;
  position: relative;
  width: 90%;
  height: 30px;
  left: 1em;
  overflow: hidden;
}

.marquee-block .marquee li {
  /* required styles */
  position: absolute;
  top: -999em;
  left: 0;
  display: block;
  white-space: nowrap;
  font-family: \5FAE\8EDF\6B63\9ED1\9AD4,Microsoft,Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: #fff;
}

.marquee-block .marquee li a {
  color: #FFF;
  text-decoration: none;
}

.news-popup .modal-dialog{
  border-radius: 3px;
  overflow: hidden;
}

.news-popup .modal-body ul li {
  list-style-type: none;
  border-bottom: dotted 1px #343434;
  padding: 8px 3px;
}

.news-popup .modal-body ul li p {
  line-height: 1.5;
}
.news-popup .modal-body ul li pre {
  white-space: pre-wrap;
  line-height: 1.5em;
}

.news-popup .modal-body .modal-btns{
  font-size: 1em;
}

.news-popup .modal-body ul .news-item h3 {
  color: #3ac7c1;
  font-size: 1.2;
}

.news-popup .modal-body .date {
  padding: 0 8px;
  background: #bd272d;
  margin-right: 6px;
  color: #fff;
}

.news-popup .modal-header {
  padding: 5px;
  border-bottom: 1px solid #e5e5e5;
/*  background: #0088FE;*/
  color: #000;
  letter-spacing: .2em;
}

.news-popup .modal-title {
  margin: 0;
    padding-left: 20px;
  line-height: 1.42857143;
  color: #FFF;
}

.news-popup .modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
/*  background: #0088FE;*/
  border-radius: 0 0 6px 6px;
}

.news-popup .modal-dialog {
  margin: 6.75rem auto;
}

.news-popup .modal-content {
}

.news-popup .modal-body {

  /* background: url(~static/images/popup-bg.jpg) center center no-repeat; */
  background-size: 100% 100%; 
  color: #333;
}



@media (max-width: 767px) {
  .marquee-block {
    z-index: 5;
  }
  .marquee-block{
/*    width: 95%;*/
  }
}