@charset "UTF-8";
.nodesc{font-size:2rem;padding:1rem 0;color:#000}
.btn{display:none;margin:0 auto}
.btn a{background:#328CE5;color:#fff;padding:1rem 5rem;border-radius:8px}
.btnCopyToClipboard{background:#328CE5;color:#fff;padding:1rem 5rem;border-radius:8px;border:0}
.ico_log{display:inline-block;width:130px;height:38px;vertical-align:middle;margin-right:7px}
.mod-title .ico-wechat{display:inline-block;width:41px;height:36px;background:url(/public/pay/wechat-pay.png) 0 -115px no-repeat;vertical-align:middle;margin-right:7px}
.amount{font-size:3.2rem!important;color:#FFF!important}
.bank-jump{background:#328CE5;color:#fff;padding:1rem 5rem;border-radius:8px;border:0}
.jump-text{padding:1rem 0;font-size:.95rem;color:#666}
.copy-p{display:flex;align-items:center;justify-content:space-between}
.show-txt{flex:1;font-size:1.4rem;color:#333;font-weight:600;text-align:left;max-width:15rem;overflow:hidden;text-overflow:ellipsis}

.btnCopy{width:5.5rem;line-height:2rem;border:1px #999 solid;background:#ccc;border-radius:3px;text-align:center;color:#333}
.btnCopy:active{background:#f1f1f1}
.copy-bank{padding:10px 0;border-top:1px #ccc solid;border-bottom:1px #ccc solid;margin:10px}
.copy-p{width:22rem;margin:8px auto;display:flex;align-items:center;justify-content:space-between}
.tip-title{line-height:2rem;font-size:1.6rem;margin-top:1rem;color:#2386e8}
.change{position:fixed;bottom:0;left:0;right:0;display:flex;flex-flow:nowrap;background-color:rgba(0,0,0,.3)}
.change-c{width:50%;line-height:5rem;font-size:1.8rem;text-align:center;color:#fff}
.ok{background-color:#057ad6}
.ok:active{background-color:#008fff}
.cannel{background-color:#ff3131}
.cannel:active{background-color:#f76060}

.btnCopy {
  /*width: 5.5rem;*/
  width: auto;
  padding: 0px 15px !important;
  line-height: 2rem;
  border: 1px #00FFFF solid;
  background: #4D4D4D;
  border-radius: 3px;
  text-align: center;
  color: #FFF;
  font-size: 16px;
}
.btnCopy:active {
  background: #00E3B1;
}
.copy-bank {
  padding: 10px 0;
  border-top: 1px #ccc dashed;
  border-bottom: 1px #ccc dashed;
  margin: 20px 10px 10px;
}
.show-txt {
  flex: 1;
  font-size: 18px;
  color: #FFF;
  font-weight: 600;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid #00FFFF;
  padding: 2px 8px;
}
.tip-title {
  line-height: 2rem;
  font-size: 1.6rem;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #00E3B1;
}
.change-bank {
  width: auto !important;
  padding: 8px 25px;
  /*text-decoration: underline;*/
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 6px;
  color: #FFF;
  background-color: #3F8976;
  cursor: pointer;
}
.change-bank:active {
  background-color: #00E3B1;
}
/*Rose*/
body {
  color: #FFF !important;
  background-color: #0D1D30 !important;
}
.body {
  padding: 40px 60px 0;
  background-color: initial;
  border: 1px solid #FFF;
  border-radius: 3px;
}
.mod-title {
  border: none;
  background-color: initial;
}
.mod-title .text {
  font-size: 24px;
  color: #FFF;
}
.mod-ct {
  color: #FFF;
  margin-top: 0;
  background-color: initial;
  border: none;
  text-align: left;
}
.amount {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#00e3b1+0,00e3b1+100&0+0,1+50,0+100 */
  background: -moz-linear-gradient(left, rgba(0, 227, 177, 0) 0%, rgba(0, 227, 177, 1) 50%, rgba(0, 227, 177, 0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(0, 227, 177, 0) 0%, rgba(0, 227, 177, 1) 50%, rgba(0, 227, 177, 0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(0, 227, 177, 0) 0%, rgba(0, 227, 177, 1) 50%, rgba(0, 227, 177, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0000e3b1', endColorstr='#0000e3b1', GradientType=1); /* IE6-9 */
}
.chang-bar {
  line-height: 30px;
  margin: 10px 10px 20px;
}
.um-logo {
  margin-top: 40px;
  margin-bottom: 0px;
  height: 100px;
  font-size: 48px;
  text-align: center;
  color: white;
  /*8background: url("skin/images/logo.png") no-repeat center;
            background-size: auto 200px*/
}
.foot-bar {
  margin-bottom: -25px;
}
.ok {
  border: 1px solid #FFF;
  border-radius: 6px;
  background-color: #00FFFF;
  color: #212529;
  margin-right: 13px;
  cursor: pointer;
  font-size: 24px;
}
.ok:active {
  background-color: #00E3B1;
}
.cannel {
  border: 1px solid #FFF;
  border-radius: 6px;
  background-color: #F00;
  margin-left: 13px;
  cursor: pointer;
  font-size: 24px;
}
.cannel:active {
  background-color: #B70404;
}
.alerts {
  color: #00FFFF;
  display: block;
  margin: 15px auto 25px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 600;
}
.time-item strong {
  margin-right: 0;
  font-size: 24px;
  padding: 4px 15px;
  background-color: #00FFFF;
  color: #212529;
}
.time-item {
  font-size: 16px;
  text-align: center;
}

.time-item h1 {
  margin: 15px 0;
}
.time-item .colon {
  font-size: 24px;
  color: #3F8976;
}
.time-item li{
  display: flex;
  list-style: none;
  line-height: 1.8
}
.label-title{
  width: 100px;
  text-align: right;
  margin-right: 10px;
}
.label-content{
  text-align: left;
}
/* SELECT W/IMAGE */
select#selectTravelCity {
  width: 14em;
  height: 3.1em;
  padding: 0.2rem 2rem;
  vertical-align: middle;
  border: 1px solid #fa4b4b;
  -moz-border-radius: 0.2em 0 0 0.2em;
  -webkit-border-radius: 0.2em 0 0 0.2em;
  border-radius: 0.2em 0 0 0.2em;
  box-shadow: inset 0 0 3px #fa4b4b;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* sample image from the webinfocentral.com */
  font-size: 1.1em;
  color: #fa4b4b;
  cursor: pointer;
}
select#selectTravelCity option {
  font-size: 1em;
  padding: 0.2rem 2rem;
}
select#selectTravelCity option[selected] {
  font-weight: bold
}
select#selectTravelCity option:nth-child(even) {
  background-color: #f5f5f5;
}
.bank-list {
  display: none;
}
.item-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.r-btn {
  background: #fa4b4b;
  color: #fff;
  height: 3.2rem;
  line-height: 3.2rem;
  padding: 0.3em 1.2rem;
  border: 1px #fa4b4b solid;
  -webkit-border-radius: 0 0.2em 0.2em 0;
  border-radius: 0 0.2em 0.2em 0;
  box-shadow: inset 0 0 3px #fa4b4b;
}
.r-btn:active {
  background: #f00;
}
.text-red {
  color: #FFE200;
}
.text-samll{
  font-size: 14px;
}