<template>
  <table class="table table-bordered walletTable" role="grid" aria-describedby="tblHistory_info" style="">
    <thead>
      <tr role="row">
        <th>{{ getLang('交易編碼') }}</th>
        <th>{{ getLang('總額') }}</th>
        <th>{{ getLang('狀態') }}</th>
        <th>{{ getLang('備註') }} </th>
      </tr>
    </thead>
    <tbody>
      <template v-if="reportTableList.length">
        <tr v-for="item in reportTableList" :key="item.id" role="row">
          <td>{{ item.id }}</td>
          <td>{{ Math.abs(item.amount) }}</td>
          <td>{{ getStatusText(item.withdrawalStatus) }}</td>
          <td>{{ item.note }}</td>
        </tr>
      </template>
      <template v-else>
        <tr role="row">
          <td colspan="5">
            {{ getLang('沒有匹配結果') }}
          </td>
        </tr>
      </template>
    </tbody>
  </table>
</template>
<script>
export default {
  props: {
    reportTableList: {
      type: Array,
      default () {
        return [];
      }
    }
  },
  data () {
    return {
    };
  },
  methods: {
    getStatusText (status) {
      const statusTypeMap = new Map([
        [0, this.getLang('未完成')],
        [2, this.getLang('已完成')]
      ]);
      const result = statusTypeMap.get(status);
      return result;
    }
  }
};
</script>
