<template>
  <table class="table table-bordered walletTable" role="grid" aria-describedby="tblHistory_info" style="">
    <thead>
      <tr role="row">
        <template v-if="!reportDetail">
          <th>{{ getLang('產品') }}</th>
          <th>{{ getLang('總記錄條數') }}</th>
          <th>{{ getLang('總投注') }}</th>
          <th>{{ getLang('總賠付') }} </th>
          <th>{{ getLang('總輸贏') }}</th>
        </template>
        <template v-else>
          <th>{{ getLang('下注單號') }}</th>
          <th>{{ getLang('下注時間') }}</th>
          <th>{{ getLang('下注資料') }}</th>
          <th>{{ getLang('下注') }}</th>
          <th>{{ getLang('輸/贏') }}</th>
        </template>
      </tr>
    </thead>
    <tbody>
      <template v-if="defaultData.length">
        <tr v-for="item in defaultData" :key="item.id" role="row">
          <template v-if="!reportDetail">
            <td>
              <a href="javascript:void(0)" @click="viewDetail(item.id)">{{ item.pid }}</a>
            </td>
            <td class="word-break">{{ item.total }}</td>
            <td class="word-break">{{ item.sumValidbet | toFixed }}</td>
            <td class="word-break">{{ item.pay | toFixed }}</td>
            <td class="word-break">{{ item.sumResult | toFixed }}</td>
          </template>
          <template v-else>
            <td class="word-break">{{ item.betTimes }}</td>
            <td class="word-break">{{ item.betTime }}</td>
            <td class="word-break" style="max-width:200px">
              {{ item.payResult }}
            </td>
            <td class="word-break">{{ item.validbet | toFixed }}</td>
            <td class="word-break">{{ item.result | toFixed }}</td>
          </template>
        </tr>
      </template>
      <template v-else>
        <tr role="row">
          <td colspan="5">
            {{ getLang('沒有匹配結果') }}
          </td>
        </tr>
      </template>
    </tbody>
  </table>
</template>
<script>
export default {
  props: {
    reportTableList: {
      type: Array,
      default () {
        return [];
      }
    },
    reportDetail: {
      type: Boolean,
      default () {
        return false;
      }
    }
  },
  data () {
    return {
      defaultData: []
    };
  },
  watch: {
    reportTableList (data) {
      this.defaultData = data;
      this.defaultData.forEach((x) => {
        x.pay = x.sumValidbet + x.sumResult;
      });
    }
  },
  methods: {
    viewDetail (id) {
      this.$emit('getDetail', id);
    }
  }
};
</script>
<style scoped>
  .word-break {
    word-break: break-all;
  }
</style>
