<template>
  <table class="table table-bordered walletTable" role="grid" aria-describedby="tblHistory_info" style="">
    <thead>
      <tr role="row">
        <th>{{ getLang('交易時間') }}</th>
        <th>{{ getLang('優惠名稱') }}</th>
        <th>{{ getLang('流水要求') }}</th>
        <th>{{ getLang('總額') }} </th>
        <th style="min-width:60px">
          {{ getLang('狀態') }}
        </th>
      </tr>
    </thead>
    <tbody>
      <template v-if="reportTableList && reportTableList.length > 0">
        <tr v-for="item in reportTableList" :key="item.id" role="row">
          <td>{{ simpleDateFormat(item.created_at) }}</td>
          <td>{{ item.washCode.promoTitle }}</td>
          <td>{{ item.washCode.amount | toFixed }}</td>
          <td>{{ item.amount | toFixed }}</td>
          <td style="min-width:60px">
            {{ getStatusText(item.status) }}
          </td>
        </tr>
      </template>
      <template v-else>
        <tr role="row">
          <td colspan="5">
            {{ getLang('沒有匹配結果') }}
          </td>
        </tr>
      </template>
    </tbody>
  </table>
</template>
<script>
export default {
  props: {
    reportTableList: {
      type: Array,
      default () {
        return [];
      }
    }
  },
  data () {
    return {
    };
  },
  methods: {
    getStatusText (status) {
      const statusTypeMap = new Map([
        [2, this.getLang('已完成')],
        [3, this.getLang('已拒絕')]
      ]);
      const result = statusTypeMap.get(status);
      return result;
    }
  }
};
</script>
