<template>
  <table class="table table-bordered walletTable" role="grid" aria-describedby="tblHistory_info" style="">
    <thead>
      <tr role="row">
        <th>{{ getLang('交易時間') }}</th>
        <th>{{ getLang('交易編碼') }}</th>
        <th>{{ getLang('總額') }}</th>
        <th v-if="0">
          {{ getLang('點數') }}
        </th>
        <th>{{ getLang('存款方式') }} </th>
        <th>{{ getLang('狀態') }}</th>
      </tr>
    </thead>
    <tbody>
      <template v-if="reportTableList.length">
        <tr v-for="item in reportTableList" :key="item.id" role="row">
          <td>{{ simpleDateFormat(item.updated_at) }}</td>
          <td>{{ item.id }}</td>
          <td>{{ item.amount | toFixed }}</td>
          <td v-if="0">
            {{ item.payCash | toFixed }}
          </td>
          <td>{{ item.bank_acc_name }}</td>
          <td>{{ getStatusText(item.status) }}</td>
        </tr>
      </template>
      <template v-else>
        <tr role="row">
          <td colspan="6">
            {{ getLang('沒有匹配結果') }}
          </td>
        </tr>
      </template>
    </tbody>
  </table>
</template>
<script>
export default {
  props: {
    reportTableList: {
      type: Array,
      default () {
        return [];
      }
    }
  },
  data () {
    return {
    };
  },
  methods: {
    getStatusText (status) {
      const statusTypeMap = new Map([
        [0, this.getLang('未完成')],
        [1, this.getLang('交易中')],
        [2, this.getLang('已完成')],
        [3, this.getLang('已取消')],
        [4, this.getLang('未上分')]
      ]);
      const result = statusTypeMap.get(status);
      return result;
    }
  }
};
</script>
