<template>
  <table class="table table-bordered walletTable" role="grid" aria-describedby="tblHistory_info" style="">
    <thead>
      <tr role="row">
        <th>{{ getLang('交易時間') }}</th>
        <th>{{ getLang('由') }}</th>
        <th>{{ getLang('至') }}</th>
        <th>{{ getLang('總額') }} </th>
        <th>{{ getLang('狀態') }}</th>
      </tr>
    </thead>
    <tbody>
      <template v-if="reportTableList.length">
        <tr v-for="item in reportTableList" :key="item.id" role="row">
          <td>{{ simpleDateFormat(item.created_at) }}</td>
          <td>{{ productObject[item.a_pid] || getLang('主錢包') }}</td>
          <td>{{ productObject[item.b_pid] || getLang('主錢包') }}</td>
          <td>{{ Math.abs(item.amount) }}</td>
          <td>{{ getStatusText(item.status) }}</td>
        </tr>
      </template>
      <template v-else>
        <tr role="row">
          <td colspan="5">
            {{ getLang('沒有匹配結果') }}
          </td>
        </tr>
      </template>
    </tbody>
  </table>
</template>
<script>
import { getProductList } from '~/api/game.js';
export default {
  props: {
    reportTableList: {
      type: Array,
      default () {
        return [];
      }
    },
    mergeOrder: {
      type: Object,
      default () {
        return {};
      }
    }
  },
  data () {
    return {
      productList: []
    };
  },
  computed: {
    productObject () {
      const object = {};
      for (const i in this.productList) {
        const item = this.productList[i];
        object[item.id] = item.name;
      }
      return object;
    }
    // defaultData () {
    //   const data = this.reportTableList;
    //   if (this.productList) {
    //     data.forEach((x) => {
    //       let name = this.getLang('主錢包');
    //       name = this.productList.filter(y => y.id === this.mergeOrder[x.id].pid)[0].name;

    //       x.from = parseInt(x.amount) < 0 ? name : this.productList.filter(y => y.id === x.a_pid)[0].name;
    //       x.to = parseInt(x.amount) < 0 ? this.productList.filter(y => y.id === x.b_pid)[0].name : name;
    //     });
    //   }
    //   return data;
    // }
  },
  mounted () {
    this.getProductList();
  },
  methods: {
    getStatusText (status) {
      const statusTypeMap = new Map([
        [0, this.getLang('失敗')],
        [1, this.getLang('成功')]
      ]);
      const result = statusTypeMap.get(status);
      return result;
    },
    async getProductList () {
      try {
        const res = await getProductList();
        this.productList = [...res.data];
      } catch (err) {
        this.$store.dispatch('setAlertMessage', err.message);
        this.$bvModal.show('alertModal');
      }
    }
  }
};
</script>
