<template>
  <div>
    <!--合作廠商-->
    <div class="container api mt-3 mt-lg-5">
      <h4>{{ getLang('合作廠商') }}</h4>
      <div class="api-logo">
        <img src="~/static/images/api-icon@2x.png" alt class="img-fluid" width="592">
      </div>
    </div>
    <!--手機下載    -->
    <div class="container app text-center">
      <span>
        <nuxt-link :to="`/app`">
          <img src="~/static/images/app-apple@2x.png" alt width="135">
        </nuxt-link>
      </span>
      <span>
        <nuxt-link :to="`/app`">
          <img src="~/static/images/app-android@2x.png" alt width="135">
        </nuxt-link>
      </span>
    </div>

    <div class="container footer">
      <div class="about-nav mt-3">
        <ul class="d-flex justify-content-center flex-wrap">
          <li>
            <nuxt-link :to="`/contact`">
              {{ getLang('聯繫我們') }}
            </nuxt-link>
          </li>
          <li>
            <nuxt-link :to="`/privacy`">
              {{ getLang('隱私政策') }}
            </nuxt-link>
          </li>
          <li>
            <nuxt-link :to="`/about`">
              {{ getLang('關於我們') }}
            </nuxt-link>
          </li>
          <li>
            <nuxt-link :to="`/rules`">
              {{ getLang('規則條款') }}
            </nuxt-link>
          </li>
          <li>
            <nuxt-link :to="`/responsible`">
              {{ getLang('博彩責任') }}
            </nuxt-link>
          </li>
          <li>
            <nuxt-link :to="`/bank`">
              {{ getLang('銀行') }}
            </nuxt-link>
          </li>
        </ul>
      </div>

      <div class="row mb-4">
        <div class="col copyright">
          <div class="text-center text-white">
            Copyright © 2020 微博帝國. All Rights Reserved
          </div>
        </div>
      </div>
    </div>
    <!-- 手機顯示 Footer Menu-->
    <div class="d-block d-lg-none">
      <nav
        class="btn-group d-flex fixed-bottom c-alpha-grey align-items-start footer-menu pt-1"
        role="group"
      >
        <component
          :is="'footBtn'+item"
          v-for="item in shuffleFootBtnArray"
          :key="item"
          :show-service="toggleServiceMask"
        />
      </nav>
    </div>

    <!--桌機顯示線上客服-->
    <div
      class="services d-none d-lg-block"
      :style="{
        top:servicesStyleTop,
        left:servicesStyleLeft,
        right:servicesStyleRight,
      }"
    >
      <a href="javascript:void(0)" @click="showService()">
        <img src="~/static/images/button-service.png" alt="service" width="240">
      </a>
    </div>
    <style>
      #chat-widget-container{
      right:{{ serviceWidget }}%!important;
      }
    </style>
    <div
      v-if="serviceMask"
      style="position:fixed;width:100%;height:100%;top:0;left:0;background:rgba(0,0,0,0.5);z-index:9999999999999999999"
      class="d-block d-lg-none d-flex justify-content-center align-items-center"
    >
      <button
        class="btn btn-magenta px-5"
        :style="{
          marginTop:openServiceBtnTop+'%',
          marginLeft:openServiceBtnLeft+'%',
        }"
        @click="showService();toggleServiceMask()"
      >
        {{ getLang('親愛的客戶您好，非常感謝您使用本客服系統，請將您的問題內容詳盡說明，我們將盡快為您服務，點此按紐開啟客服') }}
      </button>
    </div>
  </div>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
import footBtnA from '~/components/foot/footBtnA.vue';
import footBtnB from '~/components/foot/footBtnB.vue';
import footBtnC from '~/components/foot/footBtnC.vue';
import footBtnD from '~/components/foot/footBtnD.vue';
import footBtnE from '~/components/foot/footBtnE.vue';
import footBtnF from '~/components/foot/footBtnF.vue';
import footBtnG from '~/components/foot/footBtnG.vue';
export default {
  components: {
    footBtnA, footBtnB, footBtnC, footBtnD, footBtnE, footBtnF, footBtnG
  },
  data () {
    return {
      livechatCount: 0,
      servicesStyleTop: 0,
      servicesStyleLeft: 0,
      servicesStyleRight: 0,
      serviceWidget: 0,
      shuffleFootBtnArray: ['A', 'B', 'C', 'D', 'E', 'F', 'G'],
      serviceMask: false,
      openServiceBtnTop: 0,
      openServiceBtnLeft: 0
    };
  },
  computed: {
    ...mapFields(['userInfo', 'collapseSwitch'])
  },
  mounted () {
    this.shuffleArray(this.shuffleFootBtnArray);
    this.servicesStyleTop = (Math.floor(Math.random() * 50) + 15) + '%';
    const xAxis = Math.floor(Math.random() * 2);
    if (xAxis == 1) {
      this.$set(this, 'servicesStyleLeft', '0');
      this.$set(this, 'servicesStyleRight', 'unset');
    } else {
      this.$set(this, 'servicesStyleLeft', 'unset');
      this.$set(this, 'servicesStyleRight', '0');
    }
    window.__lc = window.__lc || {};
    window.__lc.license = 12128589;
    // 自家娛樂城 12128589
    // 租版娛樂城 11752548
    (function () {
      const lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
      lc.src = (document.location.protocol == 'https:' ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
      const s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
    })();
    this.serviceWidget = Math.floor(Math.random() * 50);
    const getRnd = (base) => {
      if (!base) { base = 50; };
      return ((Math.floor(Math.random() * (base * 2 + 1))) - base);
    };
    this.openServiceBtnTop = getRnd(100);
    this.openServiceBtnLeft = 0;// getRnd(20);
    // setTimeout(() => {
    //   window.LC_API.hide_chat_window();
    // }, 1500);
    window.LC_API = window.LC_API || {};
    window.LC_API.on_chat_window_opened = () => {
      this.serviceWidget = 0;
    };
  },
  methods: {
    toggleServiceMask () {
      this.serviceMask = !this.serviceMask;
    },
    shuffleArray (array) {
      for (let i = array.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * (i + 1));
        const temp = array[i];
        array[i] = array[j];
        array[j] = temp;
      }
    },
    showService () {
      window.LC_API = window.LC_API || {};
      if (this.livechatCount === 0) {
        window.LC_API.on_chat_window_minimized = function () {
          window.LC_API.hide_chat_window();
        };
        this.livechatCount++;
      }
      document.querySelector('#chat-widget-container').style.display = 'block';
      window.LC_API.open_chat_window({ source: 'minimized' });

      this.serviceWidget = 0;
    }
  }
};
</script>
