<template>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-transparent mx-auto">
    <div class="nav-brand">
      <nuxt-link class="navbar-brand mr-auto mr-lg-0" :to="`/`">
        <img src="~/static/images/logo.png" width="288" alt>
      </nuxt-link>
    </div>
    <button class="navbar-toggler p-0 border-0" type="button" @click="collapseSwitch=!collapseSwitch">
      <span class="navbar-toggler-icon" />
    </button>
    <!-- 僅手機顯示語系-->
    <div class="d-block d-lg-none phone-lang">
      <lang-box :set-select-lang="setSelectLang" />
    </div>

    <div id="navbarsExampleDefault" class="navbar-collapse offcanvas-collapse " :class="collapseSwitch?'open':''">
      <button class="navbar-toggler p-0 border-0" type="button" @click="collapseSwitch=!collapseSwitch">
        <span class="navbar-toggler-icon close" />
      </button>
      <!--未登入會員-->
      <div v-if="!userInfo" class="form-inline my-2 my-lg-0">
        <label class="d-block d-lg-none text-gold" for="inlineFormInputName2">
          <i class="fas fa-user-circle" /> {{ getLang('會員登入') }}
        </label>
        <input
          v-model="loginData.account"
          type="text"
          class="form-control form-control-sm mr-sm-2 my-1 nav-input"
          :placeholder="getLang('用戶名')"
          size="8"
          autocorrect="off"
          autocapitalize="none"
          @keyup.enter="$refs.focusFlag1.focus"
        >
        <input
          ref="focusFlag1"
          v-model="loginData.password"
          type="password"
          class="form-control form-control-sm mr-sm-2 my-1 nav-input"
          :placeholder="getLang('密碼')"
          size="8"
          @keyup.enter="$refs.focusFlag2.focus"
        >
        <div class="input-group input-group-sm mr-md-2 my-1">
          <input
            ref="focusFlag2"
            v-model="loginData.imgCode"
            type="text"
            class="form-control nav-input"
            :placeholder="getLang('代碼')"
            aria-label="Recipient's username"
            aria-describedby="button-addon2"
            size="3"
            autocomplete="off"
            @click="imgCodehandler && ((imgCodehandler=false) || getCaptcha())"
            @focus="imgCodehandler && ((imgCodehandler=false) || getCaptcha())"
            @keyup.enter="$emit('login',getCaptcha);"
          >

          <div v-if="imgCode" class="input-group-append">
            <button id="button-addon2" class="btn btn-sm code-btn p-0" type="button">
              <img
                style="max-height: 100%;"
                class="img-fluid"
                :src="imgCode"
                @click="getCaptcha()"
              >
            </button>
          </div>
        </div>

        <button class="btn nav-btn btn-sm mr-sm-2 my-1 d-md-block" style="position:relative;" @click="$emit('login',getCaptcha);">
          <div style="position:absolute;left:0;top:0;width:100%;height:100%;" @click="collapseSwitch=false" />
          <span>{{ getLang('登入') }}</span>
        </button>
      </div>

      <!--已登入會員 左 僅桌機顯示-->
      <div v-if="userInfo" class="logged-left d-none d-lg-block">
        <div class=" d-flex text-white align-items-center ">
          <div class="mr-2">
            <span class="">{{ getLang('歡迎') }}</span>  <span class="mr-2">{{ userInfo.name|| userInfo.account }}</span>
          </div>
          <div class="mr-2">
            {{ getLang('總餘額') }}: <span>{{ userInfo.amount||0 }}</span> <a href="javascript:void(0)"><i class="fas fa-sync-alt" @click="reloadUserInfo" /></a>
          </div>
          <b-dropdown size="sm" variant="danger" class="d-none d-lg-block">
            <template v-slot:button-content>
              <i class="fas fa-wallet" /> {{ getLang('錢包') }}
            </template>
            <b-dropdown-item style="position:relative;">
              <nuxt-link to="/member/payment" style="position:absolute;top:0;left:0;width:100%;height:100%;" />
              {{ getLang('存款') }}
            </b-dropdown-item>
            <b-dropdown-item style="position:relative;">
              <nuxt-link to="/member/withdrawal" style="position:absolute;top:0;left:0;width:100%;height:100%;" />
              {{ getLang('提款') }}
            </b-dropdown-item>
            <b-dropdown-item style="position:relative;">
              <nuxt-link to="/member/transfer" style="position:absolute;top:0;left:0;width:100%;height:100%;" />
              {{ getLang('轉帳') }}
            </b-dropdown-item>
          </b-dropdown>
        </div>
      </div>

      <!-- 未登入會員 僅桌機顯示 -->
      <div class="ml-auto d-none d-lg-block">
        <ul class="navbar-nav align-items-center">
          <li v-if="userInfo" class="nav-item">
            <nuxt-link to="/member/account" class="nav-link px-1">
              <i class="fas fa-user-circle" /> {{ getLang('我的帳號') }}
            </nuxt-link>
          </li>
          <li v-if="userInfo" class="nav-item">
            <a class="nav-link">|</a>
          </li>
          <li v-if="userInfo" class="nav-item">
            <nuxt-link to="/member/history" class="nav-link px-1">
              <i class="fas fa-clipboard" /> {{ getLang('交易紀錄') }}
            </nuxt-link>
          </li>

          <li v-if="userInfo" class="nav-item">
            <nuxt-link to="/inbox" class="btn nav-btn btn-sm mr-sm-2 ml-3 inbox">
              <div
                class="inbox-count"
              >
                {{ inboxCount }}
              </div>
              <span class="px-2">
                <i class="fas fa-envelope fa-lg" />
              </span>
            </nuxt-link>
          </li>

          <li v-if="userInfo" class="nav-item">
            <button class="btn nav-btn btn-sm mr-sm-2 ml-3" style="position:relative;" @click="logout">
              <div style="position:absolute;left:0;top:0;width:100%;height:100%;" @click="collapseSwitch=false" />
              <span>{{ getLang('登出') }}</span>
            </button>
          </li>
          <li v-if="!userInfo" class="nav-item">
            <nuxt-link class="nav-link" :to="`/activeAccount`">
              <i class="fas fa-power-off" /> {{ getLang('激活帳號') }}
            </nuxt-link>
          </li>
          <li v-if="!userInfo" class="nav-item">
            <nuxt-link class="nav-link" :to="`/forget`">
              <i class="fas fa-question-circle" /> {{ getLang('忘記密碼') }}
            </nuxt-link>
          </li>

          <li v-if="!userInfo" class="nav-item">
            <nuxt-link class="btn nav-btn btn-sm mr-sm-2 ml-3" :to="`/register`">
              <span>{{ getLang('註冊') }}</span>
            </nuxt-link>
          </li>
          <li class="nav-item">
            <lang-box :set-select-lang="setSelectLang" />
          </li>
        </ul>
      </div>

      <!-- 側邊導覽列 僅手機顯示 -->
      <div class="d-block d-lg-none">
        <div v-if="userInfo" class="d-flex mr-2 text-warning flex-column justify-content-center text-center mb-3">
          <span><i class="fas fa-user-circle fa-3x" /></span>
          <div class="">
            {{ getLang('歡迎') }} <span>{{ userInfo.name|| userInfo.account }}</span>
          </div>
          <nuxt-link to="/inbox" class="btn nav-btn btn-sm mr-sm-2 my-2 inbox">
            <div
              class="inbox-count"
            >
              {{ inboxCount }}
            </div>
            <span><i class="fas fa-envelope fa-lg" /></span>
          </nuxt-link>
          <a href="javascript:void(0)" class="btn nav-btn btn-sm mr-sm-2 my-2" @click="logout"><span>登出</span></a>
        </div>

        <ul class="navbar-nav side-menu">
          <li v-if="!userInfo" class="nav-item">
            <nuxt-link to="/register" class="btn nav-btn btn-sm mr-sm-2 mb-2" style="position:relative">
              <div style="position:absolute;left:0;top:0;width:100%;height:100%;" @click="collapseSwitch=false" />
              <span>{{ getLang('註冊') }}</span>
            </nuxt-link>
          </li>
          <li v-if="!userInfo" class="nav-item d-flex justify-content-between nav-border pb-3">
            <nuxt-link to="/activeAccount" class="text-gold small">
              <i class="fas fa-power-off" /> {{ getLang('激活帳號') }}
            </nuxt-link>
          </li>
          <li v-if="!userInfo" class="nav-item d-flex justify-content-between nav-border pb-3">
            <nuxt-link to="/forget" class="text-gold small">
              <i class="fas fa-question-circle" /> {{ getLang('忘記密碼') }}
            </nuxt-link>
          </li>
          <div v-for="(item,index) in navList" :key="item.name" v-frag>
            <div v-if="!item.login || item.login && userInfo" v-frag>
              <li v-if="item.list" class="nav-item  nav-border dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="javascript:void(0)"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  @click="selectNav==index?selectNav=-1:selectNav=index"
                >
                  <i :class="item.icon" /> {{ getLang(item.name) }}
                </a>
                <div :class="selectNav==index?'show':''" class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <div v-for="innerItem in item.list" :key="innerItem.name" v-frag>
                    <nuxt-link v-if="innerItem.href" :to="innerItem.href" class="dropdown-item" style="position:relative">
                      <div style="position:absolute;left:0;top:0;width:100%;height:100%;" @click="collapseSwitch=false" />
                      {{ getLang(innerItem.name) }}
                    </nuxt-link>
                    <div v-else class="dropdown-item" @click="openGame(innerItem.key)">
                      {{ getLang(innerItem.name) }}
                    </div>
                  </div>
                </div>
              </li>
              <li v-else class="nav-item nav-border">
                <nuxt-link :to="item.href" class="nav-link" style="position:relative">
                  <div style="position:absolute;left:0;top:0;width:100%;height:100%;" @click="collapseSwitch=false" />
                  <i :class="item.icon" /> {{ getLang(item.name) }}
                </nuxt-link>
              </li>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </nav>
</template>
<script>

import { mapFields } from 'vuex-map-fields';
import { getCaptcha } from '~/api/user.js';
import { setSessionLang } from '~/api/lang.js';
export default {
  props: ['loginData'],
  data () {
    return {
      imgCodehandler: true,
      imgCode: '',
      navList: [
        {
          icon: 'fas fa-user fa-fw',
          name: '我的帳號',
          login: true,
          list: [
            { href: '/member/payment', name: '存款' },
            { href: '/member/withdrawal', name: '提款' },
            { href: '/member/transfer', name: '轉帳' },
            { href: '/member/history', name: '交易紀錄' },
            { href: '/member/account', name: '帳戶' }
          ]
        },
        {
          icon: 'fas fa-volleyball-ball fa-fw',
          name: '體育',
          list: [
            { key: 'Fm', name: 'FM足球' }
          ]
        },
        {
          icon: 'fas fa-video fa-fw',
          name: '真人娛樂',
          list: [
            { key: 'Wm', name: 'WM真人百家樂' }
            // { key: 'Dg', name: 'DG真人' }
          ]
        },
        // {
        //   icon: 'fas fa-fish fa-fw',
        //   name: '捕魚',
        //   list: [
        //     { key: 'Joker', name: 'JOKER捕魚' }
        //   ]
        // },
        // {
        //   icon: 'fas fa-dice fa-fw',
        //   name: '棋牌',
        //   list: [

        //     { key: 'Joker', name: 'JOKER' }
        //   ]
        // },
        // {
        //   icon: 'fas fa-gamepad fa-fw',
        //   name: '老虎機',
        //   list: [
        //     { key: 'Wm', name: 'WM老虎機' },
        //     { key: 'Bbin', name: 'BBIN老虎機' }
        //   ]
        // },
        // {
        //   icon: 'fas fa-ticket-alt fa-fw',
        //   name: '彩票',
        //   list: [
        //     { key: 'Bbin', name: 'BBIN彩票' }
        //   ]
        // },
        // {
        //   icon: 'fas fa-gamepad fa-fw',
        //   name: '電競',
        //   list: [
        //     { key: 'Wm', name: 'WM 真人百家樂' },
        //     { key: 'Dg', name: 'DG真人' }
        //   ]
        // },
        {
          icon: 'fas fa-horse fa-fw',
          name: '賽馬',
          list: [
            { key: 'Via', name: 'VIA賽馬' }
          ]
        },
        {
          icon: 'fas fa-gift fa-fw',
          name: '優惠活動',
          href: '/discount'
        },
        {
          icon: 'fas fa-mobile-alt fa-fw',
          name: '手機 APP 下載',
          href: '/app'
        },
        {
          icon: 'fas fa-music fa-fw',
          name: '電影 / 音樂分享',
          href: '/movie'
        }
      ],
      selectNav: -1
    };
  },
  computed: {
    ...mapFields(['userInfo', 'collapseSwitch']),
    ...mapFields('lang', ['langList', 'selectLang']),
    inboxCount () {
      return this.userInfo.inboxCount;
    }
  },
  watch: {
    selectLang: {
      handler (selectLang) {
        if (selectLang) {
          document.querySelector('html').setAttribute('lang', selectLang);
        }
      },
      immediate: true
    }
  },
  mounted () {
    this.$store.dispatch('lang/getLangList', (langList) => {
      this.selectLang = this.$cookies.get('lang');
      if (!this.selectLang) {
        if (langList.length) {
          this.setSelectLang(langList[0].lang);
        }
      }
    });
  },
  methods: {
    setSelectLang (selectLang) {
      this.selectLang = selectLang;
      this.$cookies.set('lang', selectLang);
      setSessionLang(selectLang);
    },
    async getCaptcha () {
      try {
        const res = await getCaptcha(0);
        this.imgCode = res.img;
        if (res.code) {
          this.loginData.imgCode = res.code;
        }
      } catch (err) {
        this.$store.dispatch('setAlertMessage', err.message);
        this.$bvModal.show('alertModal');
      }
    },
    reloadUserInfo () {
      this.$store.dispatch('setUserInfo');
    },
    logout () {
      this.$emit('logout');
      // 太快request會無法清除cookie
      setTimeout(this.getCaptcha, 200);
    },
    openGame (provider) {
      this.collapseSwitch = false;
      const lang = this.selectLang;
      if (this.userInfo) {
        const url = `/launchGames?provider=${provider}&lang=${lang}`;

        if (this.$cookies.get('app')) {
          this.$router.push(url);
        } else {
          window.open(url, 'launchGames', 'height=600px,width=1000px');
        }
      } else {
        const msg = this.getLang('請先登入');
        this.$store.dispatch('setAlertMessage', msg);
        this.$bvModal.show('alertModal');
      }
    }
  }
};

</script>
<style lang="scss">
.inbox{
  position: relative;
  .inbox-count{
    position: absolute;
    top: -10px;
    right: -10px;
    background: #ff0000;
    padding: 0 4px;
    /* width: 20px; */
    /* height: 20px; */
    border-radius: 10px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

</style>
