<template>
  <b-modal ref="modal" size="lg" modal-class="fade news-popup show">
    <template v-slot:modal-header="{ close }">
      <h4 class="modal-title">
        {{ inbox.title }}
      </h4>
      <button type="button" class="close" @click="update();close();unlockScreen()">
        ×
      </button>
    </template>
    <template v-slot:default>
      <div>
        {{ inbox.content }}
      </div>
      <img
        v-for="(item,index) in inbox.imageList"
        :key="index"
        :src="$config.baseURL+item"
        style="max-width:100%;"
      >
    </template>
    <template v-slot:modal-footer="{ close }">
      <button type="button" class="btn btn-danger btn-sm" @click="update();close();unlockScreen()">
        <i class="fas fa-times" />
        {{ getLang('已讀') }}
      </button>
    </template>
  </b-modal>
</template>
<script>
import { update } from '~/api/inbox.js';
export default {
  props: ['inbox'],
  methods: {
    unlockScreen () {
      document.getElementsByTagName('html')[0].style.overflow = '';
    },
    show () {
      this.$refs.modal.show();
    },
    update () {
      const id = this.inbox.id;
      update({}, id).then(({ status }) => {

      });
    }
  }
};
</script>
