<template>
  <div class="dropdown" :class="showLang?'show':''" @click="showLang=!showLang">
    <button
      v-if="langObject[selectLang]"
      class="btn lang-btn dropdown-toggle text-white pr-0"
      type="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <img
        :src="$config.baseURL+'/flag/'+langObject[selectLang].country+'.png'"
        width="30"
      >
      <span class="d-none d-lg-inline-block">
        {{ langObject[selectLang].name }}
      </span>
    </button>
    <div class="dropdown-menu language dropdown-menu-right" aria-labelledby="language-menu" :class="showLang?'show':''">
      <a v-for="(item,index) in langList" :key="index" class="dropdown-item" href="javascript:void(0)" @click="setSelectLang(item.lang)">
        <img
          :src="$config.baseURL+'/flag/'+item.country+'.png'"
          :alt="item.lang"
          width="30"
        >
        {{ getLang(item.name) }}
      </a>
    </div>
  </div>
</template>
<script>
import { mapFields } from 'vuex-map-fields';

export default {
  props: ['setSelectLang'],
  data () {
    return {
      showLang: false
    };
  },
  computed: {
    ...mapFields('lang', ['langList', 'langObject', 'selectLang'])
  },

  methods: {

  }

};
</script>
