<template>
  <div class="loading">
    <div class="loading-icon" />
  </div>
</template>

<style scoped>
.loading {
  padding: 0.5rem;
  text-align: center;
  font-size: 3rem;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loading-icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  border-top-color: rgba(255, 255, 255, 1);
  animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
</style>
