<template>
  <b-modal id="marquee_info" size="lg" modal-class="fade news-popup show">
    <template v-slot:modal-header="{ close }">
      <h4 class="modal-title">
        {{ getLang('最新消息') }}
      </h4>
      <button type="button" class="close" @click="close();unlockScreen()">
        ×
      </button>
    </template>
    <template v-slot:default>
      <ul class="p-0">
        <li v-for="(item,index) in news" :key="index">
          {{ item.content }}
        </li>
      </ul>
    </template>
    <template v-slot:modal-footer="{ close }">
      <button type="button" class="btn btn-danger btn-sm" @click="close();unlockScreen()">
        <i class="fas fa-times" />
        {{ getLang('關閉') }}
      </button>
    </template>
  </b-modal>
</template>
<script>

export default {
  props: ['news'],
  methods: {
    unlockScreen () {
      document.getElementsByTagName('html')[0].style.overflow = '';
    }
  }
};
</script>
