<template>
  <div class="marquee-block">
    <span class="d-block d-lg-none ml-1">
      <i class="fas fa-volume-up text-primary" />
    </span>
    <ul id="marquee" v-b-modal="'marquee_info'" class="marquee" @click="lockScreen()">
      <li v-for="(item,index) in news" :key="index">
        <a href="javascript:void(0)">
          {{ item.content }}
        </a>
      </li>
    </ul>
  </div>
</template>
<script>
function jsElement (src) {
  return new Promise((resolve, reject) => {
    const jsElement = document.createElement('script');
    jsElement.src = src;
    jsElement.onload = () => {
      resolve();
    };
    document.body.append(jsElement);
  });
}
export default {
  components: {
  },
  props: ['news'],
  mounted () {
    jsElement('/js/jquery-3.3.1.min.js').then(() => {
      jsElement('/js/jquery.marquee.js').then(() => {
        $('#marquee').marquee({ yScroll: 'bottom' });
      });
    });
  },
  methods: {
    lockScreen () {
      document.getElementsByTagName('html')[0].style.overflow = 'hidden';
    }
  }
};
</script>
