<template>
  <nav>
    <div id="nav-tab" class="nav nav-tabs nav-justified" role="tablist">
      <nuxt-link
        v-for="(item,index) in ['payment','transfer','withdrawal','history','account']"
        :key="index"
        :to="`/member/${item}`"
        class="nav-item nav-link"
        :class="$route.name==`member-${item}`?'active':''"
      >
        {{ getLang(['存款','轉帳','提款','交易紀錄','帳戶'][index]) }}
      </nuxt-link>
    </div>
  </nav>
</template>
