<template>
  <div>
    <b-modal id="alertModal" size="lg" modal-class="fade show">
      <template v-slot:modal-header="{ close }">
        <h5 id="exampleModalLabel" class="modal-title">
          {{ getLang("提示訊息") }}
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          @click="close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </template>
      <template v-slot:default>
        {{ $store.state.alertMessage }}
      </template>
      <template v-slot:modal-footer="{ close }">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          @click="close"
        >
          {{ getLang("關閉") }}
        </button>
      </template>
    </b-modal>
    <b-modal id="confirmModal" size="lg" modal-class="fade show">
      <template v-slot:modal-header="{ close }">
        <h5 id="exampleModalLabel" class="modal-title">
          {{ getLang("提示訊息") }}
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          @click="close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </template>
      <template v-slot:default>
        <div v-html="$store.state.confirmMessage" />
      </template>
      <template v-slot:modal-footer="{ close }">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          @click="submit()"
        >
          {{ getLang("確認") }}
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          @click="close"
        >
          {{ getLang("取消") }}
        </button>
      </template>
    </b-modal>
  </div>
</template>

<script>
import { mapFields } from 'vuex-map-fields';
export default {
  data () {
    return {
      submitStatus: true
    };
  },
  computed: {
    ...mapFields(['confirmOk', 'confirmCancel'])
  },
  methods: {
    submit () {
      if (this.submitStatus) {
        this.confirmOk();
        this.submitStatus = false;
        setTimeout(() => {
          this.submitStatus = true;
        }, 5000);
      }
    }
  }
};
</script>
