<template>
  <div>
    <head-nav
      :login-data="loginData"
      @logout="logout"
      @login="login"
    />
    <marquee v-if="news" :news="news" />
    <marquee-modal v-if="news" :news="news" />
    <Nuxt />
    <foot />
    <popup-windows />
    <inbox-modal ref="inbox-modal" :inbox="inbox" />
  </div>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
import { login, logout, getNewsList, getAdsList } from '~/api/user.js';
export default {
  data () {
    return {
      loginData: {
        account: '',
        password: '',
        imgCode: ''
      },
      countLoad: 0,
      news: null,
      timer: null,
      inbox: null
    };
  },
  computed: {
    ...mapFields('lang', ['selectLang']),
    ...mapFields(['userInfo'])
  },
  watch: {
    $route () {
      this.checkPowerPath();
    },
    selectLang () {
      this.getNews();
    }
  },
  mounted () {
    if (this.$route.query.app == 1) {
      this.$cookies.set('app', 1);
    } else if (this.$route.query.app == 2) {
      this.$cookies.remove('app');
    }

    this.$store.dispatch('setUserInfo', ({ status, message }) => {
      // this.alertInBoxModal(inbox);
      if (status) {
        this.watchProfile();
      } else {
        this.checkPowerPath();
      }
    });

    this.getNews();
    this.getAd();
  },
  destroyed () {
    clearTimeout(this.timer);
  },
  methods: {
    // alertInBoxModal (inbox) {
    //   if (inbox) {
    //     this.inbox = inbox;
    //     this.$refs['inbox-modal'].show();
    //   }
    // },
    watchProfile () {
      clearTimeout(this.timer);
      this.timer = setInterval(() => {
        this.$store.dispatch('setUserInfo', ({ status, message }) => {
          // this.alertInBoxModal(inbox);
          if (!status) {
            clearTimeout(this.timer);
            this.$store.dispatch('setAlertMessage', this.getLang('未登入'));
            this.$bvModal.show('alertModal');
          }
        });
      }, (process.env.NODE_ENV == 'development' ? 5 : 60) * 1000);
    },
    checkPowerPath () {
      if (!this.$store.state.userInfo) {
        const powerPath = ['/member/payment', '/member/transfer', '/member/withdrawal', '/member/history', '/member/account'];
        if (powerPath.includes(this.$route.path)) {
          this.$router.push('/');
        }
      }
    },
    async login (callback) {
      const payload = this.loginData;
      try {
        await login(payload);
        this.$store.dispatch('setUserInfo', () => {
          this.watchProfile();
          if (this.userInfo.inboxCount) {
            this.$router.push('/inbox');
          } else {
            this.$router.push('/');
          }
        });

        this.loginData.account = '';
        this.loginData.password = '';
        this.loginData.imgCode = '';
      } catch (err) {
        this.$store.dispatch('setAlertMessage', err.message);
        this.$bvModal.show('alertModal');
        callback && callback();
      }
    },
    async logout (callback) {
      try {
        await logout();
        this.$store.dispatch('clearUserInfo');
        this.$router.push('/');
        clearTimeout(this.timer);
      } catch (err) {
        this.$store.dispatch('setAlertMessage', err.message);
        this.$bvModal.show('alertModal');
      }
    },
    async getNews () {
      try {
        const res = await getNewsList(this.selectLang);
        this.news = res.data;
      } catch (err) {
        this.$store.dispatch('setAlertMessage', err.message);
        this.$bvModal.show('alertModal');
      }
    },
    async getAd () {
      try {
        const res = await getAdsList();
        this.$store.dispatch('setAd', res.data);
      } catch (err) {
        this.$store.dispatch('setAlertMessage', err.message);
        this.$bvModal.show('alertModal');
      }
    }
  }
};
</script>

<style>
@media (max-width: 768px) {
  #chat-widget-container{
    display:none;
  }
}
</style>
