<template>
  <div class="container member-main aboud-main">
    <div class="main-title">
      <h5>{{ getLang('關於我們') }}</h5>
    </div>
    <div class="aboud-main-content">
      <p>
        {{ getLang('微博帝國 在線賭場成立於2019年。微博帝國的目標是創建一流的新加坡在線賭場平台，') }}
        {{ getLang('培訓精英人士提供世界一流的服務。 除此之外，我們在2009年獲得了前1000名活躍成員。') }}
        {{ getLang('儘管如此，我們所有人在2008年的危機中都受到了影響。通過我們的不懈努力和對“客戶至上”的信念，') }}
        {{ getLang('我們仍然獲得了絕對驚人的增長率，在危機期間，該增長率高達65％。') }}
      </p>
      <h6>{{ getLang('微博帝國 隊成') }}</h6>
      <p>
        {{ getLang('微博帝國團隊成立已有12年，我們擁有精英的客戶服務團隊和技術人員。') }}<br>
        {{ getLang('為了確保遊戲體驗的質量，我們使用最先進的隨機數生成器來確保所有遊戲結果都是公平的。') }}<br>
        {{ getLang('高效有效的客戶服務可為您提供24小時的服務。') }}<br>
        {{ getLang('平均3分鐘的存款和5分鐘的提款是我們提供的強大服務之一。') }}<br>
        {{ getLang('如有任何查詢，請通過左下角的實時聊天與我們聯繫。') }}
      </p>
      <h6>{{ getLang('產品') }}</h6>
      <p>
        {{ getLang('微博帝國與世界上最強大的領導者建立夥伴關係，擁有世界一流的真人遊戲娛樂場，') }}
        {{ getLang('老虎機和体育。 我們始終希望為客戶提供最好的最佳體驗。 微博帝國，您的最佳選擇！') }}
      </p>
      <h6>{{ getLang('真人娛樂場') }}</h6>
      <p>
        {{ getLang('每天來自世界各地的1000多家華麗經銷商。我們提供百家樂，二十一點，骰寶等現場表演，') }}
        {{ getLang('這些真人秀來自世界各地的真人娛樂場。') }}
      </p>
      <h6>{{ getLang('老虎機') }}</h6>
      <p>
        {{ getLang('聚集所有世界一流的賭場，並提供800多種有趣且充滿活力的老虎機遊戲，桌上游戲和現場遊戲。') }}
        {{ getLang('我們只會在視覺，音頻和遊戲體驗方面做到最好。 令人難以置信的賠率，十分鐘內提取百萬美元！') }}
      </p>
      <h6>{{ getLang('體育') }}</h6>
      <p>{{ getLang('我們提供超過1000場比賽，賠率，最新信息和結果。 立即與我們聯繫，獲取您獨特的促銷並贏取大獎！') }}</p>
    </div>
  </div>
</template>
