<template>
  <div class="container member-main aboud-main">
    <div class="main-title">
      <h5>{{ getLang('激活帳號') }}</h5>
    </div>

    <div class="member-form">
      <div
        class="form-group form-row justify-content-md-center"
        :style="{marginBottom:marginBottom.phone+'px'}"
      >
        <label for="input4" class="col-sm-3 col-form-label">
          {{ getLang('聯繫號碼') }}
          <span class="text-danger">*</span> :
        </label>
        <div class="col-sm-9">
          <ValidationProvider
            ref="phone"
            :rules="{
              required: true,
              regex: regex.phone,
            }"
          >
            <input
              v-model="registerData.phone"
              type="text"
              class="form-control"
              :placeholder="getLang('輸入能收到SMS驗證碼之電話號碼，否則不能註冊')"
              :class="validate.phone?'':'is-invalid'"
              :disabled="sendSMSStatus"
              @focus="inputCheck($event,'phone',0)"
              @blur="inputCheck($event,'phone',1)"
            >
            <div class="invalid-feedback">
              {{ getLang('聯繫號碼有問題') }}
            </div>
          </ValidationProvider>
        </div>
      </div>
      <div
        class="form-group form-row justify-content-md-center"
        :style="{marginBottom:marginBottom.smsCode+'px'}"
      >
        <label for="input4" class="col-sm-3 col-form-label">
          {{ getLang('手機驗證碼') }}
          <span class="text-danger">*</span> :
        </label>
        <div class="col-sm-9">
          <ValidationProvider
            ref="smsCode"
            :rules="{
              required: true,
            }"
          >
            <input
              v-model="registerData.smsCode"
              type="text"
              class="form-control"
              :placeholder="getLang('請輸入手機驗證碼')"
              :class="validate.smsCode?'':'is-invalid'"
              @focus="inputCheck($event,'smsCode',0)"
              @blur="inputCheck($event,'smsCode',1)"
            >
            <div class="invalid-feedback">
              {{ getLang('此欄位不能空白') }}
            </div>
          </ValidationProvider>
        </div>
      </div>
      <div
        class="form-group form-row justify-content-md-center"
        :style="{marginBottom:marginBottom.imgCode+'px'}"
      >
        <label for="input5" class="col-sm-3 col-form-label">
          {{ getLang('圖形驗證碼') }}
          <span class="text-danger">*</span> :
        </label>
        <div :class="imgCode?'col-sm-5':'col-sm-9'">
          <ValidationProvider
            ref="imgCode"
            :rules="{
              required: true,
              regex: regex.imgCode,
            }"
          >
            <input
              v-model="registerData.imgCode"
              type="text"
              class="form-control"
              :placeholder="getLang('驗證碼')"
              :class="validate.imgCode?'':'is-invalid'"
              @keyup.enter="$emit('login');"
              @focus="inputCheck($event,'imgCode',0)"
              @blur="inputCheck($event,'imgCode',1)"
            >
            <div class="invalid-feedback">
              {{ getLang('圖形驗證碼為4碼組合') }}
            </div>
          </ValidationProvider>
        </div>
        <div class="col-sm-4">
          <img
            class="img-fluid"
            :src="imgCode"
            @click="getCaptcha()"
          >
        </div>
      </div>

      <div
        class="form-group row mt-5 justify-content-center"
        :style="{marginBottom:marginBottom.submit+'px'}"
      >
        <div
          class="col-sm-12 d-flex justify-content-center align-items-center"
          style="height:70px;"
        >
          <button
            class="btn btn-magenta px-5"
            :style="{
              marginTop:submitTop,
              marginLeft:submitLeft,
            }"
            @click="activeAccount"
          >
            {{ getLang('激活帳號') }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { getCaptcha, activeAccount } from '~/api/user.js';
import regex from '~/assets/scripts/regex';
export default {
  data () {
    return {
      sendSMSStatus: false,
      imgCodehandler: false,
      imgCode: '',
      registerData: {
        account: '',
        password: '',
        password2: '',
        phone: '',
        smsCode: '',
        imgCode: ''
      },
      validate: {
        account: true,
        password: true,
        repeatPassword: true,
        phone: true,
        smsCode: true,
        imgCode: true
      },
      regex: {
        account: regex.account,
        password: regex.password,
        phone: regex.phone,
        imgCode: regex.imgCode
      },
      submitTop: 0,
      submitLeft: 0,
      marginBottom: {
        account: 0,
        password: 0,
        repeatPassword: 0,
        phone: 0,
        smsCode: 0,
        imgCode: 0,
        submit: 0
      },
      inputFail: 0,
      inputTimer: {
        account: 0,
        password: 0,
        repeatPassword: 0,
        phone: 0,
        smsCode: 0,
        imgCode: 0,
        submit: 0
      },
      inputValue: {
        account: '',
        password: '',
        repeatPassword: '',
        phone: '',
        smsCode: '',
        imgCode: '',
        submit: ''
      }
    };
  },
  mounted () {
    const fields = ['account', 'password', 'repeatPassword', 'phone', 'smsCode', 'imgCode', 'submit'];
    for (let i = 0; i < fields.length; i++) {
      const field = fields[i];
      this.marginBottom[field] = (Math.floor(Math.random() * 101) + 15);
    }
    // -50% ~ 50%
    // -25% ~ 25%
    const getRnd = (base) => {
      if (!base) { base = 50; };
      return ((Math.floor(Math.random() * (base * 2 + 1))) - base);
    };

    this.submitTop = getRnd(10) + '%';
    this.submitLeft = getRnd() + '%';
    this.getCaptcha();
    if (this.$route.query.phone) {
      this.registerData.phone = this.$route.query.phone;
    }
  },
  methods: {
    inputCheck (e, field, type) {
      if (this.inputFail) {
        e.target.blur();
        this.inputFail = 0;
      }
      if (type) {
        const cutTime = Date.now() - this.inputTimer[field];
        if (this.inputValue[field] != e.target.value && e.target.value) {
          if (cutTime < 1 * 1000) {
            this.inputFail = 1;
          }
        }
      } else {
        this.inputTimer[field] = Date.now();
        this.inputValue[field] = e.target.value;
      }
    },
    async getCaptcha (callback) {
      try {
        const res = await getCaptcha(3);
        this.imgCode = res.img;
        if (res.code) {
          this.registerData.imgCode = res.code;
        }
      } catch (err) {
        this.$store.dispatch('setAlertMessage', err.message);
        this.$bvModal.show('alertModal');
      } finally {
        callback && callback();
      }
    },
    async validateForm () {
      const result = await Promise.all([
        this.$refs.phone.validate(),
        this.$refs.imgCode.validate(),
        this.$refs.smsCode.validate()
      ]);
      this.validate.phone = result[0].valid;
      this.validate.imgCode = result[1].valid;
      this.validate.smsCode = result[2].valid;
      const isAllValid = result.every(x => x.valid === true);
      return isAllValid;
    },
    async activeAccount () { // 取得手機簡訊驗證碼
      const validResult = await this.validateForm();
      if (validResult !== true) {
        this.imgCodehandler = true;
        this.getCaptcha();
        return;
      }
      const payload = {
        phone: this.registerData.phone,
        imgCode: this.registerData.imgCode,
        smsCode: this.registerData.smsCode
      };
      try {
        const res = await activeAccount(payload);
        this.imgCodehandler = false;
        this.sendSMSStatus = true;
        this.$store.dispatch('setAlertMessage', res.message);
        this.$store.dispatch('setUserInfo', () => {
          this.$router.push('/');
        });
      } catch (err) {
        this.imgCodehandler = true;
        this.sendSMSStatus = false;
        this.getCaptcha();
        for (const i in err.messages) {
          this.validate[i] = err.messages[i];
        }
        this.$store.dispatch('setAlertMessage', err.message);
      } finally {
        this.$bvModal.show('alertModal');
      }
    }
  }
};

</script>
