<template>
  <div class="container member-main ">
    <div class="main-title">
      <h5>{{ getLang('手機 APP 下載') }}</h5>
    </div>
    <div class="row app-main align-items-center">
      <div class="col-lg-6 text-center order-2 order-lg-1">
        <h2 class="mb-3">
          {{ getLang('立即下載手機 APP') }}
        </h2>
        <h5 class="mb-2">
          {{ getLang('手機快速投注 現金輕鬆入袋') }}
        </h5>
        <p>{{ getLang('以手機實現方便簡單的操作方式') }}<br>{{ getLang('彩票投注、真人視訊、電子遊藝、體育投注 四大平台') }}</p>
        <div class="row align-items-center">
          <div class="col align-items-center">
            <div class="row">
              <div class="col mb-2">
                <a href="#"><img src="~/static/images/app-apple@2x.png" alt="" width="153"></a>
              </div>
              <div class="col">
                <a href="#"><img src="~/static/images/app-android@2x.png" alt="" width="153"></a>
              </div>
            </div>
          </div>
          <div class="col d-flex justify-content-center">
            <div class="app-qrcode">
              <img src="~/static/images/app-qrcode.png" alt="" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 d-flex justify-content-center mb-4 order-md-1">
        <div class="app-banner" />
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-lg-6 d-flex justify-content-center mb-4">
        <div class="app-safety" />
      </div>
      <div class="col-lg-6 text-center">
        <h2 class="mb-3">
          {{ getLang('安全有保障 服務新趨勢') }}
        </h2>
        <p>
          {{ getLang('登入密碼保障，充值、提現、迅速到帳') }}<br>
          {{ getLang('為您打造最安全的服務平台') }}<br>
          {{ getLang('讓您暢玩無憂、領獎無慮') }}
        </p>
      </div>
    </div>
  </div>
</template>
