<template>
  <div class="container member-main aboud-main">
    <div class="main-title">
      <h5>{{ getLang('銀行') }}</h5>
    </div>
    <div class="aboud-main-content">
      <p>
        {{ getLang('在微博帝国 網上賭場，您可以便捷高效地進行交易，因為提款和存款方法多種多樣，供您選擇。') }}
        {{ getLang('請瀏覽下面顯示的所有銀行選項，然後選擇最適合您的方法。') }}
      </p>

      <table class="table table-bordered text-white table-sm walletTable">
        <tbody>
          <tr>
            <td rowspan="2">
              {{ getLang('銀行期權') }}
            </td>
            <td colspan="2">
              <strong>{{ getLang('交易限額') }}</strong>
            </td>
            <td rowspan="2">
              <strong>{{ getLang('交易時間表') }}</strong>
            </td>
          </tr>
          <tr>
            <td><strong>{{ getLang('最低要求') }}</strong></td>
            <td><strong>{{ getLang('最大值') }}</strong></td>
          </tr>
          <tr>
            <td colspan="4" class="th">
              {{ getLang('存款') }}
            </td>
          </tr>
          <tr v-for="(item,index) in depositList" :key="item.type">
            <td>{{ getLang(item.name) }}</td>
            <td>{{ Number(item.min) }}</td>
            <td>{{ Number(item.max) }}</td>
            <td v-if="index === 0" :rowspan="depositList.length">
              5 - 10 {{ getLang('分鐘') }}
            </td>
          </tr>
          <tr>
            <td colspan="4" class="th">
              {{ getLang('提款') }}
            </td>
          </tr>
          <tr v-for="(item,index) in withdrawList" :key="item.type">
            <td>{{ getLang(item.name) }}</td>
            <td>{{ Number(item.min) }}</td>
            <td>{{ Number(item.max) }}</td>
            <td v-if="index === 0" :rowspan="withdrawList.length">
              5 - 10 {{ getLang('分鐘') }}
            </td>
          </tr>
        </tbody>
      </table>

      <ul>
        <li>{{ getLang('客戶可以根據上述最大值在每個日曆日執行提款 [三倍（x3）]') }}</li>
        <li>{{ getLang('所有存款必須全額下注，然後才能提款。') }}</li>
        <li>{{ getLang('如果需要交易證明，請保留銀行收據或交易參考號。') }}</li>
        <li>{{ getLang('請在機票上附上您的押金證明，並與我們的客戶支持聯繫，以免發生押金交易的任何延誤。') }}</li>
        <li>{{ getLang('在處理您的玩家帳戶中的任何付款之前，我們可能會要求您提供驗證文件。大額提款可能需要更長的時間來處理。') }}</li>
        <li>{{ getLang('只有在最初在微博帝國註冊了玩家帳戶的同一個人才能批准提款。') }}</li>
        <li>{{ getLang('請記住，除非您符合領取獎金的必要條件/營業額，否則您沒有資格提款。') }}</li>
        <li>{{ getLang('如果您對未列出的其他銀行有要求，請聯繫我們的實時聊天以獲取其他所有本地銀行的信息。') }}</li>
      </ul>
    </div>
  </div>
</template>
<script>
import { getPaymentList } from '~/api/transaction.js';
export default {
  data () {
    return {
      depositList: [],
      withdrawList: [
        { name: '日本銀行', min: '100', max: '100000' },
        { name: 'USDT', min: '100', max: '50000' }
      ]
    };
  },
  mounted () {
    this.getPayment();
  },
  methods: {
    async getPayment () {
      try {
        const res = await getPaymentList();
        this.depositList = res.data;
      } catch (err) {
        this.$store.dispatch('setAlertMessage', err.message);
        this.$bvModal.show('alertModal');
      }
    }
  }
};
</script>
