<template>
  <div class="container member-main aboud-main">
    <div class="main-title">
      <h5>{{ getLang('聯絡我們') }}</h5>
    </div>
    <div class="aboud-main-content">
      <h6 class="text-center mb-4">
        <span class="contact-title">{{ getLang('需要幫忙？') }}</span> {{ getLang('通過以下渠道聯繫我們的客戶服務人員') }}
      </h6>
      <div class="row align-items-center">
        <div class="col-lg-6 text-center order-2 order-lg-1 d-flex justify-content-center">
          <div class="contact-banner" />
        </div>
        <div class="col-lg-6 text-center order-2">
          <div class="contact-data d-flex justify-content-center align-items-center">
            <div class="contact-icon wechat">
              <span>Wechat</span>
            </div>
            <div class="content-name">
              {{ getLang('微博帝國') }}
            </div>
          </div>
          <div class="contact-data d-flex justify-content-center align-items-center">
            <div class="contact-icon whatsapp">
              <span>Whatsapp</span>
            </div>
            <div class="content-name">
              +8012-3456789
            </div>
          </div>
          <div class="contact-data d-flex justify-content-center align-items-center">
            <div class="contact-icon telegram">
              <span>Telegram</span>
            </div>
            <div class="content-name">
              +8012-3456789
            </div>
          </div>
          <div class="contact-data d-flex justify-content-center align-items-center">
            <div class="contact-icon skype">
              <span>Skype</span>
            </div>
            <div class="content-name">
              微博帝國@gamil.com
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
