<template>
  <div class="container member-main ">
    <div class="main-title">
      <h5>{{ getLang('優惠活動') }}</h5>
    </div>
    <div class="discount-body">
      <div id="accordionExample" class="accordion">
        <b-card v-for="(item,index) in ad" :key="index" no-body>
          <b-card-header :ref="`accordion-${item.id}`" header-tag="header" class="p-1" role="tab">
            <h2 class="mb-0">
              <button
                v-b-toggle:[`accordion-${item.id}`]
                class="btn btn-link"
                type="button"
                data-toggle="collapse"
                data-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                <img class="d-block mx-auto rounded img-fluid" :src="$config.baseURL+item.path" :alt="item.title">
                <span class="btn-more">{{ getLang('了解更多') }} <i class="fas fa-angle-double-down" /></span>
              </button>
            </h2>
          </b-card-header>

          <b-collapse :id="`accordion-${item.id}`" accordion="my-accordion" role="tabpanel" :visible="$route.query.num==item.id">
            <b-card-body v-html="item.content" />
          </b-collapse>
        </b-card>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  computed: {
    ad () {
      return this.$store.state.ad || [];
    }
  },
  mounted () {
    setTimeout(() => {
      this.$refs[`accordion-${this.$route.query.num}`] &&
      this.$refs[`accordion-${this.$route.query.num}`][0] &&
      this.$refs[`accordion-${this.$route.query.num}`][0].scrollIntoView();
    }, 500);
  }
};
</script>
