<template>
  <div class="container member-main aboud-main">
    <div class="main-title">
      <h5>{{ getLang('忘記密碼') }}</h5>
    </div>

    <div class="member-form">
      <div class="form-group form-row justify-content-md-center">
        <label for="input1" class="col-sm-3 col-form-label">
          {{ getLang('聯繫號碼') }}
          <span class="text-danger">*</span> :
        </label>
        <div class="col-sm-7">
          <ValidationProvider
            ref="phone"
            :rules="{
              required: true,
              regex: regex.phone,
            }"
          >
            <input
              id="input1"
              v-model="postData.phone"
              type="text"
              class="form-control"
              :class="validate.phone?'':'is-invalid'"
              :placeholder="getLang('請輸入聯繫號碼')"
            >
            <div class="invalid-feedback">
              {{ getLang('聯繫號碼有問題') }}
            </div>
          </ValidationProvider>
        </div>
      </div>
      <div class="form-group form-row justify-content-md-center">
        <label for="input3" class="col-sm-3 col-form-label">
          {{ getLang('驗證碼') }}
          <span class="text-danger">*</span> :
        </label>
        <div :class="imgCode?'col-sm-5':'col-sm-7'">
          <ValidationProvider
            ref="imgCode"
            :rules="{
              required: true,
              regex: regex.imgCode,
            }"
          >
            <input
              id="input3"
              v-model="postData.imgCode"
              type="text"
              class="form-control"
              :class="validate.imgCode?'':'is-invalid'"
              :placeholder="getLang('驗證碼')"
              autocomplete="off"
              @click="imgCodehandler && ((imgCodehandler=false) || getCaptcha())"
              @keyup.enter="$emit('login');"
            >
            <div class="invalid-feedback">
              {{ getLang('圖形驗證碼為4碼組合') }}
            </div>
          </ValidationProvider>
        </div>
        <div v-if="imgCode" class="col-sm-2">
          <img
            class="img-fluid"
            :src="imgCode"
            @click="getCaptcha()"
          >
        </div>
      </div>
      <div class="form-group row mt-5">
        <div class="col-sm-12 text-center">
          <button class="btn btn-magenta px-5" @click="forget">
            {{ getLang('提交') }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { getCaptcha, sendPassword } from '~/api/user.js';
import regex from '~/assets/scripts/regex';
export default {
  data: () => {
    return {
      imgCodehandler: true,
      imgCode: '',
      postData: {
        phone: '',
        imgCode: ''
      },
      validate: {
        phone: true,
        imgCode: true
      },
      regex: {
        phone: regex.phone,
        imgCode: regex.imgCode
      }
    };
  },
  methods: {
    async getCaptcha () {
      try {
        const res = await getCaptcha(2);
        this.imgCode = res.img;
        if (res.code) {
          this.postData.imgCode = res.code;
        }
      } catch (err) {
        this.$store.dispatch('setAlertMessage', err.message);
        this.$bvModal.show('alertModal');
      }
    },
    async validateForm () {
      const result = await Promise.all([
        this.$refs.phone.validate(),
        this.$refs.imgCode.validate()
      ]);
      this.validate.phone = result[0].valid;
      this.validate.imgCode = result[1].valid;
      const isAllValid = result.every(x => x.valid === true);
      return isAllValid;
    },
    async forget () {
      const validResult = await this.validateForm();
      if (validResult !== true) { return; }
      const payload = this.postData;
      try {
        const res = await sendPassword(payload);
        this.postData.imgCode = '';
        this.postData.phone = '';
        this.$store.dispatch('setAlertMessage', res.message);
      } catch (err) {
        this.timeInt = Date.now();
        this.$store.dispatch('setAlertMessage', err.message);
      } finally {
        this.$bvModal.show('alertModal');
        this.getCaptcha();
      }
    }

  }
};
</script>
