<template>
  <div class="container member-main aboud-main">
    <div class="main-title">
      <h5>inbox</h5>
    </div>
    <div class="member-form">
      <div class="form-group form-row justify-content-md-center">
        <div class="col-sm-3">
          <div v-for="(item,index) in list" :key="index">
            <button
              class="btn btn-sm mb-1 btn-block"
              :class="selectIndex==index?'btn-dark':'btn-light'"
              @click="select(index)"
            >
              {{ getLang(item.status?'已讀':'未讀') }}
              {{ item.title }}
            </button>
          </div>
        </div>
        <div class="col-sm-9">
          <div v-if="list[selectIndex]" class="inbox-main">
            {{ getLang('發送時間') }}:{{ simpleDateFormat(list[selectIndex].created_at) }}
            <input
              v-model="list[selectIndex].title"
              type="text"
              disabled
              style="width:100%;"
              class="mb-1"
            >
            <textarea
              v-model="list[selectIndex].content"
              disabled
              :style="{
                width:'100%',
                height:'100px'
              }"
            />
            <img
              v-for="(item,index) in list[selectIndex].imageList"
              :key="index"
              class="mb-2"
              :src="$config.baseURL+item"
              style="max-width:100%;"
            >
            <button
              class="btn btn-sm btn-danger"
              @click="del()"
            >
              {{ getLang('刪除') }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { get, update, del } from '~/api/inbox.js';
export default {
  data: () => {
    return {
      list: [],
      selectIndex: -1
    };
  },
  mounted () {
    const post = {

    };
    get(post).then(({ data }) => {
      this.$set(this, 'list', data);
    });
  },
  methods: {
    select (index) {
      if (this.selectIndex == index) {
        this.selectIndex = -1;
      } else {
        this.selectIndex = index;
        const item = this.list[this.selectIndex];
        const id = item.id;
        if (item.status == 0) {
          update({}, id).then(({ status }) => {
            if (status) {
              item.status = 1;
              this.$store.dispatch('setUserInfo');
            }
          });
        }
      }
    },
    del () {
      const item = this.list[this.selectIndex];
      const id = item.id;

      del(id).then(({ status }) => {
        if (status) {
          this.list.splice(this.selectIndex, 1);
          this.selectIndex = -1;
          this.$store.dispatch('setUserInfo');
        }
      });
    }
  }
};
</script>
