<template>
  <div>
    <div class="d-block d-lg-none">
      <ul class="min-menu d-flex justify-content-center align-items-center flex-wrap">
        <div v-for="(item,index) in gameTypeList" :key="item.id" v-frag>
          <div v-if="item.mobileLink" v-frag>
            <li>
              <a href="javascript:void(0)" class="a2" @click="setSelectMenu(item.type)">{{ getLang(item.name) }}</a>
            </li>
            <li v-if="index + 1 < gameTypeList.length" class="min-line">
              |
            </li>
          </div>
        </div>
      </ul>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide mx-auto" data-ride="carousel">
      <ol class="carousel-indicators">
        <li v-for="(item,index) in ad" :key="item.id" :class="slide==index?'active':''" @click="slide=index" />
      </ol>
      <b-carousel
        v-model="slide"
        :interval="5000"

        @sliding-start="onSlideStart"
        @sliding-end="onSlideEnd"
      >
        <b-carousel-slide
          v-for="item in ad"
          :key="item.id"
          class="carousel-item"
          :img-src="$config.baseURL+item.path"
          :img-alt="item.title"
        />
      </b-carousel>

      <div class="overlay" />
      <div class="menu">
        <ul>
          <li v-for="item in gameTypeList" :key="item.id">
            <a
              v-if="item.type"
              href="javascript:void(0)"
              :class="gameTypeBtn(item)"
              class="btn-menu"
              @click="setSelectMenu(item.type)"
            >
              <span>{{ getLang(item.name) }}</span>
            </a>
          </li>
        </ul>
        <!-- 遊戲按鈕  Start -->
        <section class="game-main">
          <div class="game-menu justify-content-center align-items-center" :class="gameTypeBg">
            <div class="game-menu-inside d-flex align-items-center justify-content-center flex-column flex-wrap">
              <a v-for="(item,index) in showProvider" :key="index" href="javascript:void(0)" @click="openGame(item)">
                <img :src="require(`~/static/images/game-icon-${item.src}.png`)" width="195">
                <div v-if="!item.status" class="cover">
                  <span>維護中</span></div>
              </a>
            </div>
          </div>
          <nuxt-link
            v-if="ad[slide] && selectMenu=='promotions'"
            :to="`/discount?num=${ad[slide].id}`"
            style="position:absolute;top:0;left:0;width:100%;height:100%;"
          />
        </section>
      </div>
    <!-- 遊戲按鈕  End -->
    </div>
    <div class="container other d-flex justify-content-center">
      <span v-for="item in linkList" :key="item.id" class="mx-2">
        <a
          :href="item.href"
          class="btn-other"
          :class="linkBtn(item)"
          data-toggle="tooltip"
          data-placement="top"
          title=""
          target="_blank"
          :data-original-title="item.title"
        />
      </span>
    </div>
  </div>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
import { getProductList } from '~/api/game.js';
export default {
  data () {
    return {
      selectMenu: 'promotions',
      slide: 0,
      sliding: null,
      timer: null,
      gameTypeList: [
        { id: 1, type: 'casino', name: '真人娛樂', mobileLink: true },
        { id: 2, type: 'sport', name: '體育', mobileLink: true },
        { id: 3, type: '', name: null, mobileLink: false },
        { id: 4, type: '', name: null, mobileLink: false },
        { id: 5, type: '', name: null, mobileLink: false },
        { id: 6, type: 'horse', name: '賽馬', mobileLink: true },
        { id: 7, type: 'esport', name: '電競', mobileLink: true },
        { id: 8, type: 'lottery', name: '彩票', mobileLink: true },
        { id: 9, type: 'slot', name: '老虎機', mobileLink: true },
        { id: 10, type: 'promotions', name: '優惠活動', mobileLink: false },
        { id: 11, type: 'card', name: '棋牌', mobileLink: true },
        { id: 12, type: 'fishing', name: '捕魚', mobileLink: true }
      ],
      gameProviderList: [],
      showProvider: [],
      linkList: [
        { id: 1, href: 'https://hk888.app', src: 'hk', title: '香港資訊網' },
        { id: 2, href: 'https://www.super-music.cc', src: 'music', title: '音樂網' },
        { id: 3, href: 'http://super-av.cc', src: 'av', title: 'AV網' },
        { id: 4, href: 'http://super-tv.cc', src: 'tv', title: '電影網' }
      ]
    };
  },
  computed: {
    ...mapFields(['userInfo']),
    ad () {
      return this.$store.state.ad || [];
    },
    gameTypeBg () {
      return `menu-${this.selectMenu}`;
    },
    ...mapFields('lang', ['selectLang'])
  },
  mounted () {
    this.getProductList();
  },
  methods: {
    async getProductList () {
      const params = {
        'where[type]': 1
      };
      try {
        const res = await getProductList(params);
        this.gameProviderList = [...res.data];
        this.gameProviderList.forEach((x) => {
          x.src = x.code.toLowerCase();
          switch (x.id) {
            case 2: {
              x.type = ['casino'];
              break;
            }
            case 3: {
              x.type = ['horse'];
              break;
            }
            case 4: {
              x.type = ['sport'];
              break;
            }
            case 5: {
              x.type = ['casino', 'sport', 'lottery', 'slot', 'fishing'];
              x.cmd = {
                sport: 1,
                casino: 3,
                lottery: 12,
                slot: 5,
                fishing: 30
              };
              const data = {
                id: 5,
                code: 'BBIN',
                src: 'xbb',
                status: x.status,
                type: ['casino', 'lottery', 'slot'],
                cmd: {
                  casino: 75,
                  lottery: 73,
                  slot: 76
                }
              };
              this.gameProviderList.push(data);
              break;
            }
            default:
              break;
          }
        });
      } catch (err) {
        this.$store.dispatch('setAlertMessage', err.message);
        this.$bvModal.show('alertModal');
      }
    },
    onSlideStart (slide) {
      this.sliding = true;
    },
    onSlideEnd (slide) {
      this.sliding = false;
    },
    setSelectMenu (name) {
      this.selectMenu = name;
      const array = [...this.gameProviderList];
      const result = [];
      array.forEach((x) => {
        const data = x.type.find(y => y === name);
        if (data) {
          result.push(x);
        }
      });
      this.showProvider = result;
      if (this.selectMenu) {
        clearTimeout(this.timer);
        this.timer = setTimeout(() => {
          this.selectMenu = 'promotions';
          this.showProvider = [];
        }, 10 * 1000);
      }
    },
    gameTypeBtn (item) {
      let result = '';
      result += `btn-${item.type}`;
      result += this.selectMenu === item.type ? ' active' : '';
      result += item.type !== 'promotions' ? ' a1' : '';
      return result;
    },
    linkBtn (item) {
      return `btn-${item.src}`;
    },
    openGame (item) {
      if (!item.status) { return; };
      if (!this.userInfo) {
        this.$store.dispatch('setAlertMessage', this.getLang('請先登入'));
        this.$bvModal.show('alertModal');
        return;
      }
      const lang = this.selectLang;
      const cmdNo = item.cmd ? item.cmd[this.selectMenu] : '';
      if (cmdNo === 5 || cmdNo === 30 || cmdNo === 76) {
        this.$router.push({
          name: 'slot-list',
          query: { pid: item.id, cmd: cmdNo }
        });
      } else {
        const url = `/launchGames?lang=${lang}&provider=${item.code}&cmd=${cmdNo}`;
        if (this.$cookies.get('app')) {
          this.$router.push(url);
        } else {
          window.open(url, 'launchGames', 'height=600px,width=1000px');
        }
      }
    }
  }
};
</script>
