<template>
  <div class="container member-main aboud-main center">
    <div class="main-title">
      <h5>{{ getLang('快速轉帳') }}</h5>
    </div>
    <div class="member-form">
      <h5>{{ gameProvider }}</h5>
      <div class="form-group form-row justify-content-md-center">
        <label for="username" class="col-sm-3 col-form-label">{{ getLang('主錢包餘額') }} :</label>
        <div class="col-sm-6">
          <input
            v-model="mainWallet"
            type="text"
            class="form-control"
            disabled
          >
        </div>
      </div>
      <div class="form-group form-row justify-content-md-center">
        <label for="username" class="col-sm-3 col-form-label">{{ getLang('目前的遊戲餘額') }} :</label>
        <div class="col-sm-6">
          <input
            v-model="gameWallet"
            type="text"
            class="form-control"
            disabled
          >
        </div>
      </div>
      <div class="form-group form-row justify-content-md-center">
        <label for="username" class="col-sm-3 col-form-label">{{ getLang('轉帳金額') }} :</label>
        <div class="col-sm-6">
          <ValidationProvider
            ref="amount"
            :rules="{
              required: true,
              integer: true,
              minValue:0.01
            }"
          >
            <input
              v-model="transferAmount"
              type="text"
              class="form-control"
              :class="validate.amount?'':'is-invalid'"
            >
            <div class="invalid-feedback">
              {{ getLang('僅能輸入數字，且不能低於0.01') }}
            </div>
          </ValidationProvider>
        </div>
      </div>
      <div class="form-group row mt-5">
        <div class="col-sm-12 text-center">
          <button class="btn btn-magenta px-5 mt-2" @click="transport()">
            {{ getLang('轉帳') }}
          </button>
          <button class="btn btn-magenta px-5 mt-2" @click="openGame()">
            {{ getLang('忽略並啟動遊戲') }}
          </button>
        </div>
      </div>
    </div>
    <popup-windows />
  </div>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
import { getBalance, AtoBpoint, openGame } from '~/api/game.js';
import { getProfile } from '~/api/user.js';
export default {
  layout: 'gameEntrance',
  data () {
    return {
      userInfo: {},
      gameProvider: '',
      cmdNo: '',
      gameType: '',
      mainWallet: 0,
      gameWallet: 0,
      transferAmount: 0,
      validate: {
        amount: true
      }
    };
  },
  computed: {
    ...mapFields('lang', ['langList', 'selectLang'])
  },
  mounted () {
    const data = location.search.split('?')[1].split('&');
    const lang = data[0].split('=')[1];
    this.selectLang = lang;
    this.gameProvider = data[1].split('=')[1];
    this.cmdNo = data[2].split('=')[1];
    this.gameType = data[3] ? data[3].split('=')[1] : '';
    this.getProfile();
  },
  methods: {
    async getProfile () {
      try {
        const res = await getProfile();
        this.$set(this, 'userInfo', res.data);
        this.mainWallet = parseInt(res.data.amount).toFixed(2);
        this.getBalance();
      } catch (err) {
        this.$store.dispatch('setAlertMessage', err.message);
        this.$bvModal.show('alertModal');
      }
    },
    async getBalance () {
      const payload = {
        gameName: this.gameProvider
      };
      try {
        const res = await getBalance(payload);
        const amount = parseInt(res.data).toFixed(2);
        this.$set(this, 'gameWallet', amount);
      } catch (err) {
        this.$store.dispatch('setAlertMessage', err.message);
        this.$bvModal.show('alertModal');
      }
    },
    async validateForm () {
      const result = await Promise.all([
        this.$refs.amount.validate()
      ]);
      this.validate.amount = result[0].valid;
      const isAllValid = result.every(x => x.valid === true);
      return isAllValid;
    },
    async transport () {
      const validResult = await this.validateForm();
      if (validResult !== true) { return; }
      const payload = {
        gameB: this.gameProvider,
        money: this.transferAmount
      };
      try {
        await AtoBpoint(payload);
        this.openGame();
      } catch (err) {
        this.$store.dispatch('setAlertMessage', err.message);
        this.$bvModal.show('alertModal');
      }
    },
    async openGame () {
      const payload = {
        gameName: this.gameProvider,
        cmd: 'GameUrlBy' + this.cmdNo,
        gametype: this.gameType || ''
      };
      try {
        const res = await openGame(payload);
        if (this.gameType) {
          res.data[0].html5 ? location.assign(res.data[0].html5) : location.assign(res.data[0].pc);
        } else if (this.cmdNo) {
          location.assign(res.data[0][window.innerWidth > 992 ? 'pc' : 'mobile']);
        } else {
          location.assign(res.data);
        }
      } catch (err) {
        this.$store.dispatch('setAlertMessage', err.message);
        this.$bvModal.show('alertModal');
      }
    }
  }
};
</script>

<style scoped>
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
</style>
