<template>
  <div class="container member-main ">
    <div class="main-title">
      <h5>{{ getLang('電影 / 音樂分享') }}</h5>
    </div>
    <div class="discount-body">
      <div id="accordionExample" class="accordion">
        <!-- 音樂網 -->
        <div class="card">
          <div id="heading4" class="card-header">
            <h2 class="mb-0">
              <a href="https://www.super-music.cc" target="_blank" class="btn btn-link collapsed">
                <img class="d-block mx-auto rounded img-fluid" src="~/static/images/movie-banner-4.png" alt="First slide">
              </a>
            </h2>
          </div>
        </div>

        <!-- 電影網 -->
        <div class="card">
          <div id="headingTwo" class="card-header">
            <h2 class="mb-0">
              <a href="http://super-tv.cc/" target="_blank" class="btn btn-link collapsed">
                <img class="d-block mx-auto rounded img-fluid" src="~/static/images/movie-banner-2.jpg" alt="First slide">
              </a>
            </h2>
          </div>
        </div>

        <!--成人電影網-->
        <div class="card">
          <div id="headingThree" class="card-header">
            <h2 class="mb-0">
              <a href="http://super-av.cc/" target="_blank" class="btn btn-link collapsed">
                <img class="d-block mx-auto rounded img-fluid" src="~/static/images/movie-banner-3.jpg" alt="First slide">
              </a>
            </h2>
          </div>
        </div>

        <!--香港資訊網-->
        <div class="card">
          <div id="headingOne" class="card-header">
            <h2 class="mb-0">
              <a href="https://www.hk888.app" target="_blank" class="btn btn-link collapsed">
                <img class="d-block mx-auto rounded img-fluid" src="~/static/images/movie-banner-1.jpg" alt="First slide">
              </a>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
