<template>
  <div class="container member-main aboud-main">
    <div class="main-title">
      <h5>{{ getLang('隱私政策') }}</h5>
    </div>
    <div class="aboud-main-content">
      <p>
        {{ getLang('微博帝國的團隊完全致力於尊重和保護每個玩家的隱私。') }}<br>
        {{ getLang('微博帝國利用尖端技術來確保我們從每個玩家那裡收到的訊息的安全性不會受到損害。') }}<br>
        {{ getLang('我們收到的所有訊息都是使用防黑客加密技術傳輸的。') }}<br>
        {{ getLang('一但這些信息存儲在我們的專用服務器上。') }}<br>
        {{ getLang('便可以使用最新的防火牆軟件保護所有數據。') }}<br>
        {{ getLang('我們的網站和遊戲軟件利用所有可用的手段來確保數據的準確性和隱私性。') }}<br>
        {{ getLang('並保護數據免遭任何濫用或丟失。') }}
      </p>
    </div>
  </div>
</template>
