<template>
  <div class="container member-main aboud-main">
    <div class="main-title">
      <h5>{{ getLang('會員註冊') }}</h5>
    </div>

    <div class="member-form">
      <div
        class="form-group form-row justify-content-md-center"
        :style="{marginBottom:marginBottom.account+'px'}"
      >
        <label for="input1" class="col-sm-3 col-form-label">
          {{ getLang('用戶名') }}
          <span class="text-danger">*</span> :
        </label>
        <div class="col-sm-9">
          <ValidationProvider
            ref="account"
            :rules="{
              required: true,
              regex: regex.account,
            }"
          >
            <input
              v-model="registerData.account"
              type="text"
              class="form-control "
              :class="validate.account?'':'is-invalid'"
              :placeholder="getLang('輸入6至12位的數字或小寫英文字母組合(a-z,0-9)')"
              autocorrect="off"
              autocapitalize="none"
              @focus="inputCheck($event,'account',0)"
              @blur="inputCheck($event,'account',1)"
            >
            <div class="invalid-feedback">
              {{ getLang('數字或英文組合4到10碼') }}
            </div>
          </ValidationProvider>
        </div>
      </div>
      <div
        class="form-group form-row justify-content-md-center"
        :style="{marginBottom:marginBottom.password+'px'}"
      >
        <label for="input2" class="col-sm-3 col-form-label">
          {{ getLang('密碼') }}
          <span class="text-danger">*</span> :
        </label>
        <div class="col-sm-9">
          <ValidationProvider
            ref="password"
            :rules="{
              required: true,
              regex: regex.password,
            }"
          >
            <input
              v-model="registerData.password"
              type="password"
              class="form-control"
              :placeholder="getLang('輸入6至12位含英文與數字的密碼組合，不允許特殊符號')"
              :class="validate.password?'':'is-invalid'"
              @focus="inputCheck($event,'password',0)"
              @blur="inputCheck($event,'password',1)"
            >
            <div class="invalid-feedback">
              {{ getLang('連續英文數字組合6到13碼') }}
            </div>
          </ValidationProvider>
        </div>
      </div>
      <div
        class="form-group form-row justify-content-md-center"
        :style="{marginBottom:marginBottom.repeatPassword+'px'}"
      >
        <label for="input3" class="col-sm-3 col-form-label">
          {{ getLang('重輸密碼') }}
          <span class="text-danger">*</span> :
        </label>
        <div class="col-sm-9">
          <ValidationProvider
            ref="repeatPassword"
            :rules="{
              required: true,
              is: registerData.password,
            }"
          >
            <input
              v-model="registerData.password2"
              type="password"
              class="form-control"
              :placeholder="getLang('重輸密碼')"
              :class="validate.repeatPassword?'':'is-invalid'"
              @focus="inputCheck($event,'repeatPassword',0)"
              @blur="inputCheck($event,'repeatPassword',1)"
            >
            <div class="invalid-feedback">
              {{ getLang('必須跟密碼一樣') }}
            </div>
          </ValidationProvider>
        </div>
      </div>
      <div
        class="form-group form-row justify-content-md-center"
        :style="{marginBottom:marginBottom.phone+'px'}"
      >
        <label for="input4" class="col-sm-3 col-form-label">
          {{ getLang('聯繫號碼') }}
          <span class="text-danger">*</span> :
        </label>
        <div class="col-sm-9">
          <ValidationProvider
            ref="phone"
            :rules="{
              required: true,
              regex: regex.phone,
            }"
          >
            <input
              v-model="registerData.phone"
              type="text"
              class="form-control"
              :placeholder="getLang('輸入能收到SMS驗證碼之電話號碼，否則不能註冊')"
              :class="validate.phone?'':'is-invalid'"
              :disabled="sendSMSStatus"
              @focus="inputCheck($event,'phone',0)"
              @blur="inputCheck($event,'phone',1)"
            >
            <div class="invalid-feedback">
              {{ getLang('聯繫號碼有問題') }}
            </div>
          </ValidationProvider>
        </div>
        <div v-if="0" class="col-sm-3">
          <button class="btn btn-magenta btn-block rounded" @click="sendSMS">
            {{ getLang('發送驗證碼') }}
          </button>
        </div>
      </div>
      <div
        class="form-group form-row justify-content-md-center"
        :style="{marginBottom:marginBottom.imgCode+'px'}"
      >
        <label for="input5" class="col-sm-3 col-form-label">
          {{ getLang('圖形驗證碼') }}
          <span class="text-danger">*</span> :
        </label>
        <div :class="imgCode?'col-sm-5':'col-sm-9'">
          <ValidationProvider
            ref="imgCode"
            :rules="{
              required: true,
              regex: regex.imgCode,
            }"
          >
            <input
              v-model="registerData.imgCode"
              type="text"
              class="form-control"
              :placeholder="getLang('驗證碼')"
              :class="validate.imgCode?'':'is-invalid'"
              @keyup.enter="$emit('login');"
              @focus="inputCheck($event,'imgCode',0)"
              @blur="inputCheck($event,'imgCode',1)"
            >
            <div class="invalid-feedback">
              {{ getLang('圖形驗證碼為4碼組合') }}
            </div>
          </ValidationProvider>
        </div>
        <div class="col-sm-4">
          <img
            class="img-fluid"
            :src="imgCode"
            @click="getCaptcha()"
          >
        </div>
      </div>
      <div
        v-if="0"
        class="form-group form-row justify-content-md-center"
        :style="{marginBottom:marginBottom.smsCode+'px'}"
      >
        <label for="input4" class="col-sm-3 col-form-label">
          {{ getLang('手機驗證碼') }}
          <span class="text-danger">*</span> :
        </label>
        <div class="col-sm-9">
          <ValidationProvider
            ref="smsCode"
            :rules="{
              required: true,
            }"
          >
            <input
              v-model="registerData.smsCode"
              type="text"
              class="form-control"
              :placeholder="getLang('請輸入手機驗證碼')"
              :class="validate.smsCode?'':'is-invalid'"
              @focus="inputCheck($event,'smsCode',0)"
              @blur="inputCheck($event,'smsCode',1)"
            >
            <div class="invalid-feedback">
              {{ getLang('此欄位不能空白') }}
            </div>
          </ValidationProvider>
        </div>
      </div>

      <div
        class="form-group row mt-5 justify-content-center"
        :style="{marginBottom:marginBottom.submit+'px'}"
      >
        <div
          class="col-sm-12 d-flex justify-content-center align-items-center"
          style="height:70px;"
        >
          <button
            class="btn btn-magenta px-5"
            :style="{
              marginTop:submitTop,
              marginLeft:submitLeft,
            }"
            @click="register"
          >
            {{ getLang('註冊') }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { getCaptcha, sendVerificationCode, register } from '~/api/user.js';
import regex from '~/assets/scripts/regex';
export default {
  data () {
    return {
      sendSMSStatus: false,
      imgCodehandler: false,
      imgCode: '',
      registerData: {
        account: '',
        password: '',
        password2: '',
        phone: '',
        smsCode: '',
        imgCode: ''
      },
      validate: {
        account: true,
        password: true,
        repeatPassword: true,
        phone: true,
        smsCode: true,
        imgCode: true
      },
      regex: {
        account: regex.account,
        password: regex.password,
        phone: regex.phone,
        imgCode: regex.imgCode
      },
      submitTop: 0,
      submitLeft: 0,
      marginBottom: {
        account: 0,
        password: 0,
        repeatPassword: 0,
        phone: 0,
        smsCode: 0,
        imgCode: 0,
        submit: 0
      },
      inputFail: 0,
      inputTimer: {
        account: 0,
        password: 0,
        repeatPassword: 0,
        phone: 0,
        smsCode: 0,
        imgCode: 0,
        submit: 0
      },
      inputValue: {
        account: '',
        password: '',
        repeatPassword: '',
        phone: '',
        smsCode: '',
        imgCode: '',
        submit: ''
      }
    };
  },
  mounted () {
    const fields = ['account', 'password', 'repeatPassword', 'phone', 'smsCode', 'imgCode', 'submit'];
    for (let i = 0; i < fields.length; i++) {
      const field = fields[i];
      this.marginBottom[field] = (Math.floor(Math.random() * 101) + 15);
    }
    // -50% ~ 50%
    // -25% ~ 25%
    const getRnd = (base) => {
      if (!base) { base = 50; };
      return ((Math.floor(Math.random() * (base * 2 + 1))) - base);
    };

    this.submitTop = getRnd(10) + '%';
    this.submitLeft = getRnd() + '%';
    this.getCaptcha();
  },
  methods: {
    inputCheck (e, field, type) {
      if (this.inputFail) {
        e.target.blur();
        this.inputFail = 0;
      }
      if (type) {
        const cutTime = Date.now() - this.inputTimer[field];
        if (this.inputValue[field] != e.target.value && e.target.value) {
          if (cutTime < 1 * 1000) {
            this.inputFail = 1;
          }
        }
      } else {
        this.inputTimer[field] = Date.now();
        this.inputValue[field] = e.target.value;
      }
    },
    async getCaptcha (callback) {
      try {
        const res = await getCaptcha(1);
        this.imgCode = res.img;
        if (res.code) {
          this.registerData.imgCode = res.code;
        }
      } catch (err) {
        this.$store.dispatch('setAlertMessage', err.message);
        this.$bvModal.show('alertModal');
      } finally {
        callback && callback();
      }
    },
    async validateForm () {
      const result = await Promise.all([
        this.$refs.account.validate(),
        this.$refs.password.validate(),
        this.$refs.repeatPassword.validate(),
        this.$refs.phone.validate()
        // this.$refs.smsCode.validate()
      ]);
      this.validate.account = result[0].valid;
      this.validate.password = result[1].valid;
      this.validate.repeatPassword = result[2].valid;
      this.validate.phone = result[3].valid;
      // this.validate.smsCode = result[4].valid;
      const isAllValid = result.every(x => x.valid === true);
      return isAllValid;
    },
    async register () { // 註冊帳號
      const validResult = await this.validateForm('register');
      if (validResult !== true) { return; }
      const payload = this.registerData;
      if (this.$route.query.code) {
        payload.code = this.$route.query.code;
      }
      try {
        await register(payload);
        this.$router.push('/activeAccount?phone=' + payload.phone);
      } catch (err) {
        for (const i in err.messages) {
          this.validate[i] = err.messages[i];
        }
        this.$store.dispatch('setAlertMessage', err.message);
        this.$bvModal.show('alertModal');
      }
    }
  }
};

</script>
