<template>
  <div class="container member-main aboud-main">
    <div class="main-title">
      <h5>{{ getLang('博彩責任') }}</h5>
    </div>
    <div class="aboud-main-content">
      <p>
        {{ getLang('賭博更普遍地是一種娛樂活動，既有趣又有益。 微博帝国 團隊堅信，賭博的決定應始終是個人選擇，') }}
        {{ getLang('而不是在他人的任何壓力下做出的選擇。 我們的首要任務是確保為所有玩家提供最佳的在線賭場遊戲體驗。') }}
        {{ getLang('要做到這一點，需要我們付出努力，也需要每個玩家負責任的遊戲。') }}
      </p>
      <p>{{ getLang('如果滿足以下條件，則永遠不會賭博：') }}</p>
      <ul>
        <li>{{ getLang('您尚未達到您所在司法管轄區的合法賭博年齡。') }}</li>
        <li>{{ getLang('它使您無法專心工作或履行職責。') }}</li>
        <li>{{ getLang('您正在從成癮性疾病或依賴性中康復。') }}</li>
        <li>{{ getLang('您受到酒精或其他物質的影響。') }}</li>
        <li>{{ getLang('您正試圖彌補以前的賭博損失。') }}</li>
      </ul>

      <p>
        {{ getLang('賭博被許多人視為娛樂活動。它主要是一種有趣且無害的方式，可以擺脫日常生活的單調乏味並消磨時間。') }}
        {{ getLang('但是，只有少數賭徒為此活動感到煩惱。上癮的強迫賭徒破壞了在線和陸上游戲業務的正面形象。') }}
      </p>
      <p>
        {{ getLang('微博帝国 團隊像他們的陸上游戲對手一樣，訓練有素，裝備精良，可以發現並識別玩家中強迫性賭博的令人不安的跡象。') }}
        {{ getLang('我們的目標是為所有人提供舒適且一流的遊戲環境，同時也為需要我們幫助的人們提供幫助。') }}
      </p>
      <p>
        {{ getLang('微博帝国 堅信社會盡責並遵守我們好心玩家的願望，從而提供優質的服務。由於他們在賭場管理行業的長期經驗，') }}
        {{ getLang('微博帝国 團隊配備了必要的技能和工具，可以成功地識別出強迫性賭博的跡象。') }}
        {{ getLang('憑藉這一經驗，團隊致力於在賭場之外幫助有需要的強迫性賭徒。') }}
      </p>
      <p>
        {{ getLang('賭徒匿名組織是一家頗受歡迎的組織，其成立目的是為有問題的強迫性賭徒提供幫助和支持。') }}<br>
        {{ getLang('身體由具有共同特徵的男人和女人的團契組成，他們有意識地停止強迫性賭博。') }}<br>
        {{ getLang('他們匯集了經驗，優勢和希望共同克服自己的癮。如果您或您認識的人需要他們的幫助，') }}<br>
        {{ getLang('請隨時通過以下網址與他們聯繫：www.gamblersanonymous.org。') }}
      </p>
    </div>
  </div>
</template>
