<template>
  <div class="container member-main rules-main">
    <div class="main-title">
      <h5>{{ getLang('規則與條款') }}</h5>
    </div>
    <div class="rules-main-content">
      <div id="accordionExample" class="accordion" role="tablist">
        <b-card no-body>
          <b-card-header header-tag="header" class="p-1" role="tab">
            <b-button v-b-toggle.accordion-1 block variant="transparent" class="btn btn-link btn-block">
              1. {{ getLang('法律和法律要求') }}
            </b-button>
          </b-card-header>
          <b-collapse id="accordion-1" accordion="my-accordion" role="tabpanel">
            <b-card-body>
              <ul>
                <li>{{ getLang('您必須處於您居住國家/地區確定的法定年齡。') }}</li>
                <li>{{ getLang('只有年滿18歲的用戶才能使用我們的服務。 未成年人在任何情況下均不得使用我們的服務。') }}</li>
                <li>{{ getLang('我們僅鼓勵用戶訪問或使用我們的服務，前提是該用戶位於在線賭場/賭博合法的國家/地區。 我們不打算任何人在非法使用我們服務的情況下使用我們的服務。 您有義務確定在線賭場在您居住的地方是合法的。 您必須獨自承擔在線賭場非法的所有法律責任。') }}</li>
              </ul>
            </b-card-body>
          </b-collapse>
        </b-card>
        <b-card no-body>
          <b-card-header header-tag="header" class="p-1" role="tab">
            <b-button v-b-toggle.accordion-2 block variant="transparent" class="btn btn-link btn-block">
              2.{{ getLang('使用軟件的協議') }}
            </b-button>
          </b-card-header>
          <b-collapse id="accordion-2" accordion="my-accordion" role="tabpanel">
            <b-card-body>
              <p>{{ getLang('我們的軟件並非專為您個人設計，您必須遵循以下規定才能在網上賭場玩遊戲：') }}</p>
              <p>{{ getLang('禁止您這樣做：') }}</p>
              <ul>
                <li>{{ getLang('通過在線服務或遠程控製或其他方法將軟件上傳或安裝到其他服務器。') }}</li>
                <li>{{ getLang('您不擁有分配，租賃，借出，轉讓或複制軟件的權利。') }}</li>
                <li>{{ getLang('禁止對該軟件進行任何編輯。') }}</li>
                <li>{{ getLang('禁止使用第三方軟件或程序嘗試或訪問我們的系統或軟件，並導致我們的軟件無法正常運行。 我們將對其中任何一項採取法律行動。') }}</li>
                <li>{{ getLang('已同意，擁有，下載或安裝我們軟件的任何人都將遵守我們的條款和條件，並且不會採取任何會影響遊戲體驗的措施。') }}</li>
              </ul>
            </b-card-body>
          </b-collapse>
        </b-card>
        <b-card no-body>
          <b-card-header header-tag="header" class="p-1" role="tab">
            <b-button v-b-toggle.accordion-3 block variant="transparent" class="btn btn-link btn-block">
              3.{{ getLang('責任範圍') }}
            </b-button>
          </b-card-header>
          <b-collapse id="accordion-3" accordion="my-accordion" role="tabpanel">
            <b-card-body>
              <p>{{ getLang('在法律要求允許的範圍內，我們和用戶來自使用在線賭場的本協議：') }}</p>
              <ul>
                <li>{{ getLang('本軟件不附帶任何保證，我們特此排除所有隱含條款和保證。我們不保證該軟件可以滿足每個人的需求。') }}</li>
                <li>{{ getLang('我們不保證該軟件不會造成侵權，並且運行過程將100％無錯誤。對於由軟件引起的費用，我們對您或第三方不承擔任何責任。但是，如果軟件有錯誤或故障，我們將採取相關措施盡快糾正。') }}</li>
                <li>{{ getLang('由於使用在線賭場而產生的本協議對您和第三方造成的最大責任，無論是由於違反合同，無法履行義務或對用戶造成直接損害，均不超過該金額付費使用該軟件的用戶數量。') }}</li>
                <li>{{ getLang('無論在任何情況下，微博帝國，我們的員工，董事會，提供者，生產者，代理商，父母和子公司以及其他關聯方均無需對任何直接或間接的損害，損失或任何其他形式承擔任何責任。使用在線賭場的後果。如果使用在線賭場中斷，我們將在註意到後採取必要的措施。') }}</li>
                <li>{{ getLang('任何可允許的索賠應在事件發生之日起30天內提出。在30天內未向我們報告的任何索賠將被視為沒收。') }}</li>
                <li>{{ getLang('在訪問我們的軟件或服務時，由於使用第三方程序或設備而引起的任何風險或成本應完全由用戶承擔。我們將不賠償任何此類風險。') }}</li>
                <li>{{ getLang('您在此承認，使用軟件的風險自負。我們不對任何損失或費用負責。') }}</li>
                <li>{{ getLang('如果任何用戶嘗試操縱或作弊，我們有權關閉用戶帳戶，所有餘額將被沒收。所有遊戲都必須使用我們的軟件，禁止使用任何第三方設備或軟件。') }}</li>
              </ul>
            </b-card-body>
          </b-collapse>
        </b-card>

        <b-card no-body>
          <b-card-header header-tag="header" class="p-1" role="tab">
            <b-button v-b-toggle.accordion-4 block variant="transparent" class="btn btn-link btn-block">
              4.{{ getLang('安全與保障') }}
            </b-button>
          </b-card-header>
          <b-collapse id="accordion-4" accordion="my-accordion" role="tabpanel">
            <b-card-body>
              <ul>
                <li>{{ getLang('我們僅允許用戶通過安全網絡訪問我們的娛樂場服務。 您必須先通過我們的安全登錄名才能訪問我們的服務。') }}</li>
                <li>{{ getLang('用戶帳戶應用於娛樂目的，禁止以任何商業或他人名義使用。') }}</li>
                <li>{{ getLang('您應該對登錄ID和密碼保持機密，並且不得透露給他人。 用戶必須為其自己的ID負責任何交易或遊戲記錄。') }}</li>
              </ul>
            </b-card-body>
          </b-collapse>
        </b-card>

        <b-card no-body>
          <b-card-header header-tag="header" class="p-1" role="tab">
            <b-button v-b-toggle.accordion-5 block variant="transparent" class="btn btn-link btn-block">
              5.{{ getLang('用戶責任') }}
            </b-button>
          </b-card-header>
          <b-collapse id="accordion-5" accordion="my-accordion" role="tabpanel">
            <b-card-body>
              <ul>
                <li>{{ getLang('您有義務檢查您所在國家/地區使用在線賭場的合法性。 如果您訪問我們的服務是在您自己的國家或您居住的地方是非法的，則必須承擔所有風險。') }}</li>
                <li>{{ getLang('使用在線賭場服務時，您應對所有稅款或費用負全部責任。') }}</li>
                <li>{{ getLang('如果您的個人詳細信息已更改，則應將您的註冊詳細信息告知我們。') }}</li>
                <li>{{ getLang('您同意我們所有的遊戲結果均由隨機數生成器生成。 所有結果都是公平的。 如果遊戲結果與服務器結果不同，並且您確認我們在服務器上的記錄是確定條款和環境的最終授權。') }}</li>
                <li>{{ getLang('當在線娛樂場出現技術問題或故障時，所有投注將失效。') }}</li>
              </ul>
            </b-card-body>
          </b-collapse>
        </b-card>

        <b-card no-body>
          <b-card-header header-tag="header" class="p-1" role="tab">
            <b-button v-b-toggle.accordion-6 block variant="transparent" class="btn btn-link btn-block">
              6.{{ getLang('帳戶責任') }}
            </b-button>
          </b-card-header>
          <b-collapse id="accordion-6" accordion="my-accordion" role="tabpanel">
            <b-card-body>
              <ul>
                <li>{{ getLang('您同意，按照我們自己的意願向我們的帳戶付款，並且不會要求退款或取消。 用戶同意承擔付款的所有額外費用。') }}</li>
                <li>{{ getLang('您必須確保已付款到我們提供的帳戶。 付款的詳細信息應與您的註冊詳細信息一致，不允許第三方付款。') }}</li>
                <li>{{ getLang('如果您遇到此類問題，請與我們聯繫以獲取更多詳細信息。') }}</li>
                <li>{{ getLang('所有沒有登錄或遊戲記錄的帳戶將被視為“休眠”帳戶。 所有這些“休眠”帳戶餘額將被沒收。 為避免帳戶餘額過高，請登錄並在12個月內玩一些遊戲。') }}</li>
              </ul>
            </b-card-body>
          </b-collapse>
        </b-card>

        <b-card no-body>
          <b-card-header header-tag="header" class="p-1" role="tab">
            <b-button v-b-toggle.accordion-7 block variant="transparent" class="btn btn-link btn-block">
              7.{{ getLang('您的保證，陳述和賠償') }}
            </b-button>
          </b-card-header>
          <b-collapse id="accordion-7" accordion="my-accordion" role="tabpanel">
            <b-card-body>
              <p>{{ getLang('您必須同意或履行所有僅有權玩在線賭場或使用我們的服務的條款和條件。') }}</p>
              <ul>
                <li>{{ getLang('您必須確保您的居住區允許使用在線賭場。') }}</li>
                <li>{{ getLang('您的行為是出於個人利益，而不是出於任何商業目的。您確認嚴格禁止將其用於任何其他目的。') }}</li>
                <li>{{ getLang('您在心理和身體上都很穩定，未被歸類為強迫性賭徒。') }}</li>
                <li>{{ getLang('您必須對所有獎品，遊戲記錄或向當地政府或稅務機關提供的其他信息負責。') }}</li>
                <li>{{ getLang('您同意向我們提供真實的信息，如有任何更改，您有義務告知我們。') }}</li>
                <li>{{ getLang('您了解賭博可能會賠錢。') }}</li>
                <li>{{ getLang('不允許將非法資金或犯罪活動用於存款。') }}</li>
                <li>{{ getLang('在線娛樂場禁止進行勾結，試圖勾結或意圖參與。') }}</li>
                <li>{{ getLang('您必須至少年滿18歲。禁止未成年人。') }}</li>
                <li>{{ getLang('您不是與公司利益有關的我們的高級職員，員工，供應商或任何關聯方。如果您違反此禁止規定，則會採取必要的措施。') }}</li>
              </ul>
            </b-card-body>
          </b-collapse>
        </b-card>

        <b-card no-body>
          <b-card-header header-tag="header" class="p-1" role="tab">
            <b-button v-b-toggle.accordion-8 block variant="transparent" class="btn btn-link btn-block">
              8.{{ getLang('保留權利') }}
            </b-button>
          </b-card-header>
          <b-collapse id="accordion-8" accordion="my-accordion" role="tabpanel">
            <b-card-body>
              <p>{{ getLang('我們保留以下權利：') }}</p>
              <ul>
                <li>{{ getLang('拒絕任何註冊我們服務的申請人。') }}</li>
                <li>{{ getLang('拒絕在線賭場上的任何賭注。') }}</li>
                <li>{{ getLang('要修改，暫停，刪除或取消在線賭場上的任何遊戲或錦標賽。') }}</li>
                <li>{{ getLang('做出並決定修改或取消我們所推廣的任何促銷或活動，包括時間表。') }}</li>
                <li>{{ getLang('對於任何獎金，賭注或遊戲問題，我們都有最終決定權。') }}</li>
              </ul>
            </b-card-body>
          </b-collapse>
        </b-card>

        <b-card no-body>
          <b-card-header header-tag="header" class="p-1" role="tab">
            <b-button v-b-toggle.accordion-9 block variant="transparent" class="btn btn-link btn-block">
              9.{{ getLang('通知') }}
            </b-button>
          </b-card-header>
          <b-collapse id="accordion-9" accordion="my-accordion" role="tabpanel">
            <b-card-body>
              <ul>
                <li>{{ getLang('我們有權訪問用戶信息，並向我們的用戶發送電子郵件，電話或任何相關通信。') }}</li>
                <li>{{ getLang('如果您需要幫助，請給我們發送電子郵件或通過實時聊天。') }}</li>
              </ul>
            </b-card-body>
          </b-collapse>
        </b-card>

        <b-card no-body>
          <b-card-header header-tag="header" class="p-1" role="tab">
            <b-button v-b-toggle.accordion-10 block variant="transparent" class="btn btn-link btn-block">
              10.{{ getLang('自我排斥') }}
            </b-button>
          </b-card-header>
          <b-collapse id="accordion-10" accordion="my-accordion" role="tabpanel">
            <b-card-body>
              <ul>
                <li>{{ getLang('如果您的帳戶需要自我排除，請與我們聯繫，我們將立即提供幫助。') }}</li>
              </ul>
            </b-card-body>
          </b-collapse>
        </b-card>
      </div>
    </div>
  </div>
</template>
