<template>
  <div class="container member-main slot-main">
    <div class="main-title mb-4">
      <h5>{{ gameType }}</h5>
    </div>
    <div class="slot-title text-center mb-3">
      <h2>{{ gameProvider }}</h2>
    </div>
    <!-- <div class="slot-nav btn-group">
      <button type="button" class="btn slot-btn active">
        BBIN
      </button>
      <button type="button" class="btn slot-btn">
        BBIN
      </button>
      <button type="button" class="btn slot-btn">
        BBIN
      </button>
    </div> -->

    <!-- <div class="btn-group mb-2 d-flex justify-content-center">
      <button
        type="button"
        class="btn btn-light dropdown-toggle slot-type-btn"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        遊戲分類
        <span class="caret" />
      </button>
      <ul class="dropdown-menu slot-type">
        <li>
          <a href="#" class="btn btn-light">
            <input type="checkbox" checked="" autocomplete="off">獎池遊戲
          </a>
        </li>
        <li><a href="#" class="btn btn-light active">所有遊戲</a></li>
        <li><a href="#" class="btn btn-light">熱門遊戲</a></li>
        <li><a href="#" class="btn btn-light">經典老虎機</a></li>
        <li><a href="#" class="btn btn-light">吃角老虎機</a></li>
        <li><a href="#" class="btn btn-light">獎池老虎機</a></li>
        <li><a href="#" class="btn btn-light">視頻撲克</a></li>
        <li><a href="#" class="btn btn-light">刮刮樂</a></li>
      </ul>
    </div> -->

    <div class="input-group input-group-sm mb-3 search-bar mx-auto">
      <input
        id="search-input"
        v-model="search"
        type="text"
        class="form-control"
        :placeholder="getLang('搜尋遊戲...')"
        aria-label="search game"
        aria-describedby="button-addon3"
        @keyup.enter="getGameList()"
      >
      <div class="input-group-append">
        <button
          id="button-addon3"
          class="btn btn-outline-secondary"
          type="button"
          @click="getGameList()"
        >
          <i class="fas fa-search" />
        </button>
      </div>
    </div>

    <main role="main" class="justify-content-center d-flex ">
      <div
        class="game-box d-flex flex-wrap align-items-start justify-content-center"
      >
        <div v-for="item in gameList" :key="item.id" class="game flex-column enabled" @click="openGame(item)">
          <div class="cover">
            {{ getLang('維護中') }}
          </div>
          <div class="gameImg">
            <img class="load" :src="$config.baseURL+item.images" alt="">
          </div>
          <div class="gameName">
            {{ item.name }}
            <span class="favstart-on" />
          </div>
        </div>
      </div>
    </main>

    <nav class="pagination-outer mt-4" aria-label="Page navigation">
      <ul class="pagination">
        <li class="page-item">
          <a href="javascript:void(0)" class="page-link" aria-label="Previous" @click="goPage('first')">
            <span aria-hidden="true">«</span>
          </a>
        </li>
        <li class="page-item">
          <a href="javascript:void(0)" class="page-link" aria-label="Previous" @click="goPage('prev')">
            <span aria-hidden="true">{{ getLang('上頁') }}</span>
          </a>
        </li>
        <li v-for="(num,index) in total" :key="index" class="page-item " :class="{active:pageData.page===num}" @click="goPage('target',num)">
          <a class="page-link" href="javascript:void(0)">{{ num+1 }}</a>
        </li>
        <li class="page-item">
          <a href="javascript:void(0)" class="page-link" aria-label="Previous" @click="goPage('next')">
            <span aria-hidden="true">{{ getLang('下頁') }}</span>
          </a>
        </li>
        <li class="page-item">
          <a href="javascript:void(0)" class="page-link" aria-label="Next" @click="goPage('last')">
            <span aria-hidden="true">»</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
import { getProductList, getGameList } from '~/api/game.js';
export default {
  data () {
    return {
      gameType: '',
      gameProvider: '',
      gameList: [],
      pageData: { page: 0, limit: 20 },
      pid: '',
      cmd: '',
      gameId: '',
      search: ''
    };
  },
  computed: {
    totalPage () {
      return Math.ceil(this.pageData.total / this.pageData.limit);
    },
    total () {
      let count = 0;
      if (this.pageData.page === 0 || this.pageData.page === this.totalPage - 1) {
        count = 4;
      } else if (this.pageData.page === 1 || this.pageData.page === this.totalPage - 2) {
        count = 3;
      } else {
        count = 2;
      }
      const start = this.pageData.page - count;
      const end = this.pageData.page + count;
      const result = [];
      for (let i = 0; i < this.totalPage; i++) {
        if (i >= start && i <= end) {
          result.push(i);
        }
      }
      return result;
    },
    ...mapFields('lang', ['selectLang'])
  },
  mounted () {
    const data = location.search.split('?')[1].split('&');
    this.pid = parseInt(data[0].split('=')[1]);
    this.cmd = parseInt(data[1].split('=')[1]);
    switch (this.cmd) {
      case 5: {
        this.gameType = '老虎機';
        this.gameId = 1;
        break;
      }
      case 30: {
        this.gameType = '捕魚';
        this.gameId = 2;
        break;
      }
      case 76: {
        this.gameType = '老虎機';
        this.gameId = 3;
        break;
      }
      default:
        break;
    }
    this.getGameList();
    this.getProductList();
  },
  methods: {
    async getProductList () {
      const params = {
        'where[type]': 1
      };
      try {
        const res = await getProductList(params);
        this.gameProvider = res.data.filter(x => x.id === this.pid)[0].code;
      } catch (err) {
        this.$store.dispatch('setAlertMessage', err.message);
        this.$bvModal.show('alertModal');
      }
    },
    async getGameList () {
      const payload = {
        page: this.pageData.page,
        limit: this.pageData.limit,
        pid: this.pid,
        gameId: this.gameId,
        search: this.search
      };
      try {
        const res = await getGameList(payload);
        this.$set(this, 'gameList', res.data);
        this.$set(this, 'pageData', res.pageData);
      } catch (err) {
        this.$store.dispatch('setAlertMessage', err.message);
        this.$bvModal.show('alertModal');
      }
    },
    openGame (item) {
      const lang = this.selectLang;
      let cmdNo = this.cmd;
      if (item.gameType === '38001' || item.gameType === '38002') {
        cmdNo = 38;
      }
      const url = `/launchGames?lang=${lang}&provider=${this.gameProvider}&cmd=${cmdNo}&gameType=${item.gameType}`;
      if (this.$cookies.get('app')) {
        this.$router.push(url);
      } else {
        window.open(url, 'launchGames', 'height=600px,width=1000px');
      }
    },
    goPage (type, num) {
      switch (type) {
        case 'first': {
          this.pageData.page = 0;
          break;
        }
        case 'prev': {
          if (this.pageData.page > 0) {
            this.pageData.page--;
          }
          break;
        }
        case 'target': {
          this.pageData.page = num;
          break;
        }
        case 'next': {
          if (this.pageData.page < this.total[this.total.length - 1]) {
            this.pageData.page++;
          }
          break;
        }
        case 'last': {
          this.pageData.page = this.totalPage - 1;
          break;
        }
        default:
          break;
      }
      this.getGameList();
    }
  }
};
</script>
