<template>
  <div class="text-center">
    <div>
      <a class="btn btn-primary" href="https://google.com">1.alink不另開</a>
    </div>
    <div>
      <a class="btn btn-primary" href="https://google.com" target="_blank">2.alink另開</a>
    </div>
    <div>
      <button class="btn btn-primary" @click="open">
        3.window open
      </button>
    </div>
    <div>
      <button class="btn btn-primary" @click="openSystem">
        4.window openSystem
      </button>
    </div>
    <div>
      <button class="btn btn-primary" @click="locationGo">
        5.location.href
      </button>
    </div>
  </div>
</template>
<script>
export default {
  methods: {
    open () {
      window.open('https://google.com');
    },
    openSystem () {
      window.open('https://google.com', '_system');
    },
    locationGo () {
      location.href = 'https://google.com';
    }

  }
};
</script>
