<template>
  <div>
    <div class="um-logo" title="Umpay">
      {{ getLang("USDT付款") }}
    </div>
    <div class="body">
      <div class="mod-ct">
        <ul class="time-item">
          <li>
            <div class="label-title">
              {{ getLang("交易時間") }}:
            </div>
            <div class="label-content text-red">
              {{ simpleDateFormat(data.created_at) }}
            </div>
          </li>
          <li>
            <div class="label-title">
              {{ getLang("狀態") }}:
            </div>
            <div class="label-content">
              {{ getStatusText(data.status) }}
            </div>
          </li>
          <li>
            <div class="label-title">
              {{ getLang("訂單編號") }}:
            </div>
            <div class="label-content">
              {{ data.receipt_token }}
            </div>
          </li>
          <li>
            <div class="label-title">
              {{ getLang("幣別") }}:
            </div>
            <div class="label-content">
              {{ data.billed_currency }}
            </div>
          </li>
          <li>
            <div class="label-title">
              {{ getLang("付款金額") }}:
            </div>
            <div id="money" class="label-content text-red">
              {{ Number(data.billed_price) }}
            </div>
          </li>
          <li>
            <div class="label-title" />
            <div class="label-content text-samll">
              {{ getLang("(閣下支付時可能產生手續費，請確保到賬金額與付款金額吻合。)") }}
            </div>
          </li>
          <li>
            <div class="label-title">
              {{ getLang("點數") }}:
            </div>
            <div class="label-content">
              {{ data.money | toFixed }}
            </div>
          </li>
          <li>
            <div class="label-title" />
            <div class="label-content text-red text-samll">
              {{ getLang("支付訂單已過期, 請重新發起訂單並於限時內支付，謝謝") }}
            </div>
          </li>
        </ul>
        <div class="copy-bank">
          <p class="copy-p">
            <span id="wallet_addr" class="show-txt">{{ data.wallet_addr }}</span>
            <button class="btnCopy" @click="copyText('#wallet_addr')">
              {{ getLang("複製") }}
            </button>
          </p>
        </div>
        <div class="time-item">
          <strong id="minute_show">{{ minute }}{{ getLang("分") }}</strong>
          <span class="colon"> : </span>
          <strong id="second_show">{{ second }}{{ getLang("秒") }}</strong>
        </div>

        <h3 class="mt-3">
          {{ getLang("條款及細則") }}
        </h3>
        <ol class="my-2">
          <li class="conditions7">
            {{ getLang("請於以上限時內完成支付，否則交易將以最新的匯價計算而不作另行通知。") }}
          </li>
          <li class="conditions2">
            {{ getLang("請勿向上述地址充值任何非加密貨幣資產，否則資產將不可找回。") }}
          </li>
          <li class="conditions3">
            {{ getLang("您充值至上述地址後，需要整個網路節點的確認，3次網路確認後到賬，6次網路確認後可提幣。") }}
          </li>
          <li class="conditions4">
            {{ getLang("少於最小金額的充值將不會入帳且無法退回。") }}
          </li>
          <li class="conditions5">
            {{ getLang("請複製充值地址到您的交易以確保地址正確。每個充值地址只可以充值一次，再次充值到同一地址可能導致資產不可找回。") }}
          </li>
          <li class="conditions6">
            {{ getLang("請務必確認電腦及流覽器安全，防止資訊被篡改或洩露。") }}
          </li>
        </ol>
      </div>
      <!-- <div class="foot-bar" style="display: flex;">
        <div class="change-c ok" onclick="changeStatus(1)">
          {{ getLang("已存款") }}
        </div>
        <div class="change-c cannel" onclick="changeStatus(-1)">
          {{ getLang("取消訂單") }}
        </div>
      </div> -->
    </div>
    <!-- <div class="foot">
      <div class="inner" style="display:none;">
        <p>手機用戶可保存上方二維碼到手機中</p>
        <p>在支付寶掃一掃中選擇「相冊」即可</p>
      </div>
    </div> -->
    <popup-windows />
  </div>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
import { virtualDepositDetail } from '~/api/transaction.js';
export default {
  layout: 'gameEntrance',
  data () {
    return {
      orderNo: '',
      data: {},
      countdownStatus: true,
      countdown: 0,
      minute: 0,
      second: 0
    };
  },
  computed: {
    ...mapFields('lang', ['langList', 'selectLang'])
  },
  mounted () {
    const data = location.search.split('?')[1].split('&');
    const lang = data[0].split('=')[1];
    this.selectLang = lang;
    this.orderNo = data[1].split('=')[1];
    this.getDetail();
  },
  methods: {
    async getDetail () {
      const payload = {
        receipt_token: this.orderNo
      };
      try {
        const res = await virtualDepositDetail(payload);
        this.$set(this, 'data', res.data.Fxbit);
        const currentDate = (new Date().getTime() / 1000) >> 0;
        const targetDate = (new Date(res.data.Fxbit.created_at).getTime() / 1000) >> 0;
        const diffDate = currentDate - targetDate;
        if (res.data.Fxbit.status === 0 && diffDate < 1800) {
          this.countdownTimer(1800 - diffDate);
          const msg = this.getLang('請務必付款') + ' ' + Number(res.data.Fxbit.billed_price) + '(' + res.data.Fxbit.billed_currency + ')' + this.getLang('，否則不能自動到帳！');
          this.$store.dispatch('setAlertMessage', msg);
          this.$bvModal.show('alertModal');
        } else {
          this.$store.dispatch('setAlertMessage', this.getLang('訂單已超時，請勿支付'));
          this.$bvModal.show('alertModal');
        }
      } catch (err) {
        this.$store.dispatch('setAlertMessage', err.message);
        this.$bvModal.show('alertModal');
      }
    },
    countdownTimer (time) {
      if (this.countdownStatus) {
        this.countdown = time;
        this.countdownStatus = false;
      }
      if (this.countdown > 0) {
        this.countdown -= 1;
        setTimeout(this.countdownTimer, 1000);
      } else {
        this.$store.dispatch('setAlertMessage', this.getLang('訂單已超時，請勿支付'));
        this.$bvModal.show('alertModal');
      }
      this.timeCountFormat(this.countdown);
    },
    timeCountFormat (timestamp) {
      this.minute = this.fillzero(Math.floor(timestamp / 60) % 60);
      this.second = this.fillzero(Math.floor(timestamp / 1) % 60);
    },
    fillzero (number) {
      if (number > 0) {
        if (number > 9) {
          return number;
        } else {
          return `0${number}`;
        }
      } else {
        return '00';
      }
    },
    getStatusText (status) {
      const statusTypeMap = new Map([
        [0, this.getLang('沒有任何入帳')],
        [1, this.getLang('監控到此地址有錢入帳')],
        [2, this.getLang('已完成')],
        [3, this.getLang('交易錯誤')],
        [4, this.getLang('金額不足')],
        [5, this.getLang('已逾期')],
        [6, this.getLang('金額超出')],
        [7, this.getLang('已逾期 收到入金')]
      ]);
      const result = statusTypeMap.get(status);
      return result;
    }
  }
};
</script>
<style scoped src='~/static/css/pay.css'>
</style>
<style scoped src='~/static/css/payb.css'>
</style>
