<template>
  <div class="container member-main">
    <member-nav />

    <div class="member-form form-border">
      <h5>{{ getLang('我的帳號') }}</h5>
      <div class="form-group form-row justify-content-md-center">
        <label for="username" class="col-sm-3 col-form-label">{{ getLang('用戶名') }} :</label>
        <div class="col-sm-6">
          <input
            v-model="profile.account"
            type="text"
            class="form-control"
            :placeholder="getLang('用戶名')"
            disabled
          >
        </div>
      </div>
      <div class="form-group form-row justify-content-md-center">
        <label for="username2" class="col-sm-3 col-form-label">{{ getLang('全名') }} :</label>
        <div class="col-sm-6">
          <input
            v-model="profile.name"
            type="text"
            class="form-control"
            :placeholder="getLang('全名')"
            :class="{'is-invalid':message.name}"
          >
          <div class="invalid-feedback">
            {{ message.name }}
          </div>
        </div>
      </div>
      <div class="form-group form-row justify-content-md-center">
        <label for="inputphone" class="col-sm-3 col-form-label">{{ getLang('聯繫號碼') }} :</label>
        <div class="col-sm-6">
          <input
            v-model="profile.phone"
            type="text"
            class="form-control"
            :placeholder="getLang('聯繫號碼')"
            disabled
          >
        </div>
      </div>
      <div class="form-group form-row justify-content-md-center">
        <label for="inputEmail3" class="col-sm-3 col-form-label">{{ getLang('電郵') }} :</label>
        <div class="col-sm-6">
          <input
            v-model="profile.email"
            type="email"
            class="form-control"
            :placeholder="getLang('電郵')"
            :class="{'is-invalid':message.email}"
          >
          <div class="invalid-feedback">
            {{ message.email }}
          </div>
        </div>
      </div>
      <h5 class="mt-5">
        {{ getLang('更改密碼') }}
      </h5>
      <div class="form-group form-row justify-content-md-center">
        <label for="inputPassword3" class="col-sm-3 col-form-label">{{ getLang('當前密碼') }} :</label>
        <div class="col-sm-6">
          <input
            v-model="profile.old_password"
            type="password"
            class="form-control"
            :placeholder="getLang('當前密碼')"
            :class="{'is-invalid':message.old_password}"
          >
          <div class="invalid-feedback">
            {{ message.old_password }}
          </div>
        </div>
      </div>
      <div class="form-group form-row justify-content-md-center">
        <label for="newPassword" class="col-sm-3 col-form-label">{{ getLang('新密碼') }} :</label>
        <div class="col-sm-6">
          <ValidationProvider
            ref="password"
            :rules="{
              required: true,
              regex: regex.password,
            }"
          >
            <input
              v-model="profile.password"
              type="password"
              class="form-control"
              :class="validate.password?'':'is-invalid'"
              :placeholder="getLang('新密碼')"
            >
            <div class="invalid-feedback">
              {{ getLang('連續英文數字組合6到13碼') }}
            </div>
          </ValidationProvider>
        </div>
      </div>
      <div class="form-group form-row justify-content-md-center">
        <label for="newPassword2" class="col-sm-3 col-form-label">{{ getLang('確認新密碼') }} :</label>
        <div class="col-sm-6">
          <ValidationProvider
            ref="repeatPassword"
            :rules="{
              required: true,
              is: profile.password,
            }"
          >
            <input
              v-model="profile.password2"
              type="password"
              class="form-control"
              :placeholder="getLang('確認新密碼')"
              :class="validate.repeatPassword?'':'is-invalid'"
            >
            <div class="invalid-feedback">
              {{ getLang('必須跟密碼一樣') }}
            </div>
          </ValidationProvider>
        </div>
      </div>

      <h5 class="mt-5">
        {{ getLang('個人資料') }}
      </h5>
      <div class="form-group form-row justify-content-md-center">
        <label for="birthday" class="col-sm-3 col-form-label">{{ getLang('出生日期') }} :</label>
        <div class="col-sm-6">
          <date-picker
            v-model="profile.birthday"
            value-type="format"
            :input-class="{'is-invalid':message.birthday,'form-control':true}"
            :placeholder="getLang('出生日期')"
            :lang="datePickerLang"
            style="width:294px"
          >
            <template
              v-slot:icon-calendar
            >
              <i />
            </template>
          </date-picker>
          <div class="invalid-feedback">
            {{ message.birthday }}
          </div>
        </div>
      </div>
      <div class="form-group form-row justify-content-md-center">
        <label for="birthday" class="col-sm-3 col-form-label">{{ getLang('性別') }} :</label>
        <div class="col-sm-6">
          <select v-model="profile.gender" class="form-control">
            <option value="" disabled>
              {{ getLang('請選擇') }}
            </option>
            <option value="1">
              {{ getLang('男') }}
            </option>
            <option value="2">
              {{ getLang('女') }}
            </option>
          </select>
        </div>
      </div>

      <h5 class="mt-5">
        {{ getLang('銀行訊息') }}
      </h5>
      <div class="form-group form-row justify-content-md-center">
        <label for="username2" class="col-sm-3 col-form-label">{{ getLang('銀行') }} :</label>
        <div class="col-sm-6">
          <input
            v-model="profile.bank_name"
            type="text"
            class="form-control"
            :placeholder="getLang('銀行')"
            :class="{'is-invalid':message.bank_name}"
          >
          <div class="invalid-feedback">
            {{ message.bank_name }}
          </div>
        </div>
      </div>
      <div class="form-group form-row justify-content-md-center">
        <label for="username2" class="col-sm-3 col-form-label">{{ getLang('銀行戶名') }} :</label>
        <div class="col-sm-6">
          <input
            v-model="profile.bank_account"
            type="text"
            class="form-control"
            :placeholder="getLang('銀行戶名')"
            :class="{'is-invalid':message.bank_account}"
          >
          <div class="invalid-feedback">
            {{ message.bank_account }}
          </div>
        </div>
      </div>
      <div class="form-group form-row justify-content-md-center">
        <label for="username2" class="col-sm-3 col-form-label">{{ getLang('銀行帳號') }} :</label>
        <div class="col-sm-6">
          <input
            v-model="profile.bank_number"
            type="text"
            class="form-control"
            :placeholder="getLang('銀行帳號')"
            :class="{'is-invalid':message.bank_number}"
          >
          <div class="invalid-feedback">
            {{ message.bank_number }}
          </div>
        </div>
      </div>
      <div class="form-group form-row justify-content-md-center">
        <label for="username2" class="col-sm-3 col-form-label">{{ getLang('銀行分行') }} :</label>
        <div class="col-sm-6">
          <input
            v-model="profile.bank_branch"
            type="text"
            class="form-control"
            :placeholder="getLang('銀行分行')"
            :class="{'is-invalid':message.bank_branch}"
          >
          <div class="invalid-feedback">
            {{ message.bank_branch }}
          </div>
        </div>
      </div>

      <div class="form-group row mt-5">
        <div class="col-sm-12 text-center">
          <button class="btn btn-magenta px-5" @click="updateMember">
            {{ getLang('提交') }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
import { getMemberInfo, updateMemberInfo } from '~/api/member.js';
import regex from '~/assets/scripts/regex';
export default {
  data () {
    return {
      backupProfile: {},
      profile: {},
      watchFunc: null,
      message: {},
      validate: {
        password: true,
        repeatPassword: true
      },
      regex: {
        password: regex.password
      }
    };
  },
  computed: {
    ...mapFields(['userInfo']),
    ...mapFields('lang', ['selectLang']),
    datePickerLang () {
      return this.selectLang.toLowerCase();
    }
  },
  mounted () {
    this.watchFunc = this.$watch('userInfo', (newVal, oldVal) => {
      if (newVal) {
        this.getMember();
        this.watchFunc && this.watchFunc();
      }
    }, { immediate: true });
  },
  methods: {
    async getMember () {
      const id = this.userInfo.id;
      try {
        const { data: list } = await getMemberInfo(id);
        const data = list[0];
        if (!data.gender) {
          data.gender = '';
        }
        this.$set(this, 'profile', data);
        this.$set(this, 'backupProfile', JSON.parse(JSON.stringify(data)));
      } catch (err) {
        this.$store.dispatch('setAlertMessage', err.message);
        this.$bvModal.show('alertModal');
      }
    },
    async validateForm () {
      const result = await Promise.all([
        this.$refs.password.validate(),
        this.$refs.repeatPassword.validate()
      ]);
      this.validate.password = result[0].valid;
      this.validate.repeatPassword = result[1].valid;
      const isAllValid = result.every(x => x.valid === true);
      return isAllValid;
    },

    async updateMember () {
      if (this.profile.old_password) {
        const validResult = await this.validateForm();
        if (validResult !== true) { return; }
      }
      this.$set(this, 'message', {});
      const fields = [
        'name', 'email', 'old_password', 'password', 'birthday', 'gender',
        'bank_name', 'bank_account', 'bank_number', 'bank_branch'
      ];
      const payload = {};
      let isUpdateResult = false;
      for (const i in fields) {
        const field = fields[i];
        if (this.profile[field] !== this.backupProfile[field]) {
          isUpdateResult = true;
          payload[field] = this.profile[field];
        }
      }

      if (!isUpdateResult) {
        this.$store.dispatch('setAlertMessage', '無修改資料');
        this.$bvModal.show('alertModal');
        return;
      }
      this.$delete(this.profile, 'old_password');
      this.$delete(this.profile, 'password');
      this.$delete(this.profile, 'password2');
      const id = this.userInfo.id;
      try {
        const res = await updateMemberInfo(payload, id);
        this.$set(this, 'backupProfile', JSON.parse(JSON.stringify(this.profile)));

        this.$store.dispatch('setAlertMessage', res.message);
        this.$bvModal.show('alertModal');
      } catch (err) {
        this.$set(this, 'message', err.messages);
        this.$store.dispatch('setAlertMessage', err.message);
        this.$bvModal.show('alertModal');
      }
    }
  }
};
</script>
