<template>
  <div class="container member-main">
    <member-nav />

    <div class="member-form form-border">
      <h5>{{ getLang('交易紀錄') }}</h5>
      <div class="form-group form-row justify-content-md-center">
        <div class="col-sm-3 col-form-label">
          {{ getLang('報表類型') }} :
        </div>
        <div class="col-sm-6">
          <select v-model="reportType" class="form-control" :class="validate.reportType?'':'is-invalid'">
            <option value="0" disabled>
              {{ getLang('請選擇') }}
            </option>
            <option v-for="item in reportTypeList" :key="item.id" :value="item.id">
              {{ getLang(item.name) }}
            </option>
          </select>
          <div class="invalid-feedback">
            {{ getLang('請選擇') }}
          </div>
        </div>
      </div>
      <div class="form-group form-row justify-content-md-center">
        <div class="btn btn-outline-light btn-sm mx-1" @click="setDate('today')">
          {{ getLang('今天') }}
        </div>
        <div class="btn btn-outline-light btn-sm mx-1" @click="setDate('yesterday')">
          {{ getLang('昨天') }}
        </div>
        <div class="btn btn-outline-light btn-sm mx-1" @click="setDate('thisWeek')">
          {{ getLang('本周') }}
        </div>
        <div class="btn btn-outline-light btn-sm mx-1" @click="setDate('lastWeek')">
          {{ getLang('上週') }}
        </div>
      </div>
      <div class="form-group form-row justify-content-md-center">
        <div class="col-sm-3 col-form-label">
          {{ getLang('由') }} :
        </div>
        <div class="col-sm-6">
          <date-picker
            v-model="startTime"
            type="datetime"
            value-type="format"
            :input-class="{'is-invalid':!validate.startTime,'form-control':true}"
            :class="validate.startTime?'':'is-invalid'"
            :lang="datePickerLang"
            :editable="false"
            :disabled-date="setMaxDate"
            :confirm="true"
            style="width:100%"
          >
            <template
              v-slot:icon-calendar
            >
              <i />
            </template>
          </date-picker>
          <div class="invalid-feedback">
            {{ getLang('此為必填欄') }}
          </div>
        </div>
      </div>
      <div class="form-group form-row justify-content-md-center">
        <div class="col-sm-3 col-form-label">
          {{ getLang('至') }} :
        </div>
        <div class="col-sm-6">
          <date-picker
            v-model="endTime"
            type="datetime"
            value-type="format"
            :input-class="{'is-invalid':!validate.endTime,'form-control':true}"
            :class="validate.endTime?'':'is-invalid'"
            :lang="datePickerLang"
            :editable="false"
            :disabled-date="setMaxDate"
            :confirm="true"
            style="width:100%"
          >
            <template
              v-slot:icon-calendar
            >
              <i />
            </template>
          </date-picker>
          <div class="invalid-feedback">
            {{ getLang('此為必填欄') }}
          </div>
          <div class="mt-1 tips">
            {{ getLang('查詢日期區間(三個月)') }}
          </div>
        </div>
      </div>

      <div class="form-group row mt-5">
        <div class="col-sm-12 text-center">
          <button class="btn btn-magenta px-5" @click="resetData();search()">
            {{ getLang('提交') }}
          </button>
        </div>
      </div>

      <template v-if="searchStatus">
        <div class="blue-line mb-4" />
        <div class="form-group form-row justify-content-md-center">
          <div for="inputp4" class="col-sm-3 col-form-label">
            {{ getLang('顯示筆數') }} :
          </div>
          <div class="col-sm-6">
            <select v-model="pageData.limit" class="form-control" @change="pageData.page = 0;search()">
              <option v-for="(item,index) in [10,20,50]" :key="index" :value="item">
                {{ item }}
              </option>
            </select>
          </div>
        </div>
        <!-- https://github.com/nuxt/components -->
        <LazyReportDeposit v-if="searchType === 1" :report-table-list="reportTableList" />
        <LazyReportWithdrawal v-if="searchType === 2" :report-table-list="reportTableList" />
        <LazyReportTransfer v-if="searchType === 3" :report-table-list="reportTableList" class="width:100px" />
        <LazyReportBetting v-if="searchType === 4" :report-table-list="reportTableList" :report-detail="reportDetail" @getDetail="getDetail" />
        <LazyReportBonus v-if="searchType === 5" :report-table-list="reportTableList" />
        <LazyReportAdjustment v-if="searchType === 6" :report-table-list="reportTableList" />
        <div v-if="reportTableList.length && reportDetail" class="d-flex">
          <div>{{ getLang('顯示第') }} {{ firstNum }} {{ getLang('至') }} {{ secondNum }} {{ getLang('項結果，') }}{{ getLang('共') }} {{ pageData.total }} {{ getLang('項') }}</div>
          <div class="ml-auto">
            <a href="javascript:void(0)" class="btn btn-outline-light btn-sm" @click="goPage('first')">&laquo;</a>
            <a href="javascript:void(0)" class="btn btn-outline-light btn-sm" @click="goPage('prev')">{{ getLang('上頁') }}</a>
            <a
              v-for="(num,index) in total"
              :key="index"
              href="javascript:void(0)"
              class="btn btn-outline-light btn-sm mx-1"
              :class="{active:pageData.page===num}"
              @click="goPage('target',num)"
            >
              {{ num+1 }}
            </a>
            <a href="javascript:void(0)" class="btn btn-outline-light btn-sm" @click="goPage('next')">{{ getLang('下頁') }}</a>
            <a href="javascript:void(0)" class="btn btn-outline-light btn-sm " @click="goPage('last')">&raquo;</a>
          </div>
        </div>
      </template>
    </div>
  </div>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
import { getRecordList, getBettingRecordList, transABLogList } from '~/api/transaction.js';

import {
  getDateByTimezone,
  getPreviousDateByDays,
  getWeekdayOfWeek
} from '~/assets/scripts/time.js';
export default {
  data () {
    return {
      reportTypeList: [
        { id: 1, name: '存款' },
        { id: 2, name: '提款' },
        { id: 3, name: '轉帳' },
        { id: 4, name: '下注' },
        { id: 5, name: '紅利優惠' },
        { id: 6, name: '額度補單' }
      ],
      reportType: 0,
      startTime: '',
      endTime: '',
      limitDays: 90,
      searchStatus: false,
      searchType: 0,
      pageData: { page: 0, limit: 10 },
      reportTableList: [],
      reportDetail: false,
      productID: '',
      validate: {
        reportType: true,
        startTime: true,
        endTime: true
      }
    };
  },
  computed: {
    ...mapFields('transaction', ['afterTransaction']),
    ...mapFields('lang', ['selectLang']),
    firstNum () {
      const result = this.pageData.page * this.pageData.limit + 1;
      return result;
    },
    secondNum () {
      const data = (this.pageData.page + 1) * this.pageData.limit;
      const result = data > this.pageData.total ? this.pageData.total : data;
      return result;
    },
    totalPage () {
      return Math.ceil(this.pageData.total / this.pageData.limit);
    },
    total () {
      let count = 0;
      if (this.pageData.page === 0 || this.pageData.page === this.totalPage - 1) {
        count = 4;
      } else if (this.pageData.page === 1 || this.pageData.page === this.totalPage - 2) {
        count = 3;
      } else {
        count = 2;
      }
      const start = this.pageData.page - count;
      const end = this.pageData.page + count;
      const result = [];
      for (let i = 0; i < this.totalPage; i++) {
        if (i >= start && i <= end) {
          result.push(i);
        }
      }
      return result;
    },
    datePickerLang () {
      return this.selectLang.toLowerCase();
    }
  },
  mounted () {
    if (this.afterTransaction.status) {
      this.startTime = this.getDate('today', 'start');
      this.endTime = this.getDate('today', 'end');
      this.reportType = this.afterTransaction.id;
      this.search();
      this.afterTransaction = { status: false, id: 0 };
    }
  },
  methods: {
    setMaxDate (date) {
      const today = new Date().setHours(0, 0, 0, 0);
      const target = today - 86400000 * (this.limitDays - 1);
      return date > new Date(today) || date < new Date(target);
    },
    setDate (type) {
      this.startTime = this.getDate(type, 'start');
      this.endTime = this.getDate(type, 'end');
    },
    getDate (key, type) {
      switch (key) {
        case 'today': {
          return type === 'start'
            ? this.simpleDateFormat(
              getDateByTimezone(new Date(), { isStartOfDate: true })
            )
            : this.simpleDateFormat(
              getDateByTimezone(new Date(), { isEndOfDate: true })
            );
        }
        case 'yesterday': {
          return type === 'start'
            ? this.simpleDateFormat(
              getPreviousDateByDays(1, { isStartOfDate: true })
            )
            : this.simpleDateFormat(getPreviousDateByDays(1, { isEndOfDate: true }));
        }
        case 'thisWeek': {
          return type === 'start'
            ? this.simpleDateFormat(
              getDateByTimezone(getWeekdayOfWeek(1), { isStartOfDate: true })
            )
            : this.simpleDateFormat(
              getDateByTimezone(getWeekdayOfWeek(7), { isEndOfDate: true })
            );
        }
        case 'lastWeek': {
          return type === 'start'
            ? this.simpleDateFormat(
              getWeekdayOfWeek(1, false, getPreviousDateByDays(7, { isStartOfDate: true }))
            )
            : this.simpleDateFormat(
              getWeekdayOfWeek(7, false, getPreviousDateByDays(7, { isEndOfDate: true }))
            );
        }
        default:
          break;
      }
    },
    validateForm () {
      const result = [];
      this.validate.reportType = this.reportType > 0;
      this.validate.startTime = this.startTime.length > 0;
      this.validate.endTime = this.endTime.length > 0;
      result.push(
        { valid: this.validate.reportType },
        { valid: this.validate.startTime },
        { valid: this.validate.endTime }
      );
      const isAllValid = result.every(x => x.valid === true);
      return isAllValid;
    },
    resetData () {
      this.reportDetail = false;
      this.reportTableList = [];
    },
    async search () {
      const validResult = await this.validateForm();
      if (validResult !== true) { return; }
      this.searchStatus = true;
      this.searchType = this.reportType;
      switch (this.searchType) {
        case 4: {
          this.reportDetail ? this.getBettingRecordList(2, this.productID) : this.getBettingRecordList(1);
          break;
        }
        default:
          this.reportDetail = true;
          this.getRecordList();
          break;
      }
    },
    async getRecordList () {
      const params = {
        'where[type]': this.searchType,
        'where[updatedAtStart]': this.startTime,
        'where[updatedAtEnd]': this.endTime,
        page: this.pageData.page,
        limit: this.pageData.limit
      };
      let callApi = getRecordList;
      if (this.searchType == 3) {
        callApi = transABLogList;
        // function () {
        //   return { data: [], pageData: {} };
        // };
      }
      try {
        const res = await callApi(params);
        this.reportTableList = res.data;
        this.pageData = res.pageData;
      } catch (err) {
        this.$store.dispatch('setAlertMessage', err.message);
        this.$bvModal.show('alertModal');
      }
    },
    async getBettingRecordList (level, id) {
      const params = {
        lv: level,
        pid: id || '',
        startTime: this.startTime,
        endTime: this.endTime,
        page: this.pageData.page,
        limit: this.pageData.limit
      };
      try {
        const res = await getBettingRecordList(params);
        this.reportTableList = res.data;
        this.pageData = res.pageData;
        id ? this.reportDetail = true : this.reportDetail = false;
      } catch (err) {
        this.$store.dispatch('setAlertMessage', err.message);
        this.$bvModal.show('alertModal');
      }
    },
    getDetail (data) {
      this.productID = data;
      this.getBettingRecordList(2, data);
    },
    goPage (type, num) {
      switch (type) {
        case 'first': {
          this.pageData.page = 0;
          break;
        }
        case 'prev': {
          if (this.pageData.page > 0) {
            this.pageData.page--;
          }
          break;
        }
        case 'target': {
          this.pageData.page = num;
          break;
        }
        case 'next': {
          if (this.pageData.page < this.total[this.total.length - 1]) {
            this.pageData.page++;
          }
          break;
        }
        case 'last': {
          this.pageData.page = this.totalPage - 1;
          break;
        }
        default:
          break;
      }
      this.search();
    }
  }
};
</script>
<style scoped>
.active {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
.mx-1{
  margin: 0 0.1rem ;
}
</style>
