<template>
  <div class="container member-main">
    <member-nav />

    <div class="member-form form-border">
      <h5>{{ getLang('存款') }}</h5>
      <div class="form-group form-row justify-content-md-center">
        <label for="input4" class="col-sm-3 col-form-label">{{ getLang('存款渠道') }} :</label>
        <div class="col-sm-6">
          <select id="input4" v-model="payLv1Select" class="form-control" @change="payLv2Select=undefined">
            <option
              v-for="(item) in payLv1List"
              :key="item.id"
              :value="item.id"
            >
              {{ item.bank_name }}
            </option>
          </select>
        </div>
      </div>
      <div v-if="payLv2List[payLv1Select]" class="form-group form-row justify-content-md-center">
        <label for="input1" class="col-sm-3 col-form-label">{{ getLang('存款選項') }} :</label>
        <div class="col-sm-6">
          <select
            id="input1"
            v-model="payLv2Select"
            class="form-control "
            :class="validate.tradeType?'':'is-invalid'"
          >
            <option :value="undefined" disabled>
              {{ getLang('請選擇') }}
            </option>
            <option v-for="(item,index) in payLv2List[payLv1Select]" :key="index" :value="index">
              {{ getLang(item.bank_acc_name) }}
            </option>
          </select>
          <div class="invalid-feedback">
            {{ getLang('請選擇') }}
          </div>
        </div>
      </div>
      <div v-if="payTypeItem" class="form-group form-row justify-content-md-center">
        <label for="input" class="col-sm-3 col-form-label">{{ getLang('遊戲點數') }} :</label>
        <div class="col-sm-6">
          <ValidationProvider
            ref="amount"
            :rules="{
              required: true,
              integer: true,
              minValue: payTypeItem.min_deposit,
              maxValue: payTypeItem.max_deposit,
            }"
          >
            <input
              id="input"
              v-model.number="postData.amount"
              type="text"
              class="form-control"
              :placeholder="amountLimit"
              :class="validate.amount?'':'is-invalid'"
            >
            <div class="invalid-feedback">
              {{ amountLimit }}
            </div>
          </ValidationProvider>
          <div v-if="rateTip" class="tips">
            {{ rateTip }}
          </div>
        </div>
      </div>
      <div v-if="promoList.length" class="form-group form-row justify-content-md-center">
        <label for="input2" class="col-sm-3 col-form-label">{{ getLang('優惠紅利') }} :</label>
        <div class="col-sm-6">
          <select id="input2" v-model="promoIndex" class="form-control" :class="validate.pid?'':'is-invalid'">
            <option :value="undefined">
              {{ getLang('請選擇') }}
            </option>
            <option v-for="(item,index) in promoList" :key="index" :value="index">
              {{ getLang(item.title) }}
            </option>
          </select>
          <div class="invalid-feedback">
            {{ getLang('請選擇') }}
          </div>
          <div v-if="promoIndex && 0" class="tips">
            {{ getLang('參與優惠紅利') + ' (' + exchangeRate.currency + ') ' + getLang('點數約') + '：' + promoPoints }}
          </div>
          <ul class="tips mt-2">
            <li>{{ getLang('請於下單後五分鐘內付款.') }}</li>
            <li>{{ getLang('逾時請重新提交訂單，不要超時後付款') }}</li>
            <li>{{ getLang('請於支付寶轉帳時的訊息處，填寫貴客戶的帳號或電話號碼') }}</li>
          </ul>
        </div>
      </div>

      <div class="form-group row mt-5">
        <div class="col-sm-12 text-center">
          <button class="btn btn-magenta px-5" @click="submit()">
            {{ getLang('提交') }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
// import { getPaymentList, getPromoList, deposit, getExchangeRate } from '~/api/transaction.js';
import { getBankList, getBankAccount, getPromoList, deposit, getPayRate } from '~/api/transaction.js';
export default {
  data () {
    return {
      payLv1List: [],
      payLv2List: {},
      payTypeList: [],
      promoList: [],
      payLv1Select: undefined,
      payLv2Select: undefined,

      promoIndex: undefined,

      postData: {
        tradeType: 0,
        amount: null,
        pid: 0
      },
      validate: {
        tradeType: true,
        amount: true,
        pid: true
      },
      rnd: -1, // Math.floor(Math.random() * 100) // 0-99
      rate: {}
    };
  },
  computed: {
    ...mapFields('transaction', ['afterTransaction']),
    ...mapFields('lang', ['selectLang']),
    amountLimit () {
      if (!this.payTypeItem) { return ''; };
      const min = Number(this.payTypeItem.min_deposit);
      const max = Number(this.payTypeItem.max_deposit);
      const result = this.getLang('最低存款') + '：' + min.toFixed(2) + ' / ' + this.getLang('最高存款') + '：' + max.toFixed(2);
      return result;
    },
    promoObject () {
      const result = {};
      for (const i in this.promoList) {
        const item = this.promoList[i];
        result[item.id] = item;
      }
      return result;
    },
    payTypeItem () {
      if (this.payLv2List[this.payLv1Select]) {
        if (this.payLv2List[this.payLv1Select][this.payLv2Select]) {
          return this.payLv2List[this.payLv1Select][this.payLv2Select];
        }
      }
      return null;
    },
    promoItem () {
      return this.promoList[this.promoIndex];
    },
    rateTip () {
      if (this.rate[this.payTypeItem.type]) {
        const inRate = this.rate[this.payTypeItem.type].in_rate;
        if (this.payTypeItem) {
          return this.payTypeItem.bank_acc_name + ':' + Math.round((this.postData.amount * 100 / inRate)) / 100;
        }
      }
      return '';
    }
  },
  mounted () {
    this.getPayment();
    this.getPromoList();
    this.getPayRate();
  },
  methods: {
    getPayRate () {
      getPayRate().then(({ data }) => {
        this.rate = data;
      });
    },
    getPayment () {
      const bankIdObject = {};
      const bankIds = [];

      getBankAccount({ where: { purpose: 1, status: 1 } }).then(({ data }) => {
        for (let i = 0; i < data.length; i++) {
          const item = data[i];
          const bankId = item.bank_id;
          if (!bankIdObject[bankId]) {
            bankIdObject[bankId] = bankId;
            bankIds.push(bankId);
          }
          this.payLv2List[bankId] || this.$set(this.payLv2List, bankId, []);
          this.payLv2List[bankId].push(item);
        }
        getBankList({ where: { status: 1, id: bankIds } }).then(({ data }) => {
          if (data.length) {
            this.payLv1List = data;
            this.payLv1Select = data[0].id;
          }
        });
      });
    },
    async getPromoList () {
      try {
        const res = await getPromoList();
        this.promoList = res.data;
      } catch (err) {
        this.$store.dispatch('setAlertMessage', err.message);
        this.$bvModal.show('alertModal');
      }
    },
    // async getExchangeRate () {
    //   try {
    //     const res = await getExchangeRate();
    //     this.exchangeRate = res.data;
    //   } catch (err) {
    //     this.$store.dispatch('setAlertMessage', err.message);
    //     this.$bvModal.show('alertModal');
    //   }
    // },
    async validateForm () {
      if (this.postData.tradeType === 'PAY02') {
        if (this.postData.amount % 50 != 0) {
          this.$store.dispatch('setAlertMessage', this.getLang('金額需以50為倍數'));
          this.$bvModal.show('alertModal');
          return false;
        }
      } else if (this.postData.tradeType === 'PAY05' || this.postData.tradeType === 'PAY07') {
        if (this.postData.amount % 100 != 0) {
          this.$store.dispatch('setAlertMessage', this.getLang('金額需以100為倍數'));
          this.$bvModal.show('alertModal');
          return false;
        }
      }
      const result = [];
      this.validate.tradeType = !!this.payTypeItem;
      result.push({ valid: this.validate.tradeType });
      if (this.$refs.amount) {
        this.validate.amount = (await this.$refs.amount.validate()).valid;
        result.push({ valid: this.validate.amount });
      }
      const isAllValid = result.every(x => x.valid === true);

      return isAllValid;
    },
    async submit () {
      this.rnd = -1;
      const validResult = await this.validateForm();
      if (validResult !== true) { return; }
      this.postData.tradeType = this.payTypeItem.type;

      let msg = '';
      if (this.promoItem) {
        msg += `${this.getLang('優惠紅利')}:${this.promoItem.id ? this.promoItem.title : ''}<br>`;
      }
      let message = `
        ${this.getLang('存款選項')}:${this.payTypeItem.bank_acc_name}
        <br>
        ${this.getLang('遊戲點數')}:`;

      if (['PAY01', 'PAY03', 'PAY04', 'PAY06', 'PAY07'].includes(this.postData.tradeType)) {
        this.rnd = Math.floor(Math.random() * 100);
      }
      if (this.rnd == -1) {
        message += this.postData.amount;
      } else {
        message += (this.postData.amount + this.rnd);
        if (this.postData.tradeType == 'PAY07') {
          message += '(' + this.getLang('系統強制給後兩位 : $0').replace('$0', this.rnd) + ')';
        } else {
          message += '(' + this.getLang('系統強制給小數後兩位 : $0').replace('$0', '0.' + this.rnd) + ')';
        }
      }
      if (this.rateTip) {
        message += '<br>';
        message += this.rateTip;
      }
      message += `<br>
        ${msg}
        ${this.getLang('確認是否存款?')}`;

      this.$store.dispatch('setConfirmMessage',
        {
          message,
          ok: this.deposit
        });

      this.$bvModal.show('confirmModal');
    },
    async deposit () {
      const payload = JSON.parse(JSON.stringify(this.postData));
      if (this.rnd != -1) {
        if (this.postData.tradeType == 'PAY07') {
          payload.amount = payload.amount + this.rnd;
        } else {
          payload.amount = payload.amount + (this.rnd / 100);
        }
      }

      try {
        const res = await deposit(payload);
        window.open(res.jumpUrl);
        this.afterTransaction = { status: true, id: 1 };
        this.$router.push({ path: '/member/history' });
      } catch (err) {
        for (const field in err.messages) {
          this.validate[field] = err.messages[field];
        }
        this.$store.dispatch('setAlertMessage', err.message);
        this.$bvModal.show('alertModal');
      } finally {
        this.$bvModal.hide('confirmModal');
      }
    }
  }
};
</script>
