<template>
  <div class="container member-main">
    <member-nav />

    <div class="member-form form-border">
      <h5>{{ getLang('轉帳') }}</h5>
      <table width="100%" class="walletTable mb-4">
        <tbody id="side_user_balance2">
          <tr class="table-bordered">
            <td colspan="3">
              <strong>{{ getLang('主錢包餘額') }}</strong><br>
              <span v-if="userInfo" id="w_balx_main">{{ userInfo.amount }}</span>
            </td>
          </tr>
          <tr class="d-flex flex-wrap">
            <td v-for="item in gameWalletList" :key="item.id" width="25%" class="table-bordered">
              <div>
                <strong>{{ item.name }}</strong>
              </div>
              <div v-if="!item.status">
                {{ getLang('維護中') }}
              </div>
              <div v-else>
                <div v-if="item.show">
                  {{ item.amount }}
                </div>
                <loading v-else />
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="form-group form-row justify-content-md-center">
        <label for="input1" class="col-sm-2 col-form-label">{{ getLang('由') }} :</label>
        <div class="col-sm-6">
          <select id="input1" v-model="transferOutWallet" class="form-control" :class="validate.transferOut?'':'is-invalid'">
            <option value="-1" disabled>
              {{ getLang('請選擇') }}
            </option>
            <option value="">
              {{ getLang('主錢包餘額') }}
            </option>
            <option v-for="item in gameWalletList" :key="item.id" :disabled="!item.status" :value="item.code">
              {{ item.name }}
            </option>
          </select>
          <div class="invalid-feedback">
            {{ getLang('請選擇') }}
          </div>
        </div>
      </div>
      <div class="form-group form-row justify-content-md-center">
        <label for="inputp3" class="col-sm-2 col-form-label">{{ getLang('至') }} :</label>
        <div class="col-sm-6">
          <select id="input3" v-model="transferInWallet" class="form-control" :class="validate.transferIn?'':'is-invalid'">
            <option value="-1" disabled>
              {{ getLang('請選擇') }}
            </option>
            <option value="">
              {{ getLang('主錢包餘額') }}
            </option>
            <option v-for="item in gameWalletList" :key="item.id" :disabled="!item.status" :value="item.code">
              {{ item.name }}
            </option>
          </select>
          <div class="invalid-feedback">
            {{ getLang('請選擇') }}
          </div>
        </div>
      </div>
      <div class="form-group form-row justify-content-md-center">
        <label for="input2" class="col-sm-2 col-form-label">{{ getLang('總額') }} :</label>
        <div class="col-sm-6">
          <ValidationProvider
            ref="amount"
            :rules="{
              required: true,
              integer: true,
              maxValue:49999,
              isNot:0
            }"
          >
            <input
              v-model="transferAmount"
              type="text"
              class="form-control"
              :class="validate.amount?'':'is-invalid'"
            >
            <div class="invalid-feedback">
              {{ getLang('請輸入轉讓總額，最高轉帳額為$49999') }}
            </div>
          </ValidationProvider>
        </div>
      </div>

      <div class="form-group row mt-5">
        <div class="col-sm-12 text-center">
          <button class="btn btn-magenta mt-2" @click="submit('AtoB')">
            {{ getLang('提交') }}
          </button>
          <button class="btn btn-magenta mt-2" @click="submit('all')">
            {{ getLang('全轉至主錢包') }}
          </button>
        </div>
      </div>
      <div class="form-group form-row justify-content-md-center tips">
        {{ getLang('每次最高轉帳額為$49999，如金額超過，請分開多次轉帳') }}
      </div>
    </div>
  </div>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
import { getBalance, AtoBpoint, getProductList } from '~/api/game.js';
export default {
  data () {
    return {
      transferAmount: 0,
      transferInWallet: -1,
      transferOutWallet: -1,
      transferInIndex: 0,
      transferOutIndex: 0,
      gameWalletList: [],
      validate: {
        transferIn: true,
        transferOut: true,
        amount: true
      }
    };
  },
  computed: {
    ...mapFields(['userInfo'])
  },
  mounted () {
    this.getProductList();
  },
  methods: {
    async getProductList () {
      const params = {
        'where[type]': 1
      };
      try {
        const res = await getProductList(params);
        this.gameWalletList = [...res.data];
        this.gameWalletList.forEach((x) => {
          this.getBalance(x);
        });
        this.$store.dispatch('setUserInfo');
      } catch (err) {
        this.$store.dispatch('setAlertMessage', err.message);
        this.$bvModal.show('alertModal');
      }
    },
    async getBalance (item) {
      const payload = {
        gameName: item.code
      };
      this.$set(item, 'show', false);
      try {
        const res = await getBalance(payload);
        this.$set(item, 'amount', parseInt(res.data).toFixed(2));
        this.$set(item, 'show', true);
      } catch (err) {
        item.status = 0;
      }
    },
    async validateForm () {
      const result = await Promise.all([
        this.$refs.amount.validate()
      ]);
      this.validate.amount = result[0].valid;
      this.validate.transferIn = this.transferInWallet !== -1;
      this.validate.transferOut = this.transferOutWallet !== -1;
      result.push({ valid: this.validate.transferIn }, { valid: this.validate.transferOut });
      const isAllValid = result.every(x => x.valid === true);
      return isAllValid;
    },
    async submit (type) {
      if (type === 'AtoB') {
        const validResult = await this.validateForm();
        if (validResult !== true) { return; }
        if (this.transferInWallet === this.transferOutWallet) {
          this.$store.dispatch('setAlertMessage', this.getLang('轉出轉入不能相同'));
          this.$bvModal.show('alertModal');
          return;
        }
        this.transferOutIndex = this.gameWalletList.findIndex(x => x.code === this.transferOutWallet);
        this.transferInIndex = this.gameWalletList.findIndex(x => x.code === this.transferInWallet);
        const transferOutMsg = this.transferOutWallet ? this.gameWalletList[this.transferOutIndex].name : this.getLang('主錢包餘額');
        const transferInMsg = this.transferInWallet ? this.gameWalletList[this.transferInIndex].name : this.getLang('主錢包餘額');
        this.$store.dispatch('setConfirmMessage',
          {
            message: this.getLang(`${this.getLang('由')}:${transferOutMsg}<br>${this.getLang('至')}:${transferInMsg}<br>${this.getLang('總額')}:${this.transferAmount}<br>${this.getLang('確認是否轉帳?')}`),
            ok: this.AtoBpoint
          });
      } else {
        this.$store.dispatch('setConfirmMessage', { message: this.getLang('確認是否全轉至主錢包?'), ok: this.allPoint });
      }
      this.$bvModal.show('confirmModal');
    },
    async AtoBpoint () {
      const payload = {
        gameA: this.transferOutWallet,
        gameB: this.transferInWallet,
        money: this.transferAmount
      };
      try {
        await AtoBpoint(payload);
        this.gameWalletList[this.transferOutIndex] && this.getBalance(this.gameWalletList[this.transferOutIndex]);
        this.gameWalletList[this.transferInIndex] && this.getBalance(this.gameWalletList[this.transferInIndex]);
        if (!this.transferOutWallet || !this.transferOutWallet) {
          this.$store.dispatch('setUserInfo');
        }
        this.transferInWallet = -1;
        this.transferOutWallet = -1;
        this.transferAmount = 0;
        this.$store.dispatch('setAlertMessage', this.getLang('操作成功'));
        this.$bvModal.show('alertModal');
      } catch (err) {
        this.$store.dispatch('setAlertMessage', err.message);
        this.$bvModal.show('alertModal');
      } finally {
        this.$bvModal.hide('confirmModal');
      }
    },
    allPoint () {
      this.gameWalletList.forEach(async (x) => {
        if (x.amount > 0) {
          const payload = {
            gameA: x.code,
            gameB: '',
            money: x.amount
          };
          try {
            await AtoBpoint(payload);
            this.getBalance(x);
            this.$store.dispatch('setAlertMessage', this.getLang('操作成功'));
            this.$bvModal.show('alertModal');
          } catch (err) {
          }
        }
      });
      this.$bvModal.hide('confirmModal');
    }
  }
};
</script>
