<template>
  <div class="container member-main">
    <member-nav />

    <div class="member-form form-border">
      <h5>{{ getLang('提款') }}</h5>
      <div class="form-group form-row justify-content-md-center">
        <div class="col-sm-4 col-form-label">
          {{ getLang('帳戶餘額') }} :
        </div>
        <div class="col-sm-6">
          <div v-if="userInfo" class="form-control">
            {{ userInfo.amount }}
          </div>
          <div class="tips">
            {{ getLang('每天只可有3次提款') }}
          </div>
        </div>
      </div>
      <div class="form-group form-row justify-content-md-center">
        <label for="input4" class="col-sm-4 col-form-label">{{ getLang('取款渠道') }} :</label>
        <div class="col-sm-6">
          <select id="input4" v-model="payLv1Select" class="form-control" @change="payLv2Select=undefined">
            <option
              v-for="(item) in payLv1List"
              :key="item.id"
              :value="item.id"
            >
              {{ item.bank_name }}
            </option>
          </select>
        </div>
      </div>
      <div v-if="payLv2List[payLv1Select]" class="form-group form-row justify-content-md-center">
        <div for="inputp3" class="col-sm-4 col-form-label">
          {{ getLang(fields['tradeType']) }} :
        </div>
        <div class="col-sm-6">
          <select
            v-model="payLv2Select"
            class="form-control"
            :class="message.tradeType?'is-invalid':''"
          >
            <option :value="undefined" disabled>
              {{ getLang('請選擇') }}
            </option>
            <option v-for="(item,index) in payLv2List[payLv1Select]" :key="index" :value="index">
              {{ getLang(item.bank_acc_name) }}
            </option>
          </select>
          <div class="invalid-feedback">
            {{ getLang(message.tradeType) }}
          </div>
        </div>
      </div>
      <div v-if="payTypeItem" class="form-group form-row justify-content-md-center">
        <div for="inputp3" class="col-sm-4 col-form-label">
          {{ getLang(fields['amount']) }} :
        </div>
        <div class="col-sm-6">
          <ValidationProvider
            ref="amount"
            :rules="{
              required: true,
            }"
          >
            <input
              v-model.number="postData.amount"
              type="text"
              class="form-control"
              :class="message.amount?'is-invalid':''"
              :placeholder="getLang('最低取款') + '：'+ payTypeItem.min_deposit"
            >
            <div class="invalid-feedback">
              {{ getLang(message.amount) }}
            </div>
          </ValidationProvider>
          <div v-if="rateTip" class="tips">
            {{ rateTip }}
          </div>
        </div>
      </div>

      <template v-if="payTypeItem && payTypeItem.type === 'PAY07'">
        <div class="form-group form-row justify-content-md-center">
          <div for="inputp3" class="col-sm-4 col-form-label">
            {{ getLang(fields['name']) }} :
          </div>
          <div class="col-sm-6">
            <ValidationProvider
              ref="name"
              :rules="{
                required: true,
              }"
            >
              <input
                v-model="postData.name"
                type="text"
                class="form-control"
                :class="message.name?'is-invalid':''"
              >
              <div class="invalid-feedback">
                {{ getLang(message.name) }}
              </div>
            </ValidationProvider>
          </div>
        </div>
        <div class="form-group form-row justify-content-md-center">
          <div for="inputp3" class="col-sm-4 col-form-label">
            {{ getLang(fields.bankName) }} :
          </div>
          <div class="col-sm-6">
            <ValidationProvider
              ref="bankName"
              :rules="{
                required: true,
              }"
            >
              <input
                v-model="postData.bankName"
                type="text"
                class="form-control"
                :class="message.bankName?'is-invalid':''"
              >
              <div class="invalid-feedback">
                {{ getLang(message.bankName) }}
              </div>
            </ValidationProvider>
          </div>
        </div>
        <div class="form-group form-row justify-content-md-center">
          <div for="inputp3" class="col-sm-4 col-form-label">
            {{ getLang(fields.branchCode) }} :
          </div>
          <div class="col-sm-6">
            <ValidationProvider
              ref="bankName"
              :rules="{
                required: true,
              }"
            >
              <input
                v-model="postData.branchCode"
                type="text"
                class="form-control"
                :class="message.branchCode?'is-invalid':''"
              >
              <div class="invalid-feedback">
                {{ getLang(message.branchCode) }}
              </div>
            </ValidationProvider>
          </div>
        </div>
        <div class="form-group form-row justify-content-md-center">
          <div for="inputp3" class="col-sm-4 col-form-label">
            {{ getLang(fields.bankAccount) }} :
          </div>
          <div class="col-sm-6">
            <ValidationProvider
              ref="bankAccount"
              :rules="{
                required: true,
              }"
            >
              <input
                v-model="postData.bankAccount"
                type="text"
                class="form-control"
                :class="message.bankAccount?'is-invalid':''"
              >
              <div class="invalid-feedback">
                {{ getLang(message.bankAccount) }}
              </div>
            </ValidationProvider>
          </div>
        </div>
      </template>
      <template v-if="payTypeItem && (payTypeItem.type === 'PAY14' || payTypeItem.type === 'PAY15' || payTypeItem.type === 'PAY16' || payTypeItem.type === 'PAY17')">
        <div class="form-group form-row justify-content-md-center">
          <div for="inputp3" class="col-sm-4 col-form-label">
            {{ getLang(fields['walletAddress']) }} :
          </div>
          <div class="col-sm-6">
            <ValidationProvider
              ref="walletAddress"
              :rules="{
                required: true,
              }"
            >
              <input
                v-model="postData.walletAddress"
                type="text"
                class="form-control"
                :class="message.walletAddress?'is-invalid':''"
              >
              <div class="invalid-feedback">
                {{ getLang(message.walletAddress) }}
              </div>
            </ValidationProvider>
          </div>
        </div>
      </template>
      <div class="form-group row mt-5">
        <div class="col-sm-12 text-center">
          <button class="btn btn-magenta px-5" @click="submit()">
            {{ getLang('提交') }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapFields } from 'vuex-map-fields';
import regex from '~/assets/scripts/regex';
// import { getPaymentList, withdrawal } from '~/api/transaction';
import { getBankList, getBankAccount, withdrawal, getPayRate } from '~/api/transaction.js';
export default {
  data () {
    return {
      payLv1List: [],
      payLv2List: {},
      payTypeList: [],
      promoList: [],
      payLv1Select: undefined,
      payLv2Select: undefined,

      tradeTypeList: [],
      tradeTypeIndex: 0,
      postData: {
        bank_accounts_id: 0,
        bank_id: 0,
        tradeType: '',
        amount: null
      },
      withdrawMin: 0,
      fields: {
        tradeType: '取款方法',
        amount: '取款點數',
        name: '全名',
        phone: '聯繫電話',
        email: '電子郵件',
        bankAccount: '銀行帳號',
        bankName: '銀行名稱',
        branchCode: '分行代號',
        walletAddress: '錢包地址'
      },
      message: {},
      regex: {
        phone: regex.phone
      },
      rate: {}
    };
  },
  computed: {
    ...mapFields(['userInfo']),
    ...mapFields('transaction', ['afterTransaction']),
    payTypeItem () {
      if (this.payLv2List[this.payLv1Select]) {
        if (this.payLv2List[this.payLv1Select][this.payLv2Select]) {
          return this.payLv2List[this.payLv1Select][this.payLv2Select];
        }
      }
      return null;
    },
    rateTip () {
      if (this.rate[this.payTypeItem.type]) {
        const outRate = this.rate[this.payTypeItem.type].out_rate;
        if (this.payTypeItem) {
          return this.payTypeItem.bank_acc_name + ':' + Math.round((this.postData.amount * 100 / outRate)) / 100;
        }
      }
      return '';
    }
  },
  mounted () {
    this.getPayRate();
    this.getPayment();
  },
  methods: {
    getPayRate () {
      getPayRate().then(({ data }) => {
        this.rate = data;
      });
    },
    getPayment () {
      const bankIdObject = {};
      const bankIds = [];
      getBankAccount({ where: { purpose: 2, status: 1 } }).then(({ data }) => {
        for (let i = 0; i < data.length; i++) {
          const item = data[i];
          const bankId = item.bank_id;
          if (!bankIdObject[bankId]) {
            bankIdObject[bankId] = bankId;
            bankIds.push(bankId);
          }
          this.payLv2List[bankId] || this.$set(this.payLv2List, bankId, []);
          this.payLv2List[bankId].push(item);
          // console.log(item);
        }
        getBankList({ where: { status: 1, id: bankIds } }).then(({ data }) => {
          if (data.length) {
            this.payLv1List = data;
            this.payLv1Select = data[0].id;
          }
        });
      });
    },
    submit () {
      if (this.postData.amount < this.payTypeItem.min_deposit) {
        this.$store.dispatch('setAlertMessage', this.getLang('金額需大於最低取款'));
        this.$bvModal.show('alertModal');
        return;
      }
      const postData = {};
      let fieldMsg = '';
      switch (this.payTypeItem.type) {
        case 'PAY07': {
          postData.name = this.postData.name;
          postData.bankName = this.postData.bankName;
          postData.branchCode = this.postData.branchCode;
          postData.bankAccount = this.postData.bankAccount;
          fieldMsg += `<br>${this.getLang('全名')}:${this.postData.name}`;
          fieldMsg += `<br>${this.getLang('銀行名稱')}:${this.postData.bankName}`;
          fieldMsg += `<br>${this.getLang('分行代號')}:${this.postData.branchCode}`;
          fieldMsg += `<br>${this.getLang('銀行帳號')}:${this.postData.bankAccount}`;
          break;
        }
        case 'PAY14':case 'PAY15':case 'PAY16':case 'PAY17': {
          postData.walletAddress = (this.postData.walletAddress + '').trim();
          fieldMsg += `<br>${this.getLang('錢包地址')}:${this.postData.walletAddress}`;
          break;
        }
        default:
          break;
      }

      postData.tradeType = this.payTypeItem.type;
      postData.amount = this.postData.amount;

      this.$store.dispatch('setConfirmMessage',
        {
          message: this.getLang(`${this.getLang('取款方法')}:${this.payTypeItem.bank_acc_name}<br>${this.getLang('總額')}:${this.postData.amount}${fieldMsg}<br>${this.getLang('確認是否提款?')}`),
          ok: this.withdrawal.bind(null, postData)
        });
      this.$bvModal.show('confirmModal');
    },
    async withdrawal (postData) {
      // 表單驗證暫時先交給後端處理
      try {
        const { message } = await withdrawal(postData);
        this.$store.dispatch('setAlertMessage', message);
        this.$bvModal.show('alertModal');
        this.$store.dispatch('setUserInfo');
        this.$set(this, 'message', {});
        this.afterTransaction = { status: true, id: 2 };
        this.$router.push({ path: '/member/history' });
      } catch ({ message, messages }) {
        this.$store.dispatch('setAlertMessage', message);
        this.$bvModal.show('alertModal');
        if (messages) {
          this.$set(this, 'message', messages);
        }
      } finally {
        this.$bvModal.hide('confirmModal');
      }
    }
  }
};
</script>
